.viewer-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%; }

.image-viewer {
  position: fixed;
  z-index: 10001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.viewer-mask {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #111;
  opacity: 0.85; }

.viewer-close {
  position: absolute;
  z-index: 20;
  right: 20px;
  top: 0;
  padding: 30px;
  cursor: pointer; }
  .viewer-close .icon {
    background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);height: 24px;width: 24px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -72px -85px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-close .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -72px -85px;width: 24px;height: 24px; } }

.viewer-toolbar-shadow {
  display: none;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #000;
  filter: alpha(opacity=0);
  opacity: 0; }

.support-flex .viewer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
.viewer-stage {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  use-select: none; }
  .viewer-stage img {
    position: absolute; }
  .viewer-stage.loading {
    background-image: url(/img/2017/common/loading-72x72.gif);
    background-position: center center;
    background-repeat: no-repeat; }
    .viewer-stage.loading img {
      display: none; }
  .viewer-stage.draggable img {
    cursor: move; }

.support-flex .viewer-stage {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.not-support-flex .viewer-stage {
  height: 100%; }
.viewer-nav {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px; }
  .viewer-nav .viewer-prev,
  .viewer-nav .viewer-next {
    display: none;
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 85px;
    margin-top: -42px;
    cursor: pointer; }
    .viewer-nav .viewer-prev.active,
    .viewer-nav .viewer-next.active {
      display: block; }
  .viewer-nav .viewer-prev .icon {
    background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);margin-left: -15px;margin-top: -42.5px;top: 50%;left: 50%;position: absolute;height: 85px;width: 30px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -60px -0px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-nav .viewer-prev .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -60px -0px;width: 30px;height: 85px; } }
  .viewer-nav .viewer-prev:hover .icon {
    background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);margin-left: -15px;margin-top: -42.5px;top: 50%;left: 50%;position: absolute;height: 85px;width: 30px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -30px -0px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-nav .viewer-prev:hover .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -30px -0px;width: 30px;height: 85px; } }
  .viewer-nav .viewer-next .icon {
    background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);margin-left: -15px;margin-top: -42.5px;top: 50%;left: 50%;position: absolute;height: 85px;width: 30px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -90px -0px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-nav .viewer-next .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -90px -0px;width: 30px;height: 85px; } }
  .viewer-nav .viewer-next:hover .icon {
    background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);margin-left: -15px;margin-top: -42.5px;top: 50%;left: 50%;position: absolute;height: 85px;width: 30px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -0px -0px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-nav .viewer-next:hover .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -0px -0px;width: 30px;height: 85px; } }
.viewer-tip {
  display: none;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -60px;
  width: 120px;
  height: 40px;
  background: #051B28;
  background: rgba(5, 27, 40, 0.8);
  color: #fff;
  border-radius: 100px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  pointer-events: none; }
.viewer-toolbar {
  position: relative;
  z-index: 10; }
  .viewer-toolbar .toolbar {
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    background: #252525; }
  .viewer-toolbar .inner {
    width: 1120px;
    height: 40px;
    margin: 0 auto; }
  .viewer-toolbar .title {
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
    .viewer-toolbar .title .serial {
      margin-right: 19px; }
      .viewer-toolbar .title .serial strong {
        float: left;
        margin-right: 3px;
        line-height: 36px;
        font-size: 24px;
        font-weight: bold; }
  .viewer-toolbar .tool {
    color: #fff;
    font-size: 16px;
    line-height: 40px; }
    .viewer-toolbar .tool .seperate {
      width: 1px;
      height: 15px;
      margin-top: 12.5px;
      background: #343434;
      overflow: hidden; }
    .viewer-toolbar .tool .toggle {
      width: 175px;
      text-align: center;
      cursor: pointer; }
      .viewer-toolbar .tool .toggle .icon {
        margin-right: 5px;
        background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);height: 24px;width: 24px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -24px -109px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-toolbar .tool .toggle .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -24px -109px;width: 24px;height: 24px; } }
      .viewer-toolbar .tool .toggle:hover {
        background: #111;
        color: #4ECF5B; }
        .viewer-toolbar .tool .toggle:hover .icon {
          background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);height: 24px;width: 24px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -48px -85px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-toolbar .tool .toggle:hover .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -48px -85px;width: 24px;height: 24px; } }
      .viewer-toolbar .tool .toggle.expand .icon {
        background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);height: 24px;width: 24px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -24px -85px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-toolbar .tool .toggle.expand .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -24px -85px;width: 24px;height: 24px; } }
      .viewer-toolbar .tool .toggle.expand:hover .icon {
        background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);height: 24px;width: 24px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -0px -85px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-toolbar .tool .toggle.expand:hover .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -0px -85px;width: 24px;height: 24px; } }
    .viewer-toolbar .tool .scaler {
      width: 210px;
      text-align: center; }
      .viewer-toolbar .tool .scaler .reduce,
      .viewer-toolbar .tool .scaler .increase {
        padding: 0 10px; }
      .viewer-toolbar .tool .scaler .reduce .icon {
        background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);height: 24px;width: 24px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -0px -109px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-toolbar .tool .scaler .reduce .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -0px -109px;width: 24px;height: 24px; } }
      .viewer-toolbar .tool .scaler .reduce:hover .icon {
        background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);height: 24px;width: 24px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -120px -72px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-toolbar .tool .scaler .reduce:hover .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -120px -72px;width: 24px;height: 24px; } }
      .viewer-toolbar .tool .scaler .reduce.disable, .viewer-toolbar .tool .scaler .reduce.disable:hover {
        cursor: not-allowed; }
        .viewer-toolbar .tool .scaler .reduce.disable .icon, .viewer-toolbar .tool .scaler .reduce.disable:hover .icon {
          background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);height: 24px;width: 24px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -120px -48px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-toolbar .tool .scaler .reduce.disable .icon, .viewer-toolbar .tool .scaler .reduce.disable:hover .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -120px -48px;width: 24px;height: 24px; } }
      .viewer-toolbar .tool .scaler .increase .icon {
        background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);height: 24px;width: 24px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -120px -24px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-toolbar .tool .scaler .increase .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -120px -24px;width: 24px;height: 24px; } }
      .viewer-toolbar .tool .scaler .increase:hover .icon {
        background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);height: 24px;width: 24px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -120px -0px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-toolbar .tool .scaler .increase:hover .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -120px -0px;width: 24px;height: 24px; } }
      .viewer-toolbar .tool .scaler .increase.disable, .viewer-toolbar .tool .scaler .increase.disable:hover {
        cursor: not-allowed; }
        .viewer-toolbar .tool .scaler .increase.disable .icon, .viewer-toolbar .tool .scaler .increase.disable:hover .icon {
          background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwgjiio2m.png);height: 24px;width: 24px;overflow: hidden;display: inline-block;background-repeat: no-repeat;background-position: -96px -85px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

  .viewer-toolbar .tool .scaler .increase.disable .icon, .viewer-toolbar .tool .scaler .increase.disable:hover .icon {background-image: url(/site/static/images/bundles/tour/image-viewer/9qiwmhgio2m2x.png);background-size: 144px 133px;background-position: -96px -85px;width: 24px;height: 24px; } }
      .viewer-toolbar .tool .scaler .label {
        width: 61px; }

.support-flex .viewer-toolbar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }
  .support-flex .viewer-toolbar .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .support-flex .viewer-toolbar .title {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .support-flex .viewer-toolbar .tool {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
    .support-flex .viewer-toolbar .tool .toggle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .support-flex .viewer-toolbar .tool .scaler {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .support-flex .viewer-toolbar .tool .scaler .reduce,
      .support-flex .viewer-toolbar .tool .scaler .increase {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0; }

.not-support-flex .viewer-toolbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }
  .not-support-flex .viewer-toolbar .inner {
    position: relative;
    overflow: hidden; }
  .not-support-flex .viewer-toolbar .title {
    margin-right: 400px; }
  .not-support-flex .viewer-toolbar .tool {
    position: absolute;
    right: 0;
    top: 0;
    width: 390px;
    overflow: hidden; }
    .not-support-flex .viewer-toolbar .tool .seperate {
      float: left; }
    .not-support-flex .viewer-toolbar .tool .toggle {
      float: left;
      width: 95px;
      padding: 0 40px;
      overflow: hidden; }
      .not-support-flex .viewer-toolbar .tool .toggle .icon {
        float: left;
        margin-top: 8px; }
    .not-support-flex .viewer-toolbar .tool .scaler {
      float: right;
      width: 150px;
      padding: 0 30px;
      overflow: hidden; }
      .not-support-flex .viewer-toolbar .tool .scaler .label {
        float: left; }
      .not-support-flex .viewer-toolbar .tool .scaler .reduce,
      .not-support-flex .viewer-toolbar .tool .scaler .increase {
        float: left;
        width: 24px; }
        .not-support-flex .viewer-toolbar .tool .scaler .reduce .icon,
        .not-support-flex .viewer-toolbar .tool .scaler .increase .icon {
          margin-top: 8px; }
.viewer-slide {
  display: none;
  position: relative;
  height: 125px;
  background: #111;
  overflow: auto; }
  .viewer-slide .box {
    overflow: hidden; }
  .viewer-slide .list {
    position: relative;
    height: 90px;
    margin: 15px 7px 20px;
    overflow: hidden; }
    .viewer-slide .list .item {
      float: left;
      width: 90px;
      height: 90px;
      margin: 0 7px;
      overflow: hidden;
      cursor: pointer; }
      .viewer-slide .list .item img {
        display: block;
        width: 100%;
        height: 100%; }
  .viewer-slide .mask {
    display: block;
    position: absolute;
    z-index: 2;
    left: -200px;
    top: 0;
    border: 4px solid #4ECF5B;
    width: 82px;
    height: 82px; }
  .viewer-slide .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 0; }

.support-flex .viewer-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }
