/* line 7, ../sass/index.scss */
a {
  text-decoration: none;
}

/* line 11, ../sass/index.scss */
.hide {
  /* display: none !important;*/
  display: none;
}

/* line 15, ../sass/index.scss */
body {
  background-color: #f8f8f8!important;
  font-family: "微软雅黑" !important;
}

/* line 19, ../sass/index.scss */
.container {
  width: 1190px;
  margin: 14px auto;
  overflow: visible;
  padding: 0 !important;
  background-color: transparent;
}

/* line 41, ../sass/index.scss */
.container > .left-sidebar {
  width: 180px;
  float: left;
}
/* line 44, ../sass/index.scss */
.container > .left-sidebar > div {
  width: 100%;
}
/* line 46, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav {
  background-color: rgba(29, 180, 78, 0.9);
  background-color: #1db44e;
  -khtml-opacity:0.9;
  -moz-opacity:0.9;
  filter:alpha(opacity=90);
  filter:"alpha(opacity=90)";
  opacity:0.9; 
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  padding-bottom: 1px;
}
/* line 50, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav {
  padding: 20px 29px 0;
}
/* line 52, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li {
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 25px;
  cursor: pointer;
  position: relative;
}
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li a {
  color: #fff !important;
}
/* line 60, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li#order {
  background-image: url(//img3.tuniucdn.com/site/wap/img/member/usercenter/order.png);
}
/* line 63, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li#cash {
  background-image: url(//img3.tuniucdn.com/site/wap/img/member/usercenter/cash.png);
}
/* line 66, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li#usercenter {
  background-image: url(//img3.tuniucdn.com/site/wap/img/member/usercenter/usercenter.png);
}
/* line 69, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li#message {
  background-image: url(//img3.tuniucdn.com/site/wap/img/member/usercenter/message.png);
}
/* line 72, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li#shequ {
  background-image: url(//img3.tuniucdn.com/site/wap/img/member/usercenter/shequ.png);
}
/* line 75, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li#club {
  background-image: url(//img3.tuniucdn.com/site/wap/img/member/usercenter/club.png);
}
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li#tools {
  background-image: url(//m.tuniucdn.com/fb2/t1/G1/M00/AF/66/Cii9EVjbJ2SIXuLqAAABylqRH6EAAI-xQP__h4AAAHi452.png);
}
/* line 78, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li.focus {
  font-weight: bolder;
}
/* line 81, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li > span.nav-arrow {
  width: 10px;
  height: 10px;
  background-image: url(//img3.tuniucdn.com/site/wap/img/member/usercenter/arrow.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 7px;
  right: 10px;
}
/* line 90, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li > span.nav-arrow.arrow-up {
  background-position: 0 -10px;
}
/* line 94, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li > ul {
  margin-top: 8px;
  display: none;
}
/* line 97, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li > ul a {
  font-size: 14px;
  line-height: 30px;
}
/* line 102, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li a {
  color: inherit;
  font-weight: normal;
}
/* line 105, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li a:hover {
  font-weight: bolder;
}
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li a.focus {
  font-weight: bolder;
}
/* line 112, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > img {
  display: block;
}
/* line 114, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > img#side-header {
  width: 100%;
}
/* line 120, ../sass/index.scss */
.container > .left-sidebar > div#left-side-service {
  margin-top: 20px;
  background-color: #ffffff;
}
/* line 123, ../sass/index.scss */
.container > .left-sidebar > div#left-side-service > .service-title {
  padding: 12px 0;
  text-align: center;
  font-size: 16px;
  color: #333333;
  font-weight: 500;
}
/* line 131, ../sass/index.scss */
.container > .left-sidebar > div#left-side-service > ul > li {
  width: 95%;
  display: block;
  margin: 0 auto;
  border-bottom: 1px dotted #dddddd;
}
/* line 136, ../sass/index.scss */
.container > .left-sidebar > div#left-side-service > ul > li:last-child {
  border-bottom: none;
}
/* line 140, ../sass/index.scss */
.container > .left-sidebar > div#left-side-service > ul > li > a > img {
  width: 48%;
}
/* line 143, ../sass/index.scss */
.container > .left-sidebar > div#left-side-service > ul > li > a:first-child > img {
  border-right: 1px dotted #dddddd;
}
/* line 153, ../sass/index.scss */
.container > .main-content {
  float: right;
  width: 83.2%;
}

.container .mainDiv {
  float: right;
  width: 83.2%;
}
