.hide{display:none}.nav_menu_list
.page_icon{background:url(/img/2015040113/user_center_v2/user_icon.png) no-repeat}.header_panel{margin-top:1px;width:100%;height:60px;background:#37c249}.header_panel_inner{width:1000px;margin:0
auto;position:relative;z-index:100}.header_nav_logo{width:200px;float:left;display:inline}.header_nav_logo
a{display:block;padding-top:12px}.header_nav_menu{float:left;display:inline}.nav_menu_list
li{float:left;width:113px;position:relative;text-align:center;z-index:100}.nav_menu_list li.cur, .nav_menu_list li:hover{background:#20a832}.nav_menu_list li
a{font:17px/60px "microsoft yahei";color:#fff;text-align:center;padding:10px
0}.nav_menu_list
li.cur_menu{background:#20a832}.nav_menu_list
.icon_arrows{display:inline-block;width:7px;height:5px;background-position:-113px -29px;margin-left:5px;position:relative;top:-2px}.nav_menu_list
.icon_arrows_rotate{background-position:-128px -29px}.nav_menu_list li.cur_menu
.icon_arrows{transform:rotate(180deg);transition:transform 0.3s ease 0s;-webkit-transform:rotate(180deg);-webkit-transition:transform 0.3s ease 0s;-o-transform:rotate(180deg);-o-transition:transform 0.3s ease 0s}.dropdown_menu{position:absolute;left:0;top:54px;display:none;background:#fff;border:1px
solid #dcdcdc;width:111px;padding:0px
0 10px;box-shadow:0 0 2px #ddd}.cur_menu
.dropdown_menu{display:block}.dropdown_menu_item{margin-top:10px}.dropdown_menu .dropdown_menu_item
a{font:12px "microsoft yahei";color:#333;text-align:center;line-height:22px;padding:0}.dropdown_menu .dropdown_menu_item a:hover{color:#f80}.poptip_arrow_top{font-family:simsun;font-size:12px;font-style:normal;overflow:hidden;position:absolute;text-shadow:0 0 2px #ddd;top:-8px;height:8px;left:54px;margin-left:-6px;width:16px}.poptip_arrow_top em, .poptip_arrow_top
i{font-style:normal;left:0;position:absolute;top:0}.poptip_arrow_top
em{color:#dcdcdc;top:-1px}.poptip_arrow_top
i{color:#fff;text-shadow:none;top:0}.header_nav_tohome{position:absolute;bottom:0;right:0;width:115px;height:35px}.header_nav_tohome
a{display:block;width:115px;height:35px;background:url(/img/2015040113/user_center_v2/header_nav_tohome_24.png) no-repeat;_background:url(/img/2015040113/user_center_v2/header_nav_tohome_8.png) no-repeat}.index1200
.header_panel_inner{width:1200px}.index1200
.header_nav_tohome{right:20px}.index1200 .nav_menu_list
li{width:119px}.index1200
.dropdown_menu{width:117px}.wrapper{width:100%;background:#fff;margin-top:0;overflow:visible}.container{width:1000px;margin:0
auto;padding:25px
10px 0 0;background:#fff}.aside{width:200px;float:left;display:inline}.mainCon{width:790px;float:left;display:inline}.aside_oth{width:170px;float:left;display:none;padding:0
15px}.index1200
.aside_oth{display:inline}.index1200
.container{width:1190px}.fl{float:left;display:inline}.fr{float:right;display:inline}.cgreen{color:#2e9900}.cyellow{color:#f60}._hidden{overflow:hidden}.w_400{width:400px}.pd20{padding:20px}.mr10{margin-right:10px}.mr20{margin-right:20px}.t_cen{text-align:center}.mb15{margin-bottom:15px}.pos_rev{position:relative}.detail_title{padding:8px
20px 8px 0px}.detail_sub_title{height:30px;padding-left:20px;color:#333;font:600 16px/30px "Microsoft Yahei"}.detail_sub_title
i{float:left;display:inline;height:15px;width:4px;margin:8px
5px 0 0;font-size:0;line-height:0;background-color:#37c249}.block_div{background:#fff;margin-bottom:20px;box-shadow:0px 1px 4px rgba(51, 51, 51, 0.1)}.user_icon, .aside_inner dt b, .aside_inner .item_tip, .aside_inner .more_item b, .page_icon, .cash_tip dt, .search_all_order .calendar input,
.lever_bg, .lever_speed, .scroll_like_box .scroll_nav li, .changeBtn em, .pop_tip_icon, .user_share_bt_box.bdshare_t a,.no{background:url(//ssl1.tuniucdn.com/img/2015040113/user_center_v2/user_icon.png) no-repeat}.detail_title_tip{float:left;display:inline;padding-left:15px;line-height:30px}.detail_title_tip
span{margin-right:10px;font-family:"Microsoft Yahei"}.detail_title_right{float:right;display:inline;line-height:26px}.detail_title_right
a{color:#999;line-height:30px}.detail_title_right a:hover{color:#f60}.icon_ygxc,.icon_ygjg,.icon_ygfu{display:inline-block;width:16px;height:16px;display:inline-block;margin-right:7px}.icon_ygxc{background-position:-177px -120px}.icon_ygjg{background-position:-200px -120px}.icon_ygfu{background-position:-223px -120px}.icon_guize{display:inline-block;width:17px;height:17px;background-position:0 -475px;vertical-align:text-top;margin-right:5px}.icon_tuniu{width:16px;height:19px;background-position:0 -75px}.icon_order{width:16px;height:15px;background-position:-16px -75px}.icon_assets{width:16px;height:19px;background-position:-35px -75px}.icon_personal{width:16px;height:17px;background-position:-56px -75px}.icon_account{width:16px;height:18px;background-position:-79px -75px}.icon_member{width:16px;height:17px;background-position:-35px -75px}.icon_community{width:16px;height:15px;background-position:-100px -75px}.aside{width:200px;float:left}.aside_inner{position:relative;border-right:1px solid #e2e9ee}.aside_inner
.user_icon{margin-right:20px;vertical-align:middle;display:inline-block}.aside dl
a{color:#5c5c5c;font:14px "microsoft yahei"}.aside dl a:hover{color:#f60}.aside_inner
.mt{color:#FFF;height:38px;line-height:38px;padding:0
6px;position:relative;top:1px}.aside_inner .mt
h2{float:left;height:auto;line-height:38px;padding-top:0;font-size:14px;margin-left:22px}.aside_inner .mt h2
a{display:inline-block;line-height:28px;font-size:16px;font-family:"microsoft yahei"}.aside_inner
.mt.cur{background:#42d255;position:relative;top:1px}.aside_inner .mt.cur
a{color:#fff}.aside_inner
.mc{overflow:visible}.aside_inner
dl{padding:5px
0 10px}.aside_inner
dl.last{background:none}.aside_inner dl
dt{cursor:pointer;height:28px;padding:0
0 0 28px;font:16px/28px "microsoft yahei";color:#666}.aside_inner dt
b{display:inline-block;width:7px;height:4px;background-position:-59px -29px;margin-left:5px;vertical-align:middle}.aside_inner dl .up
b{background-position:-48px -29px}.aside_inner dl.cur
dd{display:block}.aside_inner dd
.item{padding:8px
0 8px 64px}.aside_inner dd
.item.cur{background:#42d255}.aside_inner dd .item.cur
a{color:#fff}.aside_inner dd
div.sub_item{padding:2px
0 2px 24px}.aside_inner
.tip_new{display:inline-block;width:10px;height:12px;background-position:0 0;vertical-align:-1px;position:relative}.aside_inner dd
.more_item{padding-left:52px}.aside_inner .more_item
a{display:inline-block;height:22px;line-height:22px;background:#dbdde0;padding:0
10px 0 15px;border-radius:10px;color:#666}.aside_inner .more_item a:hover{background:#c8cacc;color:#666}.aside_inner .more_item
b{display:inline-block;width:5px;height:5px;background-position:-72px -29px;margin-left:5px}.aside_inner .more_item.up
b{background-position:-80px -29px}.aside_inner
.more_order{display:none}.aside_oth{}.aside_oth_box{margin-bottom:25px}.aside_oth_pic{display:block;width:170px;height:95px;overflow:hidden;margin-bottom:5px}.aside_oth_pic
img{width:170px}.aside_oth_word{display:block;height:35px;overflow:hidden;color:#404040;margin-bottom:8px}.aside_oth_word:hover{color:#f60}.aside_oth_rc{color:#999;line-height:20px;margin-bottom:5px}.aside_oth_box
.page_btn{height:31px;line-height:31px;background:#ff5d42;border-color:#ff5d42;border-bottom-color:#e45239;color:#fff;font-size:14px;padding:0
30px}.aside_oth_box .page_btn:hover{background:#f35237;border-color:#f35237}.aside_oth_box .detail_sub_title, .aside_oth_box
.detail_title{padding:0}.aside_oth_box
.detail_sub_title{padding-bottom:5px}.aside_oth_collect
.aside_oth_word{height:20px;margin-bottom:0}.aside_oth_price{color:#f60;font-family:"microsoft yahei"}.aside_oth_price
em{font-size:16px;font-weight:bold}.aside_oth_price
b{font-weight:bold}.aside_oth_box
.collect_list{margin-bottom:15px}.aside_oth_box
.collect_pic{display:block;width:170px;height:82px;overflow:hidden}.aside_oth_box .collect_pic
img{width:170px}.index_top{overflow:hidden}.index_top
.it_l{width:395px;border-right:1px solid #f2f2f2;background:url(//ssl2.tuniucdn.com/img/2015040113/user_center_v2/illustration.png) no-repeat top right}.user_item{padding:20px}.user_item
.user{width:75px;height:75px;float:left;border-radius:50%;overflow:hidden;text-align:center;padding:5px;box-shadow:0px 0px 8px rgba(0, 0, 0, 0.2)}.user_item .user
img{width:75px;height:75px}.user .u-icon{width:75px;height:75px;border-radius:50%;display:block;margin-left:22px;overflow:hidden;box-shadow:0 0 8px rgba(0, 0, 0, 0.2);text-align:center}.user .u-icon
img{width:75px;height:75px}.picture, #mlist .p-img a, #mlist01 .p-img
a{position:relative}.upper,.comment{background:#000;left:3px;opacity:0.5;position:absolute}.upper{height:28px;left:3px;overflow:hidden;top:48px;width:74px;left:0}.picture
a{top:49px;color:#fff}.picture a,.comment01{left:0;position:absolute;width:100%;z-index:40}.userinfo{margin-left:120px}.username{height:30px;line-height:25px;margin-bottom:3px;overflow:hidden}.fl{float:left}.username
strong{color:#333;font-size:16px;font-weight:normal;font-family:"microsoft yahei"}.username
.extra{float:right}.account,.acco-safe{line-height:23px;margin-bottom:5px;overflow:hidden}.member{margin-right:10px}.username
.phone{color:#f60;text-shadow:1px 1px 6px #666;font:bold 16px microsoft yahei;float:right}.account,.acco-safe{line-height:23px;margin-bottom:5px;overflow:hidden}.vip_lel{background:url(//ssl3.tuniucdn.com/img/2015040113/common/site_nav_vip.png) 0 0 no-repeat}.vip_lel{display:inline-block;width:41px;height:18px;margin-bottom:6px;vertical-align:middle}.vip_lel1{background-position:0 -123px}.vip_lel2{background-position:0px -145px}.vip_lel3{background-position:0 -168px}.vip_lel4{background-position:0 -192px}.vip_lel5{background-position:0 -214px}.vip_lel6{background-position:0 -236px}.vip_lel_word{background-position:0 -279px}.lever_bg{position:relative;width:80px;height:8px;background-position:0 -96px;margin-top:10px}.lever_speed{position:absolute;left:0;top:0;width:80px;height:8px;background-position:0 -105px}.account
li{color:#333;margin-bottom:2px}.account li
label{color:#999}.account li
.tn_fontface{color:#999;margin-right:5px;vertical-align:middle}.account
.lever_state{margin-left:10px}.index_top
.it_r{width:394px}.it_r_con{padding:15px
0 20px 20px}.assets_list{margin-top:10px}.assets_list
li{float:left;width:74px;text-align:center;color:#999}.assets_list li
.price{color:#333;font-family:"microsoft yahei"}.assets_list li
.page_icon{display:inline-block;height:24px;margin-bottom:8px}.icon_xj{width:21px;background-position:0 -120px}.icon_lyq{width:28px;background-position:-34px -119px}.icon_dyq{width:29px;background-position:-72px -119px}.icon_jf{width:28px;background-position:-112px -118px}.icon_dbb{width:21px;background-position:-145px -120px}.user_table
th{height:34px;line-height:34px;background:#f0f5f7;color:#888;text-align:center}.user_table
td{padding:10px;text-align:center}.icon_share{display:inline-block;width:13px;height:13px;background-position:-155px -76px;margin-right:10px}.icon_del{display:inline-block;width:14px;height:14px;background-position:-180px -75px}.page_btn{display:inline-block;background:#f9f9f9;border:1px
solid #e8e8e8;height:25px;line-height:25px;text-align:center;padding:0
10px;font-weight:bold;margin-bottom:3px;cursor:pointer}.page_btn:hover{background:#f2f2f2}.page_yellow_btn{background:#ff931a;color:#fff;border:0
none}.page_yellow_btn:hover{background:#f60;color:#fff}.table_order
.even{color:#666}.table_order .even
td{background:#f5fff0}.table_order .odd
td{padding:20px
10px}.table_order
.order_num{text-align:left;padding-left:20px}.table_order .pro_des
div{float:left}.table_order .pro_des
p{margin-left:63px;line-height:16px;margin-bottom:3px;text-align:left}.table_order .pro_des p
a{display:block;margin-bottom:10px}.table_order
td.p_list_1{padding-left:20px}.table_order
td.p_list_4{font-family:"microsoft yahei"}.mess_num{display:inline-block;line-height:16px;text-align:center;color:#2e9900}.table_mess
input{margin-right:5px;position:relative;top:2px}.table_mess
.p_list_3{text-align:left;padding-left:20px}.table_mess
td{border-bottom:1px solid #f2f2f2}.table_mess .unread_mess
td{background:#fffeed}.table_mess
.tn_fontface{color:#d2d5d8;font-size:16px}.Mess_Close{visibility:hidden}.passenger
.block_div{width:385px;float:left;padding-bottom:20px}.passenger_list{margin:5px
30px 10px;height:56px;overflow:auto}.passenger_list
li{margin-bottom:10px}.passenger_list
label{float:left}.passenger_list
.tel{float:right}.passenger
.add_mess{text-align:center}.passenger .add_mess
.page_btn{border:1px
dashed #dce1e6;background:#fff;height:28px;line-height:28px}.passenger
.youji{margin-left:20px;margin-top:6px}.passenger .youji
li{float:left;width:170px;height:95px;overflow:hidden;position:relative}.passenger .youji li
img{width:170px}.passenger .youji li
.word_bg{position:absolute;width:170px;height:25px;left:0;bottom:0;background:#000;opacity:0.6;filter:alpha(opacity=60)}.passenger .youji li
.word{position:absolute;width:160px;height:25px;line-height:25px;left:10px;bottom:0;color:#fff;overflow:hidden}.changeBtn{float:right;color:#999;_width:80px;_position:relative;_top:-10px}.changeBtn
em{display:inline-block;width:12px;height:14px;background-position:-204px -74px;margin-right:5px;vertical-align:middle}.changeBtn:hover{color:#f60}.scroll_like_box
.scroll_nav{padding:8px
35px 8px 8px}.scroll_like_box .scroll_nav
ul{float:left}.scroll_like_box .scroll_nav
li{height:30px;padding-left:10px;background-position:-120px 0;margin-left:10px}.scroll_like_box .scroll_nav li
a{color:#333;font:600 16px/30px "Microsoft Yahei"}.scroll_like_box
.scroll_con{margin:0
0px 0 20px;padding-bottom:10px}.scroll_like_box
.scroll_con{}.scroll_like_box .scroll_con
li{float:left;width:170px;margin-right:25px;margin-bottom:20px;_margin-right:18px}.scroll_like_box .scroll_con li
.pic{width:170px;height:95px;position:relative;overflow:hidden;margin-bottom:5px}.scroll_like_box .scroll_con li .pic
img{width:170px}.scroll_like_box .scroll_con
.price_bg{width:170px;height:20px;position:absolute;left:0;bottom:0;background:#000;opacity:0.7;filter:alpha(opacity=70)}.scroll_like_box .scroll_con
.m_price{position:absolute;bottom:0;left:3px;color:#f60;font-family:"Microsoft Yahei";padding-right:8px}.scroll_like_box .scroll_con .m_price
em{color:#f60;margin:0
2px;font-weight:bold}.scroll_like_box .scroll_con .m_price
sub{vertical-align:2px}.scroll_like_box .scroll_con
.chuyou{position:absolute;bottom:0;right:3px;color:#fff}.scroll_like_box .scroll_con .m_name
a{color:#999}.scroll_like_box .scroll_con
.m_name{position:relative;height:35px;overflow:hidden}.scroll_like_box .scroll_con .m_name a
em{color:#333}.scroll_like_box .scroll_con .m_name a:hover, .scroll_like_box .scroll_con .m_name a:hover
em{color:#f80}.scroll_like_box .scroll_con .m_name
.chuyou{position:absolute;right:0;top:18px;color:#999}.scroll_like_box .scroll_con .m_name .chuyou
em{color:#f60}.icon_niu_b{display:inline-block;width:109px;height:102px;background-position:0 -152px}.icon_niu_s{display:inline-block;width:53px;height:50px;background-position:-115px -152px}.no_tip{font-size:18px;color:#ddd;font-family:"Microsoft Yahei";padding:5px
0 30px}.no_mess_box{margin-left:75px;margin-top:5px}.no_mess_box
.no_tip{font-size:16px;margin:12px
0 0 10px}.passenger
.add_apply{background:#fafafa;border:1px
dashed #e8e8e8;width:388px;height:150px;cursor:pointer}.add_apply
.text{margin-top:50px;text-align:center}.add_apply .text
p{text-align:center}.add_apply .text
.tn_fontface{font-size:50px;color:#e8e8e8}.add_apply .text
.t_cen{font-size:16px;color:#ccc;font-family:"Microsoft Yahei"}.apply_box{background:#444b5e;position:relative;padding:20px
0 30px;margin-bottom:20px;display:none}.apply_box
dl{margin-bottom:30px}.apply_box
dt{font-size:14px;font-weight:bold;color:#d0d7eb;margin-bottom:10px;padding-left:40px}.apply_box
dd{padding-left:30px}.apply_box dd
li{float:left;color:#d0d7eb;margin-right:20px;padding:20px
20px 15px;position:relative}.apply_box dd
li.cur{background:#2e3442}.apply_box dd li
.tn_fontface{position:absolute;top:-10px;right:-15px;font-size:18px;display:none;cursor:pointer}.apply_box dd li.cur
.tn_fontface{display:block}.apply_box dd
.page_icon{display:block;width:50px;height:50px;margin:0
auto 5px;position:relative}.apply_box dd
.apply_icon_lk{background-position:0 -260px}.apply_box dd
.apply_icon_zc{background-position:-56px -260px}.apply_box dd
.apply_icon_yj{background-position:-111px -260px}.apply_box
.arrow{position:absolute;top:-17px;right:23%;font-size:16px}.apply_box
.close_btn{position:absolute;top:15px;right:15px;color:#fff;font-size:20px;background:none}.xubox_page{width:100%}.del_pop_box{padding:40px
0 0 110px;width:270px}.pop_tip_icon{display:inline-block;float:left;width:32px;height:32px;background-position:0 -320px;margin-right:10px}.del_pop_box
.p1{font:bold 16px "Microsoft Yahei";margin:5px
0 10px;padding-left:42px}.del_pop_box
.p2{padding-left:42px;color:#999}.xubox_main .xubox_botton
a{bottom:30px;font:bold 16px "Microsoft Yahei";height:30px;line-height:30px;width:100px}.xubox_main .xubox_botton
.xubox_yes{background:#f60;border:1px
solid #f60;margin-right:10px;margin-left:-100px}.xubox_main .xubox_botton
.xubox_no{background:#f9f9f9;color:#333;border:1px
solid #e8e8e8}.share_box{display:none}.xubox_main .xubox_tips i.layerTipsT, .xubox_main .xubox_tips
i.layerTipsB{left:-5px}.user_share_bt_box.bdshare_t{padding:15px
0 10px 5px}.user_share_bt_box.bdshare_t
a{color:#fff;height:16px;float:none;padding-left:25px;display:block;margin-bottom:10px;line-height:16px}.user_share_bt_box.bdshare_t
.bds_weixin{background-position:-225px -39px}.user_share_bt_box.bdshare_t
.bds_qzone{background-position:-225px -65px}.user_share_bt_box.bdshare_t
.bds_tsina{background-position:-225px -89px}.i_forhelp{width:80px;height:26px;line-height:26px;text-align:center;color:#fff;font-size:12px;display:inline-block;*display:inline;*zoom:1;background:#ff9419;float:right}.item-details{width:100%;height:auto;padding:10px
0 0;border:1px
solid #e8e8e8;margin-bottom:20px;position:relative}.item-details
.idetails{width:740px;height:auto}.item-details .idetails
.itext{font-family:"Microsoft Yahei";line-height:24px;padding:0
0 0 20px;word-break:break-all;width:100%}.item-details .idetails .itext
.itag{color:#168bd9;padding:0
10px;font-size:12px;background:#ebf8ff;border:1px
solid #c2dff2;display:inline-block;*display:inline;*zoom:1;height:18px;line-height:18px}.item-details .idetails .itext
.itaged{color:#2e9900;padding:0
10px;font-size:12px;background:#f1ffeb;border:1px
solid #c5f0b4;display:inline-block;*display:inline;*zoom:1;height:18px;line-height:18px}.item-details .idetails .itext
.itaging{color:#f80;padding:0
10px;font-size:12px;background:#fffceb;border:1px
solid #ffdbb2;display:inline-block;*display:inline;*zoom:1;height:18px;line-height:18px}.item-details .idetails .itext
a{color:#2e9900}.item-details .idetails .itext a:hover{color:#2e9900;text-decoration:underline}.item-details .idetails
.control{width:100%;height:24px;line-height:24px;padding:0
0 10px 20px}.item-details .idetails .control
span{padding-right:20px;color:#666}.item-details
.ibutton{width:100px;height:auto;position:absolute;top:50%;right:10px;margin-top:-13px}.isee-plan{width:84px;height:26px;background:#ff931a;color:#fff;font-size:12px;text-align:center;display:block;line-height:24px;font-weight:bold}.cow-no-order{width:470px;height:103px;margin:0
auto;padding:80px
0 130px 0;font-size:0}.cow-details{display:inline-block;*display:inline;*zoom:1;width:330px;height:75px;vertical-align:top;padding:31px
0 0 15px}.cow-title{color:#333;font-size:18px;height:32px;line-height:32px;font-family:"Microsoft YaHei"}.cow-text{color:#999;font-size:12px;height:18px;line-height:18px;font-family:"Microsoft YaHei"}.cow-text
a{height:26px;line-height:26px;text-align:center;color:#fff;font-size:12px}.cow-text a:hover{text-decoration:none}.mainDiv{width:790px;float:right;display:inline}.index1200
.mainDiv{width:990px}.select_box{position:relative;width:80px;height:24px;border:1px
solid #ddd;background:#fff;line-height:24px;text-align:left;padding-left:10px}.select_box
ul{position:absolute;border:1px
solid #ddd;border-top:0 none;width:90px;background:#fff;left:-1px;top:25px;display:none}.select_box.open
ul{display:block}.select_box ul
li{padding-left:10px;cursor:pointer}.select_box ul li:hover{background:#f0f0f0}.select_box
.icon_arrow{display:inline-block;width:7px;height:4px;position:absolute;top:12px;right:10px;background-position:-49px -39px}.select_box.open
.icon_arrow{background-position:-56px -39px}.order_list_box{border-bottom:1px solid #e5e5e5;margin-bottom:20px;box-shadow:0px 1px 4px rgba(51,51,51,0.1)}.userTit{height:36px;line-height:36px;padding-right:15px;padding-left:0;background:#fafafa;border-bottom:1px solid #e7e7e7}.userTit
li{float:left;overflow:visible}.userTit
li.cur{background:#fff}.userTit li
a{position:relative;top:-1px;display:block}.userTit li a
span{border-right:1px solid #e7e7e7;padding:0
15px;font:bold 16px/36px "microsoft yahei"}.userTit li a
em{color:#37c249;font:bold 16px/36px "microsoft yahei"}.userTit li.last a span, .userTit li.cur
span{border:0
none}.userTit li.cur
a{border-top:2px solid #37c249;border-right:1px solid #e7e7e7;background:#fff;left:0px;color:#37c249}.search_all_order{height:60px;background:#fff}.search_all_order
.select_box{float:right;margin-top:15px;margin-right:20px}.order_list_head{background:#f0f5f7;height:40px;line-height:40px;color:#888}.order_list_head
li{float:left;text-align:center;padding:0
10px;overflow:visible}.order_list_head
.select_box{margin-top:7px}.order_list_head .select_box
li{float:none;text-align:left}.order_list_head .head_5
.select_box{margin-left:0px}.index1200 .order_list_head .head_5
.select_box{margin-left:25px}.head_1{width:250px}.head_2{width:80px}.head_3{width:90px}.head_4{width:80px}.head_5{width:90px}.head_6{width:80px}.index1200
.head_1{width:320px}.index1200
.head_2{width:100px}.index1200
.head_3{width:100px}.index1200
.head_4{width:110px}.index1200
.head_5{width:130px}.index1200
.head_6{width:100px}.p_list_1{width:260px}.p_list_2{width:80px}.p_list_3{width:100px}.p_list_4{width:100px}.p_list_5{width:100px}.p_list_6{width:100px}.order_time{color:#bbb;margin-bottom:5px}.icon_time{display:inline-block;width:13px;height:15px;background-position:-43px -51px;vertical-align:middle;margin-right:3px}.opera_btn:hover{color:#f60}.complete_order .even
td{background:#f5f7f7}.complete_order
.icon_share{background-position:-155px -95px}.complete_order
.icon_del{background-position:-180px -94px}.invalid_order td, .invalid_order .even
td{background:#e3e4e6;color:#999}.invalid_order
.icon_share{background-position:-155px -95px}.invalid_order
.icon_del{background-position:-180px -94px}.pagination{clear:both;color:#404040;font-size:12px;font-weight:400;height:40px;margin:0
auto 8px;padding-right:0;padding-top:15px}.page-bottom{margin-right:20px;text-align:right}.pagination .page-cur{background-color:#42b312;border:1px
solid #42b312;color:#fff}.page{border:1px
solid #C7E7AB}.page-cur, .pagination a,.page-end{border:1px
solid #ddd;background:#fff}.pagination a:hover{background:#C7E7AB}.pagination a,.page-prev,.page-start,.page-cur,.page,.page-end,.page-skip{display:inline-block;height:28px;line-height:28px;padding:0px
10px 0}.pagination a,.page-prev,.page-cur,.page,.page-start,.page-end,.page-break,.page-skip{color:#404040;margin:0
3px}.pagination
.extra{margin-left:20px}.pagination .extra
.num{height:28px;width:30px;line-height:28px;text-align:center;border:1px
solid #ddd;*position:relative;*top:7px}.pagination .extra
.submit{display:inline-block;height:28px;width:36px;line-height:28px;text-align:center;border:1px
solid #ddd;cursor:pointer;background:#fff}.pic_box{width:100%;height:80px;overflow:hidden}.order_list .block_div:hover{box-shadow:0 1px 4px rgba(56, 195, 9, 0.2)}.order_list .invalid_order, .order_list .invalid_order:hover{box-shadow:none}.asset_sumery{position:relative;width:788px;border:1px
solid #3bc76f;background:url(//ssl1.tuniucdn.com/img/2015040113/user_center_v2/cash_top.png) no-repeat left top #fff;margin-bottom:20px}.asset_sumery_{background:url(//ssl2.tuniucdn.com/img/2015040113/user_center_v2/cash_top_.jpg) no-repeat left top #fff}.index1200
.asset_sumery{width:988px}.cash_sumery{height:212px}.cash_top{font-family:"microsoft yahei"}.all_cash{position:absolute;left:133px;top:70px;font-size:14px;color:#f1ff8a;text-align:center}.all_cash
b{font-weight:bold;color:#ff0}.cash_list{position:absolute;left:290px;top:27px;color:#fff}.cash_list
.p1{font-size:22px;font-weight:bold;margin-bottom:13px}.cash_list .p2
.tt{font-size:14px;color:#fff}.cash_list .p2 .tt
b{display:inline-block;width:20px;height:10px;margin-right:10px}.cash_list .p2 .tt
i{font-style:normal;color:#ff0;font-weight:bold;padding-left:10px}.cash_list .p2
.t1{margin-right:10px}.cash_list .p2
.t2{padding-left:10px;margin-right:10px}.cash_list .p2
.t3{margin-left:10px}.cash_list .p2 .t1
b{background:#ffce3e}.cash_list .p2 .t2
b{background:#ff5e1f;position:relative}.cash_list .p2 .t3
b{background:#777}.cash_btn{display:inline-block;height:24px;line-height:24px;background:#fff;color:#333;text-align:center;border:1px
solid #e8e8e8;font-weight:bold;padding:0
20px;margin-right:10px}.cash_btn.cyellow{background:#ff931a;border:1px
solid #ff931a;color:#fff}.cash_btn.notallow{background:#999;border:1px
solid #999;color:#fff;cursor:not-allowed}.cash_tip{position:absolute;left:290px;top:130px;font-family:"宋体"}.cash_tip
dt{float:left;width:16px;height:67px;background-position:0 -360px;padding:3px
0 0 5px;line-height:14px;color:#666}.cash_tip
dt.twoword{height:44px;background-position:0 -387px}.cash_tip
dd{float:left;color:#999;padding-left:10px;line-height:21px;width:630px}.cash_tip
.more{position:absolute;right:-10px;bottom:0px;width:auto;float:none}.cash_tip .more
a{color:#2e9900}.index1000 .cash_tip
.more{width:auto;right:0}.search_all_order
.calendar{float:right;display:inline;margin:15px
20px 0 0}.search_all_order .calendar
div{float:left;height:28px;line-height:28px;padding:0
3px;width:auto}.search_all_order .calendar
input{width:138px;height:28px;padding-left:10px;line-height:28px;border:1px
solid #ddd;background-position:125px -433px}.search_all_order
.page_btn{height:28px;line-height:28px}.index1000
.cash_sumery{height:245px}.index1000 .cash_list, .index1000
.cash_tip{left:270px}.index1000 .cash_tip
dd{width:472px}.cash_list_box{margin-bottom:0;border-bottom:0 none}.cash_list_head{margin-bottom:20px;border-bottom:1px solid #e5e5e5;box-shadow:0 1px 4px rgba(51, 51, 51, 0.1)}.cash_list_head
.head_1{width:110px}.cash_list_head
.head_2{width:100px}.cash_list_head
.head_3{width:100px}.cash_list_head
.head_4{width:320px}.cash_list_head
.head_5{width:100px}.cash_list_head
.head_6{width:130px}.index1000 .cash_list_head
.head_1{width:90px}.index1000 .cash_list_head
.head_2{width:80px}.index1000 .cash_list_head
.head_3{width:80px}.index1000 .cash_list_head
.head_4{width:250px}.index1000 .cash_list_head
.head_5{width:80px}.index1000 .cash_list_head
.head_6{width:90px}.cash_Order
div{padding:20px
10px}.cash_Order
.order_list{margin:0
auto}.cash_Order
.cyellow{font-weight:bold;font-size:14px;color:#f60}.cash_Order
.black{font-weight:bold;font-size:14px}.cash_Order
.normal{font-weight:normal}.cash_Order
.line{width:230px;display:inline-block;padding-left:60px}.cash_Order .line:hover{color:#f60}.c_list_1{float:left;width:100px;text-align:center}.c_list_2{float:left;width:100px;text-align:center}.c_list_3{float:left;width:100px;text-align:center}.c_list_4{float:left;width:320px}.c_list_5{float:left;width:100px;text-align:center}.c_list_6{float:left;width:130px;text-align:center}.six_box_con{text-align:center}.six_box_con .order_list_head li, .six_box_con .cash_Order
div{width:140px}.index1000 .six_box_con .order_list_head li, .index1000 .six_box_con .cash_Order
div{width:110px}.index1000 .cash_Order
.line{width:220px;padding-left:20px}.index1000
.c_list_1{width:90px}.index1000
.c_list_2{width:80px}.index1000
.c_list_3{width:80px}.index1000
.c_list_4{width:250px}.index1000
.c_list_5{width:80px}.index1000
.c_list_6{width:90px}.withdraw_table{padding:50px
0 0 30px;display:none}.withdraw_table .input-item{margin-bottom:15px}.input-item
label{width:110px;text-align:right;display:inline-block}.input-item input, .withdraw_table
select{width:168px;height:22px;line-height:22px;border:1px
solid #ddd;padding-left:10px}.input-item
select{width:180px}.withdraw_table .i-phone-code{width:90px}.send_code{color:#2e9900;text-decoration:underline}.withdraw_table .fail-tip{margin-left:110px;width:168px;height:28px;padding-left:10px;line-height:28px;background:#ffeaea;border:1px
solid #ffabab;color:#fb3a3a}.fail-tip
.tn_fontface{font-size:14px;display:inline-block;margin:0px
6px 0 0;vertical-align:middle}.withdraw_table
.page_btn{margin-left:110px;display:inline-block;width:100px;height:30px;line-height:30px;border-radius:3px;font-size:16px}.success_pop_box{width:270px;padding-left:80px;padding-top:35px}.success_pop_box
.p2{padding-left:0}.drawSucc{color:#68cc3d;font-size:28px;vertical-align:middle;margin-right:10px}.exchange_table{display:none}.tntab_tit{height:36px;line-height:36px;padding-right:15px;padding-left:0;background:#fafafa;border-bottom:1px solid #e7e7e7;margin-bottom:30px}.tntab_tit
li{float:left;overflow:visible}.tntab_tit
li.cur{background:#fff}.tntab_tit li
a{position:relative;top:-1px;display:block}.tntab_tit li a
span{padding:0
15px;font:bold 14px/26px "microsoft yahei"}.tntab_tit li a
em{color:#37c249;font:bold 16px/36px "microsoft yahei"}.tntab_tit li.last a span, .tntab_tit li.cur
span{border:0
none}.tntab_tit li.cur
a{border-top:2px solid #37c249;border-right:1px solid #e7e7e7;background:#fff;left:0px;color:#37c249}.exchange_table .input-item{margin-left:30px;font-size:14px;margin-bottom:8px}.exchange_table .input-item
input{height:28px;line-height:28px;width:150px}.input-item-btn{margin:10px
0 0 120px}.input-item-btn
a{width:75px;margin-right:10px;height:28px;line-height:28px}.exchange_table .fail-tip{margin-left:110px;width:168px;height:28px;padding-left:10px;line-height:28px;background:#ffeaea;border:1px
solid #ffabab;color:#fb3a3a}.coupon_tip{left:290px;position:absolute;top:145px}.coupon_tip
input{width:180px;height:26px;line-height:26px;border:1px
solid #ddd;padding-left:10px;color:#666}.coupon_tip .txt-pass{width:110px;margin-right:10px}.userTit
ul{float:left}.userTit_tip{float:right;color:#999}.userTit_tip
span{width:17px;height:17px;background-position:0 -475px;vertical-align:text-top;margin-right:5px}.coupon_list .cash_list_head .head_3, .coupon_list .cash_list_head .head_4, .coupon_list .c_list_3, .coupon_list
.c_list_4{width:200px;text-align:center}.index1000 .coupon_list .cash_list_head .head_3, .index1000 .coupon_list .cash_list_head .head_4, .index1000 .coupon_list .c_list_3, .index1000 .coupon_list
.c_list_4{width:150px}.coupon_list
.cou_tip{color:#2e9900}.totle_coupon{margin-left:45px}.totle_coupon
em{font-size:24px;font-weight:bold;color:#f60}.totle_coupon
i{font-style:normal;color:#f60;font-size:16px}.coupon_pop{padding:10px
5px}.coupon_pop
p{font-weight:bold;color:#ff9419}.four_box_con{}.four_box_con .order_list_head li, .four_box_con .cash_Order
div{width:200px}.index1000 .four_box_con .order_list_head li, .index1000 .four_box_con .cash_Order
div{width:150px}.three_box_con{}.three_box_con .order_list_head li, .three_box_con .cash_Order
div{width:295px}.index1000 .three_box_con .order_list_head li, .index1000 .three_box_con .cash_Order
div{width:240px}.coupon_list .diyong_box_con .order_list_head li, .diyong_box_con .cash_Order
div{width:160px}.index1000 .coupon_list .diyong_box_con .order_list_head li, .index1000 .diyong_box_con .cash_Order
div{width:130px}.cash_Order
.pro_des{padding:0}.cash_Order .pro_des div, .index1000 .cash_Order .pro_des
div{width:auto;padding:0}.three_box_con .cash_Order
.line{padding-left:10px}.t_cen{text-align:center}.icon_niu_b{background:url(//ssl2.tuniucdn.com/img/2015040113/user_center_v2/user_icon.png) no-repeat;background-position:0 -152px;display:inline-block;height:102px;width:109px}.no_tip{color:#ddd;font-family:"Microsoft Yahei";font-size:18px;padding:5px
0 30px}.datouPop{margin-left:30px;height:40px;margin-top:14px;font-size:12px;font-weight:bold;width:290px}.datouPop
a{margin-left:-10px}.datoubutton .commit-btn{display:block;margin:auto}