.icon2.haveDinner-icon{height:19px;width:17px;vertical-align:middle;background-position:-181px -161px}.m-haveDinner  .flight-journey .flight>span{width:499px}.m-haveDinner  .flight-journey .flight>span{max-width:499px}.m-haveDinner  .flight-journey .flight>span>em{display:inline-block;*display:inline;*zoom:1;max-width:499px}.m-haveDinner  .flight-journey
.arrow{font-size:14px;color:#999}.m-haveDinner  .flight-journey .arrow>span{border-bottom:1px dotted #999}.m-haveDinner  .flight-journey .arrow>div{background:inherit}.m-haveDinner .flight-journey
.trip{color:#999}.m-haveDinner .flight-journey
.count{text-align:right}.m-haveDinner .flight-tips{text-align:center}.m-haveDinner .flight-tips
a{color:#22c233;cursor:pointer}.icon2.receipt-icon{height:19px;width:17px;vertical-align:middle;background-position:-99px -162px}.m-receipt .flight-journey
.route{width:198px}.m-receipt .flight-journey
.flight{width:265px;text-align:left}.m-receipt .flight-journey .load-invoice{width:150px;text-align:center}.m-receipt .flight-journey .flight
.number{width:265px}.m-receipt .flight-journey
.stop{width:166px}.m-receipt .jtxz-detail2.editPadding{width:auto;left:-11px}.m-receipt .jtxz-detail2.white .up-icon{left:45px}.m-receipt .tips-title>div{display:inline-block;*display:inline;*zoom:1}.m-receipt .flight-tips
.zhu{width:30px;vertical-align:top}.m-receipt .flight-tips
.text{width:870px;color:#999}.m-receipt .flight-tips .text .text-tip{line-height:20px;margin-bottom:10px}.m-receipt .flight-tips{text-align:center}.m-receipt .flight-tips.tips-title{text-align:left;margin-top:0}.m-receipt .flight-tips .check-all{color:#22c233;cursor:pointer}.m-receipt
.btn{background:#f80;border-radius:2px;width:120px;height:32px;border:1px
solid #f80;display:block;line-height:32px;color:#fff;text-align:center;float:right}.m-receipt .panel-detail .panel-title{border-bottom:none}.invoice{width:490px;height:auto;background:#fff;padding:20px
0}.invoice
.invo_title{border-bottom:1px solid #F1F1F1;text-indent:10px;padding-left:10px;width:435px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-bottom:3px}.invoice .invo_title
.state{font-size:18px;color:#878787;border-bottom:2px solid #5FD36B;text-indent:0;padding-bottom:3px}.invoice .invo_title
.all_refund{font-size:13px;color:#878787}.invoice .invo_title .all_refund
em{color:#3C3C3C;font-size:15px}.invoice .invo_title
.invo_t{font-size:13px;color:#878787;margin-left:10px;width:195px;overflow:hidden}.invoice .invo_title
.refund_close{text-indent:-9999px;width:16px;height:16px;background:url("http://img4.tuniucdn.com/img/201604151138/order/delete_close.png") no-repeat;float:right;margin-right:20px;margin-top:7px;position:absolute;right:-8px}.invoice
.invo_con{padding:10px
20px;overflow:hidden}.invoice .invo_con
.invo_info{margin-top:20px;color:#999;margin-bottom:20px;font-size:14px}.check_active{background:#4ecf5b;color:#fff}.invoice .invo_con .invo_info
p{line-height:25px}.invoice .invo_con
.render_invo{float:left}.invoice .invo_con
.refund{display:inline-block;width:85px;height:30px;line-height:30px;text-align:center;font-size:14px;cursor:pointer}.invoice .invo_con .render_invo
.refund_con{margin-top:10px;width:430px;margin-bottom:20px}.invoice .invo_con .render_invo .refund_con
.state_line{margin-left:67px}.invoice .invo_con .render_invo .refund_con
.status_desc{left:88px}.invoice .invo_con
.one{margin-right:10px}.invoice .invo_con .state_one
span{margin-top:20px;font-size:14px;padding-left:25px;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/cir.png") no-repeat 0% 50%}.invoice .invo_con
.mar{margin-top:0}.invoice .invo_con
.state_finish{position:relative;font-size:14px;color:#22c233;padding-left:25px;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/cir.png") no-repeat 0.3% 50%}.invoice .invo_con
.state_now{background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/cir_active.png") no-repeat -0.5% 50%;color:#22c233;font-weight:600;position:relative;font-size:14px;padding-left:25px}.invoice .invo_con .state_now
.state_tip{}.invoice .invo_con
.state_base{font-size:14px;padding-left:25px;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/cir_over.png") no-repeat 0% 50%;margin-left:2px}.invoice .invo_con .state_two
.state_tip{position:absolute;top:-10%;left:105%;width:122px;height:37px;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/tip.png") no-repeat 30% 50%;color:#909090;line-height:17px;padding-left:10px;padding-top:3px;font-size:14px}.invoice .invo_con .state_tip
em{display:block;font-size:12px}.invoice .invo_con  .state_tip .express
i{letter-spacing:2px}.invoice .invo_con .render_invo .refund_con>div.time_line_row
.status_name{width:56px;text-align:right}.time_line_row{position:relative;font-size:0}.time_line_row
.status_name{display:inline-block;*zoom:1;*display:inline;//width: 60px;height:20px;font-size:14px;vertical-align:top;text-align:left}.time_line_row
.status_name.state_finish{color:#22C233;margin-right:7px}.time_line_row
.status_name.state_finish_title{color:#22C233}.time_line_row
.status_desc.state_finish_title{color:#22C233}.time_line_row
.status_desc.state_finish{color:#666;margin-left:12px}.time_line_row
.status_node{display:inline-block;*zoom:1;*display:inline;width:20px;height:20px;font-size:20px;text-align:center;line-height:20px;vertical-align:top;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/cir_over.png") no-repeat 3px 1px}.time_line_row
.status_node.state_finish{background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/cir.png") no-repeat -3px 2px}.invoice .invo_con .render_invo .refund_con .time_line_row
.status_node.state_finish{background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/cir.png") no-repeat 2px 2px}.time_line_row
.status_desc{position:absolute;font-size:12px;top:0;left:125px;width:315px}.time_line_row .status_desc .check_logi
.click_check{text-decoration:underline;color:#3ECA4D}.time_line_row .status_desc
span{display:block}.state_line{height:45px;margin-left:110px;border-left:1px solid #eee}.state_line.state_finish_line{height:45px;margin-left:110px;border-left:1px solid #22C233}.statusDesc_box{position:absolute;background-color:#FFF;border:1px
solid #22C233;width:auto;left:-20px;z-index:9;top:55px}.statusDesc_box
.y{font-size:30px;position:absolute;top:-24px;left:18px;color:#FFDD67}.statusDesc_box
.z{font-size:30px;position:absolute;top:-23px;left:18px;color:#FFFCE5}.logistics,.delivery-logistic{width:490px;min-height:405px;background:#fff;border:1px
solid #CCC}.logistics .logi_title, .delivery-logistic
.logi_title{border-bottom:1px solid #F1F1F1;text-indent:10px;padding-left:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:46px;line-height:46px}.logistics .logi_title .state, .delivery-logistic .logi_title
.state{font-size:18px;color:#878787;border-bottom:2px solid #5FD36B;text-indent:0;padding-bottom:9px}.logistics .logi_title .all_refund, .delivery-logistic .logi_title
.all_refund{font-size:13px;color:#878787}.logistics .logi_title .all_refund em, .delivery-logistic .logi_title .all_refund
em{font-size:12px}.logistics .logi_title .logi_close, .logistics .logi_title
.deli_logi_close{text-indent:-9999px;width:13px;height:13px;background:url("http://img4.tuniucdn.com/img/201604151138/order/delete_close.png") no-repeat;margin-right:20px;margin-top:16px;position:absolute;right:0}.logistics .logi_con, .delivery-logistic
.logi_con{padding:10px
1px 10px 20px;overflow:hidden;margin-bottom:20px;margin-top:15px;font-size:12px;height:300px}.logistics .logi_con .render_logi, .delivery-logistic .logi_con
.render_logi{height:40px;margin-bottom:30px;position:relative}.logistics .logi_con .render_logi:first-child .refund_con .time_line_row .state_base_title,.delivery-logistic .logi_con .render_logi:first-child .refund_con .time_line_row
.state_base_title{font-size:12px;color:#000}.logistics .logi_con .render_logi:not(:first-child) .refund_con .time_line_row .state_base_title, .delivery-logistic .logi_con .render_logi:not(:first-child) .refund_con .time_line_row
.state_base_title{font-size:12px;color:#999}.logistics .logi_con  .refund, .delivery-logistic .logi_con
.refund{display:inline-block;width:85px;height:30px;line-height:30px;text-align:center;font-size:14px;cursor:pointer}.logistics .logi_con .render_logi .refund_con, .delivery-logistic .logi_con
.refund_con{margin-top:10px;width:430px;margin-bottom:20px}.logistics .logi_con .render_logi .refund_con .no_img, .delivery-logistic .logi_con .render_logi .refund_con
.no_img{padding:0px
20px;text-align:center}.logistics .logi_con .render_logi .refund_con .no_img img, .delivery-logistic .logi_con .logi_con .render_logi .refund_con .no_img
img{width:250px;height:250px}.logistics .logi_con .render_logi .refund_con .no_text, .delivery-logistic .logi_con .render_logi .refund_con
.no_text{text-align:center;color:#878787;margin-top:20px;font-size:14px}.logistics .logi_con .one, .delivery-logistic .logi_con
.one{margin-right:10px}.logistics .logi_con .state_one span, .delivery-logistic .logi_con .state_one
span{margin-top:20px;font-size:14px;padding-left:25px;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/cir.png") no-repeat 0% 50%}.logistics .logi_con .mar, .delivery-logistic .logi_con
.mar{margin-top:0}.logistics .logi_con .state_line, .delivery-logistic .logi_con
.state_line{height:45px;width:20px;margin-left:10px;position:relative;top:-17px}.logistics .logi_con .state_finish, .delivery-logistic .logi_con
.state_finish{position:relative;font-size:14px;color:#22c233;padding-left:25px;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/cir.png") no-repeat 0.3% 50%}.logistics .logi_con .state_now, .delivery-logistics .logi_con
.state_now{background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/cir_active.png") no-repeat -0.5% 50%;color:#22c233;font-weight:600;position:relative;font-size:14px;padding-left:25px}.logistics .logi_con .render_logi .refund_con .time_line_row .status_name, .delivery-logistics .logi_con .render_logi .refund_con .time_line_row
.status_name{text-align:left}.logistics .logi_con .render_logi .refund_con .time_line_row .status_node, .delivery-logistics .logi_con .render_logi .refund_con .time_line_row
.status_name{position:relative;top:-20px}.logistics .time_line_row .status_name.state_base_title, .delivery-logistics .time_line_row
.status_name{margin-left:10px;position:absolute;top:-20px;left:14px;display:block;width:400px}.logistics .logi_con .render_logi .refund_con .time_line_row .status_name.state_base_title em, .delivery-logistics .logi_con .render_logi .refund_con .time_line_row .status_name.state_base_title
em{display:block}.logistics .logi_con .render_logi .refund_con .time_line_row .status_name.state_base_title em.accept nobr, .delivery-logistics .logi_con .render_logi .refund_con .time_line_row .status_name.state_base_title em.accept
nobr{max-height:36px;width:400px;display:block;white-space:initial;overflow:hidden;text-overflow:ellipsis}.logistics .refund_con .time_line_row:first-child, .delivery-logistics .refund_con .time_line_row:first-child{margin-top:10px;position:relative;top:13px}.logistics
.acceptTime{}.logistics .logi_con .render_logi .refund_con .time_line_row .state_line.state_finish_line, .delivery-logistics .logi_con .render_logi .refund_con .time_line_row
.state_line.state_finish_line{border-left:1px solid #eee}.logistics .logi_con .state_base, .delivery-logistics .logi_con
.state_base{font-size:14px;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/cir_over.png") no-repeat 0% 50%}.logistics .logi_con .state_two .state_tip, .delivery-logistics .logi_con .state_two
.state_tip{//display: none;position:absolute;top:-10%;left:105%;width:122px;height:37px;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/tip.png") no-repeat 30% 50%;color:#909090;line-height:17px;padding-left:10px;padding-top:3px;font-size:14px}.logistics .logi_con .state_tip em, .delivery-logistics .logi_con .state_tip
em{display:block;font-size:12px}.logistics .logi_con  .state_tip .express i, .delivery-logistics .logi_con  .state_tip .express
i{letter-spacing:2px}.visa_logistics .logi_con .render_logi .refund_con .time_line_row
span.status_name.state_base_title.default_marg{margin-top:45px}.logistics
p.status_node.state_finish_line.default_cir{background:url("http://ssl3.tuniucdn.com/img/201604072050/boss3_orderDetail/cir_active.png") no-repeat -0.5% 50%;color:#22c233;font-weight:600;position:relative;font-size:14px;padding-left:25px}.visa_logistics .logi_con .render_logi .refund_con .time_line_row
p.status_node.state_finish_line.default_cir{background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/cir_active.png") no-repeat -0.5% 50%;color:#22c233;font-weight:600;position:relative;font-size:14px;padding-left:25px}.visa_logistics .logi_con .render_logi .refund_con .time_line_row
p.status_node.state_finish_line{border-left:none}.insuranceReceipt{border:1px
solid #CCC;background:#fff;padding-left:19px;padding-bottom:10px;max-height:408px}.insuranceReceipt
.goPiao{margin-left:10px;color:#22c233;text-decoration:underline}.insuranceReceipt
.prompt_style{height:16px;width:16px;vertical-align:middle;margin-right:4px}.insuranceReceipt .iR_content
.content_down{font-size:14px;color:#22c233;float:right}.insuranceReceipt .iR_content
.downLoad{width:11px;height:14px}.insuranceReceipt
.iR_title{border-bottom:1px solid #eee;height:45px;font-size:18px;line-height:45px}.insuranceReceipt
.insuranceReceipt_close{float:right;margin-top:19px;cursor:pointer;margin-right:19px}.insuranceReceipt
h4{float:left;border-bottom:2px solid #22c233}.insuranceReceipt .iR_content
.ul_iR_content{margin-top:13px;width:550px}.insuranceReceipt .iR_content
.end_line{border-bottom:1px solid #eee;margin-top:10px;margin-right:20px}.insuranceReceipt .iR_content
li{margin-top:2px;font-size:14px}.perfect-tourist-info{width:100%;position:fixed;bottom:0;left:0;line-height:60px;background:rgba(0,0,0,0.50);// opacity:0.5;// filter: alpha(opacity=50);// -moz-opacity: 0.5;font-size:24px;color:#fff;padding:10px
0;z-index:9999}.perfect-tourist-info .info-main{width:1175px;margin:0
auto}.perfect-tourist-info .close-img{position:absolute;right:25px;top:16px}.perfect-tourist-info .info-main>div{display:inline-block;*display:inline;*zoom:1}.perfect-tourist-info .info-main .main-text{width:1000px}.perfect-tourist-info .info-main .main-text
em{font-size:24px;color:#f80}.perfect-tourist-info .info-main .main-btn
a{background:#f80;border-radius:2px;font-size:18px;color:#fff;border:1px
solid #f80;padding:7px
42px;font-weight:bold}.perfect-tourist-info .close-img
img{cursor:pointer}html,body{margin:0;padding:0;font-family:"微软雅黑"}body{position:relative}#J_receipt_dialog
.receipt_address{font-weight:bold;color:#000;margin-bottom:6px;padding-left:20px}#J_receipt_dialog .receipt_address
.receipt_address_detail{font-weight:300}#J_receipt_dialog
.add_receipt_btn{color:#4e9700;font-weight:normal;margin-left:3px;cursor:pointer}#J_receipt_dialog .add_receipt_btn:hover{color:#f60;font-weight:normal;margin-left:3px;cursor:pointer}#addInvoice-bg{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#777;opacity:0.5;filter:alpha(opacity=50);z-index:2100;display:none}#J_receipt_dialog{width:930px;background:#FFF;position:fixed;height:auto;z-index:201512;font-family:"微软雅黑";box-shadow:0px 0px 9px 0px rgba(0,0,0,0.10);display:none;max-height:850px}#J_receipt_dialog
.dialog_title{border-bottom:1px solid #eee;_zoom:1;height:47px;line-height:47px;padding-left:20px}#J_receipt_dialog .dialog_title
h4{float:left;font-weight:300;font-size:16px;color:#333;border-bottom:2px solid #22c233}#J_receipt_dialog .dialog_close,.deli_dialog_close{float:right;margin-top:19px;cursor:pointer;margin-right:19px}#J_receipt_dialog
.receipt_con{height:auto;margin-left:20px;margin-top:1px;font-size:14px;color:#666;max-height:600px;overflow:hidden}#J_receipt_dialog .receipt_con
.note_check{color:#999;font-size:14px;margin-left:70px;margin-top:25px}#J_receipt_dialog .receipt_con .note_check
.note_content{display:inline-block;width:660px;vertical-align:text-top}#J_receipt_dialog .receipt_con .note_check .note_content
p{line-height:20px}#J_receipt_dialog
.receipt_info{font-size:14px;line-height:30px;margin-top:15px}#J_receipt_dialog .receipt_info
.receipt_fee_count{color:#f80}#J_receipt_dialog .receipt_info_content .all-price-need-change{margin-left:-10px;color:#333}#J_receipt_dialog .receipt_info_title_list
.invoiceContent{margin-left:-10px;color:#333}#J_receipt_dialog .receipt_info
.field_select{background:#fff;border:1px
solid #ccc;width:215px;height:32px;margin-right:5px;text-indent:10px}#J_receipt_dialog
.receipt_info_title{line-height:30px;width:84px;color:#666;display:inline-block;*display:inline;*zoom:1;vertical-align:top;text-align:right;margin-right:5px}#receipt_selectContent{background:#fff;border:1px
solid #ccc;width:438px;height:30px;margin-top:0px;box-sizing:content-box}#J_receipt_tourist_list{margin-top:-8px}#J_receipt_dialog
.receipt_info_button{font-size:15px;width:155px;height:30px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px}#J_receipt_dialog
.receipt_info_content{line-height:30px;color:#666;display:inline-block;*display:inline;*zoom:1;vertical-align:top}.receipt_info_tips{// line-height: 30px;//    color: #999;//    display: inline-block;//    vertical-align: top;//    font-size: 12px}#J_receipt_dialog .receipt_info_tips
.tip_icon{cursor:pointer}#J_receipt_dialog .receipt_info_tips .tip_icon
img{margin-top:8px;margin-left:3px;cursor:pointer}#J_receipt_dialog .receipt_info_tips
.tip_text{position:absolute;width:443px;height:auto;background:#fff;left:64px;top:36px;padding:10px;display:none;border:1px
solid #ccc;font-size:14px;z-index:999}#J_receipt_dialog .receipt_info_tips .tip_text
.y{position:absolute;color:#999;font-size:36px;left:14%;top:-13px;line-height:22px}#J_receipt_dialog
.receipt_info_button{margin-bottom:10px}#J_receipt_dialog .receipt_info_tips .tip_text
.z{position:absolute;color:#fff;font-size:36px;left:14%;top:-12px;line-height:22px}#J_receipt_dialog
.button_choose_active{background:red}#J_receipt_dialog
.cannotClick{pointer-events:none}#J_receipt_dialog
.receipt_info_title_list{display:inline-block;margin-top:-20px}#J_receipt_dialog .receipt_info_title_list
.receipt_guest_type{margin-bottom:10px;display:inline-block;border:1px
solid #ccc;width:120px;margin-right:14px;cursor:pointer;text-align:center}#J_receipt_dialog
.recepit_invoice_content{display:inline-block;width:820px;margin-top:-20px}#J_receipt_dialog .receipt_info_title_list
.recepit_invoice_content{display:inline-block;border:1px
solid #ccc;width:120px;margin-right:14px;cursor:pointer;text-align:center}#J_receipt_dialog .receipt_info_title_list
.choose_active{border:1px
solid red}#J_receipt_dialog
.receipt_tourist_list{position:relative}#J_receipt_dialog
.J_receipt_title_list{position:absolute;background:#FFF;top:32px;border-left:1px solid #CCC;border-right:1px solid #CCC;width:438px;z-index:9}#J_receipt_dialog .J_receipt_title_list
li{padding-left:10px;border-bottom:1px solid #CCC;cursor:pointer}#J_receipt_dialog .J_receipt_title_list li:hover{background-color:#3385ff;color:#FFF}#J_receipt_dialog .J_receipt_title_list
p{padding-left:10px;color:#F00;border-bottom:1px solid #CCC}#J_receipt_dialog
.receipt_tourist_list_bar{display:inline-block;*display:inline;*zoom:1}#J_receipt_dialog
.receipt_address_list_bar{display:inline-block;*display:inline;*zoom:1;margin-top:-20px;width:810px}#J_receipt_dialog .receipt_address_list_bar
.get_more_list{clear:both}#J_receipt_dialog .receipt_address_list_bar .get_more_list
.canShouMore{//display: none}#J_receipt_dialog .receipt_address_list_bar .get_more_list
span{background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/dui.png") no-repeat 0% 56%;width:10px;height:10px;padding-left:12px;cursor:pointer}#J_receipt_dialog .receipt_address_list_bar .get_more_list span
em{font-size:12px;color:#22c233;border-bottom:1px solid #22c233}#J_receipt_dialog .receipt_address_list_bar
.receipt_address_list{border:1px
solid #ccc;width:219px;//height: auto;float:left;margin-right:49px;cursor:pointer}#J_receipt_dialog .receipt_address_list_bar
.hoverStyle{background:rgba(255,167,50,0.10);border:1px
solid #ffa833;width:219px;height:auto}#J_receipt_dialog
.invoiceList_insuranceList{cursor:pointer}#J_receipt_dialog .receipt_address_list_bar
.receipt_add_list{border:1px
solid #ccc;width:219px;height:auto;// display: inline-block;// *display: inline;// *zoom:1;float:left;margin-right:49px;cursor:pointer}#J_receipt_dialog .receipt_address_list_bar
.controlHei{margin-top:30px;height:132px}#J_receipt_dialog .receipt_address_list_bar
.list_active{border:1px
solid #f80;position:relative}#J_receipt_dialog .receipt_address_list
.default_add{height:20px;width:100%}#J_receipt_dialog .receipt_address_list_bar .receipt_address_list .default_add
span{display:block;width:60px;height:20px;margin-left:159px;background:#CCC;line-height:18px;font-size:12px;color:#fff;text-align:center}#J_receipt_dialog .receipt_address_list_bar .receipt_address_list .default_add
span.changeWidth{margin-left:139px;width:80px;background:#ffa833}#J_receipt_dialog .receipt_address_list_bar .receipt_address_list .default_add span.changeWidth:hover{color:#f60}#J_receipt_dialog .receipt_address_list
.active_png{width:100%;height:28px;text-align:right}#J_receipt_dialog .receipt_address_list .active_png
span.deleteOrCancel{font-size:12px;color:#22c233;width:100px;float:right;margin-right:10px}#J_receipt_dialog .receipt_address_list .active_png
.edit{margin-right:11px}.receipt_address_list .active_png .edit:hover{color:#f60}.receipt_address_list .active_png .delete:hover{color:#f60}.receipt_address_list .active_png
.delete{margin-right:11px}.list_active .active_png
span.active_span{background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/add_active.png");display:block;width:28px;height:28px;text-align:right;margin-left:191px;margin-bottom:5px;margin-top:-5px;position:absolute;bottom:-5px}#J_receipt_dialog .receipt_address_list_bar .receipt_address_list .con_name
span{display:block;width:180px;text-align:center;border-bottom:1px solid #ccc;margin:0
auto}#J_receipt_dialog .receipt_address_list_bar .receipt_address_list .addRess
span{font-size:12px;color:#666;display:block;width:180px;margin:10px
auto;line-height:17px;height:33px;overflow:hidden;text-overflow:ellipsis}.receipt_add_list .address_list_con
.add_png{margin-top:33px;margin-left:90px}#J_receipt_dialog .receipt_add_list .address_list_con
.add_text{text-align:center;font-size:12px;color:#666}#J_receipt_dialog .receipt_tourist_list_bar
input{border:1px
solid #ccc;height:30px;text-indent:10px}#J_receipt_dialog .receipt_tourist_list_bar
input.receipt_tourist_name{background:#fff;border:1px
solid #ccc;width:438px;height:30px;margin-right:20px}#J_receipt_dialog .receipt_tourist_list_bar
input.receipt_identification_number{background:#fff;border:1px
solid #ccc;width:438px;height:30px;margin-right:20px}#J_receipt_dialog
.receipt_tourist{line-height:30px;margin-top:8px;position:relative}#J_receipt_dialog
.receiptTitleBox{margin-bottom:15px}#J_receipt_dialog .receipt_tourist_list .receiptCodeBox .receipt_tourist_price,
#J_receipt_dialog .receipt_tourist_list .receiptCodeBox
.receipt_identification_number{width:213px;border:1px
solid #CCC;margin-right:10px}#J_receipt_dialog .receipt_tourist:nth-child(2){margin-top:20px}#J_receipt_dialog
.receipt_tourist_price{width:100px;height:32px;line-height:32px}#J_receipt_dialog .receipt_VAT_special
input{border:1px
solid #ccc;height:30px;text-indent:10px;width:438px}#J_receipt_dialog .receipt_contact
input{width:438px;height:30px}#J_receipt_dialog
.receipt_tourist_name{width:230px;line-height:30px}#J_receipt_dialog
.error_show{font-size:12px;color:#f76863;width:763px;margin-top:-5px}#J_receipt_dialog .error_show
.must_header{background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/error.png") no-repeat 0 -3%;padding-left:20px}#J_receipt_dialog .error_show
.must_price{background:url('http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/error.png') no-repeat 0 52%;padding-left:20px;float:right;margin-right:10px;margin-top:5px;width:190px}#J_new_address_province,#J_deli_new_address_province{background:#fff;border:1px
solid #ccc;width:108px;height:30px;font-size:14px;color:#666;text-indent:5px}#J_new_address_city,#J_deli_new_address_city{background:#fff;border:1px
solid #ccc;width:108px;height:30px;font-size:14px;color:#666;text-indent:5px}#J_receipt_dialog
.receipt_dollar{color:#f60;margin-left:14px;margin-right:7px}#J_receipt_dialog .receipt_add,
#J_receipt_dialog
.receipt_new_address{cursor:pointer;position:relative;font-size:12px;color:#22c233;top:0px;border-bottom:1px solid #22c233;display:inline}#J_receipt_dialog
.receipt_del{cursor:pointer;font-size:12px;color:#22c233;margin-left:10px}#J_receipt_dialog
.receipt_del{display:none}#J_receipt_dialog
.receipt_new_address_bar{display:none;width:103%;margin-left:10px;border-top:1px solid #ddd;margin-top:28px;padding-top:30px;clear:both}#J_receipt_dialog .receipt_new_address_bar
.add_new_address{font-size:14px;color:#333}#J_receipt_dialog .receipt_address_list_bar
.check{font-size:14px;color:#999;margin-top:30px;clear:both}#J_receipt_dialog .receipt_address_list_bar .check
p{height:25px}#J_receipt_dialog .receipt_address_list_bar .check
.check_tip{text-indent:27px}#J_receipt_dialog .receipt_new_address_bar
.over_btn{margin-top:30px;margin-left:192px}#J_receipt_dialog .receipt_new_address_bar
.btn{background:#4ecf5b;width:44px;height:24px;display:inline-block;line-height:24px;font-size:12px;text-align:center;cursor:pointer}#J_receipt_dialog .receipt_new_address_bar
.btn.new_add_save{background:#4ecf5b;color:#fff;border:1px
solid #4ecf5b}#J_receipt_dialog .receipt_new_address_bar .btn.new_add_save:hover{background:#22c233}#J_receipt_dialog .receipt_new_address_bar
.btn.storeEditData{background:#4ecf5b;color:#fff;border:1px
solid #4ecf5b}#J_receipt_dialog .receipt_new_address_bar
.btn.new_add_cancel{background:#FFF;margin-left:20px;color:#666;border:1px
solid #ccc}#J_receipt_dialog .receipt_new_address_bar .btn.new_add_cancel:hover{border:1px
solid #999}#J_receipt_dialog .receipt_new_address_bar
tr{height:32px;line-height:55px}#J_receipt_dialog
.receipt_new_address_title{width:90px;text-align:right}#J_receipt_dialog
.receipt_new_address_input{background:#fff;border:1px
solid #ccc;width:348px;height:30px;text-indent:10px}#J_receipt_dialog
.detailed_address{background:#fff;border:1px
solid #ccc;width:348px;height:92px;margin-top:10px;font-size:14px;color:#999;padding-top:6px}#J_receipt_dialog
.new_detailed_address{vertical-align:top}#J_receipt_dialog
.receipt_foot{height:60px;font-size:0;width:100%;padding-top:10px}#J_receipt_dialog
.triangle_down{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:10px solid #2e9900;font-size:0}#J_receipt_dialog
.triangle_up{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:10px solid #2e9900;font-size:0;position:absolute;top:6px}#J_receipt_dialog
.address_areaCode{width:50px}#J_receipt_dialog
.address_tel{width:114px}#J_receipt_dialog
.receipt_function_bar{margin:auto;margin-top:10px;width:230px}#J_receipt_dialog .receipt_btn_save,
#J_receipt_dialog
.receipt_btn_cancel{display:inline-block;*display:inline;*zoom:1;width:100px;height:32px;line-height:30px;text-align:center;font-size:14px;cursor:pointer}#J_receipt_dialog
.receipt_btn_save{background-color:#f80;border:1px
solid #FD893E;border-radius:2px;color:#FFF;margin-right:20px}#J_receipt_dialog .receipt_btn_save:hover{background:#ffa833}#J_receipt_dialog
.receipt_btn_cancel{background-color:#FFF;border-radius:2px;color:#c2c2c2;font-size:16px;color:#666;border:1px
solid #ccc}#J_receipt_dialog .receipt_btn_cancel:hover{border:1px
solid #999}#J_receipt_dialog
.err_tips{color:#F00;font-size:12px}#J_receipt_dialog .err_tips
img{margin-right:5px;vertical-align:-3px}#J_receipt_dialog
.control{vertical-align:50px}#J_receipt_dialog
.delivery_address{font-weight:bold;color:#000;margin-bottom:6px;padding-left:20px}#J_receipt_dialog .delivery_address
.delivery_address_detail{font-weight:300}#J_receipt_dialog
.add_delivery_btn{color:#4e9700;font-weight:normal;margin-left:3px;cursor:pointer}#J_receipt_dialog .add_delivery_btn:hover{color:#f60;font-weight:normal;margin-left:3px;cursor:pointer}#J_receipt_dialog
.delivery_dialog{width:930px;background:#FFF;z-index:1000;position:fixed;height:auto;z-index:201512;font-family:"微软雅黑";box-shadow:0px 0px 9px 0px rgba(0,0,0,0.10);display:none;max-height:850px}#J_receipt_dialog
.delivery_con{height:auto;margin-left:20px;margin-top:20px;font-size:14px;color:#666;max-height:600px;overflow:hidden}#J_receipt_dialog
.delivery_info{font-size:14px;line-height:30px}#J_receipt_dialog
.delivery_info_title{line-height:30px;width:75px;color:#666;display:inline-block;*display:inline;*zoom:1;vertical-align:top}#J_receipt_dialog
.delivery_info_content{line-height:30px;color:#666;display:inline-block;*display:inline;*zoom:1;vertical-align:top}.delivery_info_tips{// line-height: 30px;//    color: #999;//    display: inline-block;//    vertical-align: top;//    font-size: 12px}#J_receipt_dialog .delivery_info_tips
.tip_icon{cursor:pointer}#J_receipt_dialog .delivery_info_tips .tip_icon
img{margin-top:8px;margin-left:3px;cursor:pointer}#J_receipt_dialog .delivery_info_tips
.tip_text{position:absolute;width:443px;height:auto;background:#fff;left:64px;top:36px;padding:10px;display:none;border:1px
solid #ccc;font-size:14px;z-index:999}#J_receipt_dialog .delivery_info_tips .tip_text
.y{position:absolute;color:#999;font-size:36px;left:14%;top:-13px;line-height:22px}#J_receipt_dialog .delivery_info_tips .tip_text
.z{position:absolute;color:#fff;font-size:36px;left:14%;top:-12px;line-height:22px}#J_receipt_dialog
.delivery_tourist_list_bar{display:inline-block;*display:inline;*zoom:1;width:820px;margin-top:8px}#J_receipt_dialog
.delivery_address_list_bar{display:inline-block;*display:inline;*zoom:1;width:817px;margin-top:-20px}#J_receipt_dialog .delivery_address_list_bar
.get_more_list{clear:both}#J_receipt_dialog .delivery_address_list_bar .get_more_list
.canShouMore{//display: none}#J_receipt_dialog .delivery_address_list_bar .get_more_list
span{background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/dui.png") no-repeat 0% 56%;width:10px;height:10px;padding-left:12px;cursor:pointer}#J_receipt_dialog .delivery_address_list_bar .get_more_list span
em{font-size:12px;color:#22c233;border-bottom:1px solid #22c233}#J_receipt_dialog .delivery_address_list_bar
.delivery_address_list{border:1px
solid #ccc;width:219px;//height: auto;float:left;margin-right:49px;cursor:pointer}#J_receipt_dialog .delivery_address_list_bar
.hoverStyle{background:rgba(255,167,50,0.10);border:1px
solid #ffa833;width:219px;height:auto}#J_receipt_dialog .delivery_address_list_bar
.delivery_add_list{border:1px
solid #ccc;width:219px;height:auto;float:left;margin-right:49px;cursor:pointer}#J_receipt_dialog .delivery_address_list_bar
.controlHei{margin-top:30px;height:132px}#J_receipt_dialog .delivery_address_list_bar
.list_active{border:1px
solid #f80;position:relative}#J_receipt_dialog .delivery_address_list
.default_add{height:20px;width:100%}#J_receipt_dialog .delivery_address_list_bar .delivery_address_list .default_add
span{display:block;width:60px;height:20px;margin-left:159px;background:#CCC;line-height:18px;font-size:12px;color:#fff;text-align:center}#J_receipt_dialog .delivery_address_list_bar .delivery_address_list .default_add
span.changeWidth{margin-left:139px;width:80px;background:#ffa833}#J_receipt_dialog .delivery_address_list_bar .delivery_address_list .default_add span.changeWidth:hover{color:#f60}#J_receipt_dialog .delivery_address_list
.active_png{width:100%;height:28px;text-align:right}#J_receipt_dialog .delivery_address_list .active_png
span.deleteOrCancel{font-size:12px;color:#22c233;width:100px;float:right;margin-right:10px}#J_receipt_dialog .delivery_address_list .active_png .deli-edit{margin-right:11px}#J_receipt_dialog .delivery_address_list .active_png .deli-edit:hover{color:#f60}#J_receipt_dialog .delivery_address_list .active_png .deli-delete:hover{color:#f60}#J_receipt_dialog .delivery_address_list .active_png .deli-delete{margin-right:11px}#J_receipt_dialog .delivery_address_list_bar .delivery_address_list .con_name
span{display:block;width:180px;text-align:center;border-bottom:1px solid #ccc;margin:0
auto}#J_receipt_dialog .delivery_address_list_bar .delivery_address_list .addRess
span{font-size:12px;color:#666;display:block;width:180px;margin:10px
auto;line-height:17px;height:33px;overflow:hidden;text-overflow:ellipsis}#J_receipt_dialog .delivery_add_list .address_list_con
.add_png{margin-top:33px;margin-left:90px}#J_receipt_dialog .delivery_add_list .address_list_con
.add_text{text-align:center;font-size:12px;color:#666}#J_receipt_dialog .delivery_tourist_list_bar
input{border:1px
solid #ccc;height:30px;text-indent:10px}#J_receipt_dialog .delivery_tourist_list_bar
input.delivery_tourist_name{background:#fff;border:1px
solid #ccc;width:348px;height:30px;margin-right:100px}#J_receipt_dialog
.delivery_tourist{height:30px;line-height:30px;margin-bottom:20px}#J_receipt_dialog .delivery_tourist:nth-child(2){margin-top:20px}#J_receipt_dialog
.delivery_tourist_price{width:100px;height:32px;line-height:32px}#J_receipt_dialog
.delivery_tourist_name{width:230px;line-height:30px}#J_receipt_dialog
.delivery_dollar{color:#f60;margin-left:14px;margin-right:7px}#J_receipt_dialog .delivery_add,
#J_receipt_dialog
.delivery_new_address{cursor:pointer;position:relative;font-size:12px;color:#22c233;top:0px;border-bottom:1px solid #22c233;display:inline}#J_receipt_dialog
.delivery_del{cursor:pointer;font-size:12px;color:#22c233;margin-left:10px}#J_receipt_dialog
.delivery_del{display:none}#J_receipt_dialog
.delivery_new_address_bar{display:none;width:103%;margin-left:-75px;border-top:1px solid #ddd;margin-top:28px;padding-top:30px;clear:both}#J_receipt_dialog .delivery_new_address_bar
.add_new_address{font-size:14px;color:#333}#J_receipt_dialog .delivery_address_list_bar
.check{font-size:14px;color:#999;margin-top:40px;clear:both}#J_receipt_dialog .delivery_address_list_bar .check
p{height:25px}#J_receipt_dialog .delivery_address_list_bar .check
.check_tip{text-indent:27px}#J_receipt_dialog .delivery_new_address_bar
.over_btn{margin-top:30px;margin-left:192px}#J_receipt_dialog .delivery_new_address_bar
.btn{background:#4ecf5b;width:44px;height:24px;display:inline-block;line-height:24px;font-size:12px;text-align:center;cursor:pointer}#J_receipt_dialog .delivery_new_address_bar
.btn.deli_new_add_save{background:#4ecf5b;color:#fff;border:1px
solid #4ecf5b}#J_receipt_dialog .delivery_new_address_bar .btn.deli_new_add_save:hover{background:#22c233}#J_receipt_dialog .delivery_new_address_bar
.btn.deliStoreEditData{background:#4ecf5b;color:#fff;border:1px
solid #4ecf5b}#J_receipt_dialog .delivery_new_address_bar
.btn.deli_new_add_cancel{background:#FFF;margin-left:20px;color:#666;border:1px
solid #ccc}#J_receipt_dialog .delivery_new_address_bar .btn.deli_new_add_cancel:hover{border:1px
solid #999}#J_receipt_dialog .delivery_new_address_bar
tr{height:32px;line-height:55px}#J_receipt_dialog
.delivery_new_address_title{width:90px;text-align:right}#J_receipt_dialog
.delivery_new_address_input{background:#fff;border:1px
solid #ccc;width:348px;height:30px;text-indent:10px}#J_receipt_dialog
.delivery_foot{height:60px;font-size:0;width:100%;padding-top:10px}#J_receipt_dialog
.delivery_function_bar{margin:auto;margin-top:10px;width:230px}#J_receipt_dialog .delivery_btn_save,
#J_receipt_dialog
.delivery_btn_cancel{display:inline-block;*display:inline;*zoom:1;width:100px;height:32px;line-height:30px;text-align:center;font-size:14px;cursor:pointer}#J_receipt_dialog
.delivery_btn_save{background-color:#f80;border:1px
solid #FD893E;border-radius:2px;color:#FFF;margin-right:20px}#J_receipt_dialog .delivery_btn_save:hover{background:#ffa833}#J_receipt_dialog
.delivery_btn_cancel{background-color:#FFF;border-radius:2px;color:#c2c2c2;font-size:16px;color:#666;border:1px
solid #ccc}#J_receipt_dialog .delivery_btn_cancel:hover{border:1px
solid #999}#J_receipt_dialog
.detailed_address{background:#fff;border:1px
solid #ccc;width:348px;height:92px;margin-top:10px;font-size:14px;color:#999;padding-top:6px}#J_receipt_dialog
.receipt_type_btn{width:213px;border:1px
solid #CCC;display:inline-block;text-align:center;margin-right:10px;cursor:pointer}#J_receipt_dialog
.receipt_type_btn.activity{border:1px
solid #f80;color:#f80}.xubox_botton
.xubox_botton3{border:1px
solid #ddd;background:#fff !important;color:#333}.xubox_botton
.xubox_botton2{margin-left:-136px;border:1px
solid #f80;background:#f80;color:#fff}.xubox_botton .xubox_botton2, .xubox_botton
.xubox_botton3{width:120px;height:40px;line-height:40px;font-size:16px;font-family:"microsoft yahei";-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}.peri-cancel-order{background-color:#FFF;font-size:14px;font-family:"微软雅黑"}.peri-cancel-order
.tuituan_title{border-bottom:1px solid #DDD;height:25px;width:630px;margin:0
auto;padding:10px
0}.peri-cancel-order .tuituan_title
h2{line-height:30px}.peri-cancel-order .tuituan_title h2
b{font-size:16px;padding-bottom:9px;font-size:18px;color:#999;font-weight:normal}.peri-cancel-order .tuituan_title h2 span
em{font-style:normal}.peri-cancel-order .tuituan_title h2
span{float:right;border-bottom:none;color:#999;font-size:14px;font-weight:lighter;line-height:30px;margin-right:10px}.peri-cancel-order .tuituan_title h2 span
i{width:17px;height:15px;background:url("http://img4.tuniucdn.com/img/201605232230/order/open_time2.png") no-repeat 50%;text-indent:-9999px;padding-right:20px}.peri-cancel-order .tuituan_title h2 span
.peri_delete_close{display:inline-block;text-indent:-9999px;position:relative;left:10px;top:8px;width:13px;height:13px;background:url("http://img4.tuniucdn.com/img/201605232230/order/delete_close.png") no-repeat}.peri-cancel-order
.tuituan_con{height:auto;margin:20px
auto;font-size:14px;color:#666}.peri-cancel-order .tuituan_con
.tuituan_con_bg{width:610px;height:auto;padding:0
20px;color:#666}.peri-cancel-order .tuituan_con
.singleRoom{color:#f80;height:25px;padding-left:20px;line-height:35px}.peri-cancel-order .tuituan_con
.tuituan_change{line-height:20px}.peri-cancel-order .tuituan_con .tuituan_change p
em{font-style:normal;color:#F60}.peri-cancel-order .tuituan_con .tuituan_change p
i{font-style:normal;color:#F60}.peri-cancel-order .tuituan_con
.tuituan_cancel{margin-top:20px}.peri-cancel-order .tuituan_con .tuituan_cancel p
em.back_Price{font-style:normal;color:#F60}.peri-cancel-order .tuituan_con .tuituan_cancel p
i{font-style:normal;color:#F60}.peri-cancel-order .tuituan_con .tuituan_cancel p
.single{}.peri-cancel-order .tuituan_con .tuituan_cancel p .single
.odd{font-style:normal;color:#FD8230}.peri-cancel-order .tuituan_con .tuituan_cancel p
em{color:#F60}.peri-cancel-order .tuituan_con
.tuituan_cost_detail{padding-top:10px}.peri-cancel-order .tuituan_con .tuituan_cost_detail
h2{font-size:14px;padding-bottom:5px;font-weight:bold;color:#666}.peri-cancel-order .tuituan_con .tuituan_cost_detail
.detailed{width:610px;height:100px;border:1px
solid #ddd;background:#fafafa}.peri-cancel-order .tuituan_con .tuituan_cost_detail .detailed
p{width:100%;height:32px;line-height:32px;text-indent:5px;border-bottom:1px solid #eee}.peri-cancel-order .tuituan_con .tuituan_cost_detail .detailed p:last-child{border:none;text-indent:11px}.peri-cancel-order .tuituan_con .tuituan_cost_detail .detailed p:last-child
span{color:#FE6600}.peri-cancel-order .tuituan_con .tuituan_cost_detail .detailed p
span{display:inline-block}.peri-cancel-order .tuituan_con .tuituan_cost_detail .detailed p span
em{color:#FE6600}.peri-cancel-order .tuituan_con .tuituan_cost_detail .detailed p span.shou-pay{width:50%;border-right:1px solid #eee}.peri-cancel-order .tuituan_con .tuituan_cost_detail .detailed p span.promot-pay{width:50%;border-right:1px solid #eee}.peri-cancel-order .tuituan_con
.tuituan_agreement{clear:both;padding-left:21px}.peri-cancel-order .tuituan_con .tuituan_agreement
.agreement{margin-top:11px}.peri-cancel-order .tuituan_con .tuituan_agreement .agreement
.input_checkbox_btn{line-height:16px;cursor:pointer}.peri-cancel-order .tuituan_con .tuituan_agreement .agreement .input_checkbox_btn
span{border:1px
solid #ddd;background-color:#fff;height:12px;width:12px;text-align:center;display:inline-block;color:#fff;margin-right:7px}.peri-cancel-order .tuituan_con .tuituan_agreement .agreement .input_checkbox_btn
.tn_fontface{font-family:'tn_fontface';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.peri-cancel-order .tuituan_con .tuituan_agreement .agreement .input_checkbox_btn
.agree_tn_con{font-style:normal;position:relative;top:-3px;font-weight:bolder}.peri-cancel-order .tuituan_con .tuituan_agreement .agreement .input_checkbox_btn span.tick-ac{height:14px;width:14px;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/tick-ac.png") no-repeat center 0px;border:none}.peri-cancel-order .tuituan_con .tuituan_agreement .agreement
.agreement_but{position:relative;top:3px;border:1px
solid red;width:15px;height:15px;background:red;border-radius:0}.peri-cancel-order .tuituan_con .tuituan_agreement .agreement
.per_agreement_con{width:610px;height:159px;border:1px
solid #DDD;margin-top:5px;overflow:auto}.peri-cancel-order .tuituan_con .tuituan_agreement .agreement .per_agreement_con
iframe{width:100%;height:100%;border:none}.peri-cancel-order .tuituan_con .tuituan_agreement .agreement .agreement_but_con .peri-btn{width:120px;height:40px;font-size:16px;border-radius:2px;cursor:pointer;font-weight:bold}.peri-cancel-order .tuituan_con .tuituan_agreement .agreement .agreement_but_con
.peri_agreement_con_deter{background:#CCC;color:#FFF;border:1px
solid #ddd;margin-left:45px}.peri-cancel-order .tuituan_con .tuituan_agreement .agreement .agreement_but_con
.agreement_active{background:#f80}.peri-cancel-order .tuituan_con .tuituan_agreement .agreement
.agreement_but_con{width:60%;margin:20px
auto;padding-bottom:30px}.peri-cancel-order .tuituan_con .tuituan_agreement .agreement .agreement_but_con
.peri_agreement_giveUp{margin-left:20px;background:#FFF;color:#666;border:1px
solid #DFDFDF}.peri_cancel_order
h2{border-bottom:1px solid #ddd;text-indent:20px;color:#999;font-weight:normal;font-size:20px;height:40px;line-height:40px}.peri_cancel_order h2
a{float:right;text-indent:-9999px;text-decoration:none;width:13px;height:13px;background:url("http://img4.tuniucdn.com/img/201604151138/order/delete_close.png") no-repeat;margin-right:15px;margin-top:13px}.peri_cancel_order
.cancel_con{padding:14px
20px;font-size:14px}.peri_cancel_order
.rea_title{margin-top:10px;color:#666}.peri_cancel_order .rea_title
p{line-height:21px}.peri_cancel_order .peri_rea_con
p{line-height:35px;cursor:pointer}.peri_cancel_order .peri_rea_con .show-color{color:#666}.peri_cancel_order .peri_rea_con
.rea_btn{text-align:center;margin-top:25px}.peri_cancel_order .peri_rea_con .rea_btn
.btn{width:100px;height:34px;border:1px
solid #DDD;border-radius:3px;font-size:16px;font-weight:bold;cursor:pointer}.peri_cancel_order .peri_rea_con .rea_btn
.click_error{background:#FFF;margin-right:15px;color:#999}.peri_cancel_order .peri_rea_con .rea_btn .peri-confirm{margin-right:20px;color:#666;width:120px;height:40px;border:1px
solid #DDD;border-radius:3px;font-size:16px;font-weight:bold;cursor:pointer}.peri_cancel_order .peri_rea_con .rea_btn .peri-confirm.peri_confirm_active{background:#f80;color:#fff}.peri_cancel_order .peri_rea_con p:hover{color:rgb(254, 136, 0)}.peri_cancel_order .peri_rea_con p:hover
.peri_rea_active{height:14px;width:14px;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/tick-ac.png") no-repeat center 0px;border:none}.peri_cancel_order
.cancel_rea{font-size:14px;color:#999;width:325px;margin:5px
0 15px 0}.peri_cancel_order
.rea_one{margin-top:15px}.peri_cancel_order .cancel_con
.sure_cancel{font-weight:bold;font-size:16px;text-align:left}.peri_cancel_order .cancel_con .sure_cancel
em{vertical-align:11px;margin-left:20px;font-size:18px;color:#666}.peri_cancel_order .cancel_con p
span{float:right;width:12px;height:12px;border:1px
solid #999;cursor:pointer;display:inline-block;margin-top:10px}.peri_cancel_order
.peri_rea_con{border-top:1px solid #ddd}.peri_cancel_order .tuituan_con .tuituan_agreement .agreement .agreement_but_con
.agreement_giveUp{float:right;width:96px;height:32px;background:#FFF;color:#999;font-size:14px;border:1px
solid #DFDFDF;border-radius:3px;cursor:pointer}.peri_cancel_order .peri_rea_con .active-color{color:#f80}.peri_cancel_order .peri_rea_con .active-color
span.peri_rea_active{height:14px;width:14px;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/tick-ac.png") no-repeat center 0px;border:none}#peri-cancel-order-bg{position:fixed;margin:auto;left:0;right:0;top:0;bottom:0;width:652px;height:667px;z-index:1230;background-color:#000;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;display:none}.peri-back{background-color:#FFF;font-family:"微软雅黑";color:#666}.peri-back
h2{height:40px;line-height:40px;font-weight:normal;font-size:20px;text-indent:20px;border-bottom:1px solid #F1F1F1;font-style:normal}.peri-back h2
.peri_back_close{text-indent:-9999px;float:right;text-decoration:none;width:13px;height:13px;background:pink url("http://img4.tuniucdn.com/img/201604151138/order/delete_close.png") no-repeat;margin-right:20px;vertical-align:5px;margin-top:11px}.peri-back
.back_main{width:100%;font-size:14px;padding:23px
0}.peri-back .back_main
.back_con{width:310px;margin:0
auto}.peri-back .back_main .back_con
p{line-height:1.6}.peri-back .back_main .back_con p
em{font-style:normal;color:#FC893D;font-weight:bold}.peri-back .back_main
.back_but{width:310px;margin:7px
auto;text-align:center;padding-top:8px}.peri-back .back_main .back_but
.peri_back_deter{width:96px;height:32px;background:#F93;color:#FFF;font-size:16px;border:1px
solid #fc893d;border-radius:2px;cursor:pointer;font-weight:bold}.peri-hesun{position:fixed;margin:auto;left:0;right:0;top:0;bottom:0;z-index:1135;width:430px;height:200px;background-color:#FFF;font-family:"微软雅黑";color:#666;display:none}.peri-hesun
h2{height:40px;line-height:40px;font-weight:normal;font-size:20px;text-indent:20px;border-bottom:1px solid #F1F1F1;font-style:normal}.peri-hesun h2
.peri_hesun_close{text-indent:-9999px;float:right;text-decoration:none;width:13px;height:13px;background:pink url("http://img4.tuniucdn.com/img/201604151138/order/delete_close.png") no-repeat;margin-right:20px;vertical-align:5px;margin-top:11px}.peri-hesun
.hesun_main{width:100%;font-size:14px;padding:23px
0}.peri-hesun .hesun_main
.hesun_con{width:275px;margin:0
auto;font-style:normal}.peri-hesun .hesun_main
.hesun_but{width:310px;margin:7px
auto;text-align:center;padding-top:23px}.peri-hesun .hesun_main .hesun_but
.peri_hesun_deter{width:96px;height:32px;background:#F93;color:#FFF;font-size:16px;border:1px
solid #fc893d;border-radius:2px;cursor:pointer;font-weight:bold}.per-tourist{background:#FFF;font-family:"微软雅黑"}.per-tourist .per-tourist-title{border-bottom:1px solid #DDD;height:25px;padding:5px
20px 11px}.per-tourist .per-tourist-title
h2{line-height:30px;height:30px}.per-tourist .per-tourist-title h2 .per-tourist-close{display:inline-block;text-indent:-9999px;position:relative;left:15px;top:8px;width:13px;height:13px;background:url("http://img4.tuniucdn.com/img/201604151138/order/delete_close.png") no-repeat}.per-tourist .per-tourist-title h2
b{font-size:16px;padding-bottom:10px;color:#999}.per-tourist .per-tourist-title h2
a{float:right;border-bottom:none;color:#666;font-size:30px;font-weight:lighter;padding-right:5px}.per-tourist .per-tourist-main ul
li{width:240px;height:58px;float:left;background:#FFF;border:1px
solid #ccc;margin-right:18px;margin-bottom:15px;line-height:30px;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/peo.png") no-repeat 10px 20px;cursor:pointer}.per-tourist .per-tourist-main ul li
span{font-size:14px;display:inline-block;float:left}.per-tourist .per-tourist-main ul li span.tourist-name{margin-left:35px;text-align:left;width:153px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-top:4px;height:100%}.per-tourist .per-tourist-main ul li span.tourist-name
a{display:block;height:20px;line-height:20px}.per-tourist .per-tourist-main ul li span.tourist-name a.full-name{margin-top:5px}.per-tourist .per-tourist-main{padding:0
20px;width:100%;height:auto;margin-top:20px}.per-tourist .per-tourist-main ul li span.tourist-flag{width:51px;background:#f80;height:45px;text-align:center;margin-right:-1px;margin-left:1px;display:none;padding-top:14px}.per-tourist .per-tourist-main ul li span.tourist-flag
a{color:#fff}.per-tourist .per-tourist-main ul li.per-tourist-active{border:1px
solid #f80;background:url("http://ssl3.tuniucdn.com/img/201604072050/bookOnline/order_detail/peo-active.png") no-repeat 10px 20px}.per-tourist .per-tourist-main ul li.per-tourist-active .tourist-name
a{color:#f80}.per-tourist .per-tourist-main ul li.per-tourist-active .tourist-flag{display:inline-block}.per-tourist .per-tourist-foot{clear:both;height:70px;text-align:center;padding-top:10px}.per-tourist .per-tourist-foot
.btn{border-radius:2px;width:120px;height:40px;display:inline-block;border:1px
solid #ddd;line-height:40px;font-size:16px}.per-tourist .per-tourist-foot .go-to-sure{margin-right:20px;background:#CCC}.per-tourist .per-tourist-foot .go-to-active{background:#f80;color:#fff}.per-tourist .per-tourist-foot .go-to-back{background:#fff;border:1px
solid #ddd;color:#666}.peri-cancel-order .tuituan_con .tuituan_cancel p .all-tourist{color:#f80}