.icon2.lossInfo-icon{height:19px;width:17px;vertical-align:middle;background-position:-8px -231px}.m-lossInfo
.memo{display:inline-block;width:30px;vertical-align:top}.m-lossInfo
.content{display:inline-block;width:860px;color:#999}.m-lossInfo
.body{padding:20px
0;line-height:21px}