.cdyellow{color:#f60}.cgrey{color:#666}.fb{font-weight:bold}#orderStep1{background-position:0 -364px}.new_step{background:url("http://img1.tuniucdn.com/site/images/prod/xiadan/steps.jpg?v=1") no-repeat scroll 0 0 transparent;height:28px;margin:15px
0 5px;width:960px}.main_content{border:2px
solid #E6F3D8;border-radius:3px 3px 3px 3px;padding:15px}.main_content
.page_tt{color:#4E9700;font-size:18px;font-weight:bold;padding-bottom:10px;border-bottom:1px dashed #333}.main_content
h2{background:url("http://img1.tuniucdn.com/u/user/order/img/0706_icon.jpg") no-repeat scroll left 14px transparent;font-size:14px;height:30px;line-height:44px;overflow:hidden;text-indent:15px;color:#000;font-weight:bold}.main_content h2
span{font-weight:normal;font-size:12px;color:#666}.orderImf{margin:10px
0 20px  0}.orderImf
table{border-collapse:collapse;width:100%}.orderImf  table
td{padding:5px}.orderImf  thead
td{background-color:#eee}.orderImf  table tbody
td{border-bottom:1px solid #eee;color:#666}.orderImf  table tbody
td.first{border-left:1px solid #eee}.orderImf  table tbody
td.last{border-right:1px solid #eee}.main_part{margin-bottom:10px}.main_part
.order_tips{border:1px
solid #eee;border-radius:3px;padding:10px;line-height:24px}.rechangeSel{padding:3px
6px;border:1px
solid #eee}.calendar
div{height:24px;line-height:20px;position:relative}.calendar
input{background:url("http://img1.tuniucdn.com/site/images/common/20x500.png") no-repeat scroll 0 0 transparent;background-position:89px -430px;border:1px
solid #D0D0D0;padding:3px
2px 3px 5px;vertical-align:middle;width:125px}.plus,.minus{color:#999;display:inline-block;font-size:14px;text-align:center;width:18px}.input_s{text-align:center;width:25px}.input_s,.input_s2,.input_m,.input_m2,.input_l,.input_l2{border:1px
solid #6B6B6B;padding:3px}a:link,a:visited{text-decoration:none}a.minus,a.plus{text-decoration:none}.contacter{margin-top:15px}.contacter
p{margin-bottom:10px}.contacter p
span{display:inline-block;width:100px;text-align:right;color:#666}.contacter p
input{border:1px
solid #aaa;padding:5px;width:160px}.contacter p
input.error{border:2px
solid #f90}.contacter p input:focus{box-shadow:inset 0px 0px 4px #c4c4c4}.contacter p
span.err_notice{background:url("http://img1.tuniucdn.com/u/user/order/img/order_ico.gif") no-repeat scroll -45px -148px transparent;color:#F60;display:none;font-size:12px;text-indent:3em;width:200px;text-align:left}#imfList{border-collapse:collapse;width:100%}#imfList
td{padding:3px
0;padding-right:10px}#imfList
select{padding:5px;width:100px;_width:120px}#imfList
input{padding:5px;width:100px}#imfList .number
input{width:240px}#imfList
td.first{padding:0;width:120px;text-align:right}.inv_imf{margin:10px
0;color:#666}.inv_imf input,.inv_imf
select{padding:5px;margin-right:10px}.inv_imf
span{width:100px;text-align:right;display:inline-block}.totle_money{font-weight:bold;border-top:1px dotted #000;padding:15px
0;text-align:center;font-size:24px;margin-top:20px}p.submit_btn{text-align:center}p.submit_btn
a{text-decoration:none}span.submit_new,span.submit{background:url(http://img1.tuniu.com/u/user/order/img/quick_btn_bg.png) no-repeat 0 0px;width:120px;height:36px;display:inline-block;line-height:36px;text-align:center;font-weight:bold;font-size:20px;color:#fff}.book_success
p{text-align:center}.book_success
.cong{font-size:20px;font-family:"Microsoft YaHei";margin:45px
0 20px}.book_success
.descr{color:#666;line-height:28px}.book_success
.back_tips{color:#c30;font-weight:bold;font-size:14px;margin:10px
0}.book_success .cong
span{background:url("/site/images/prod/menpiao/book_step.png?v=2") no-repeat scroll left -178px #FFF;display:inline-block;height:20px;width:28px}.book_success .cong
span.false{background:url("/site/images/prod/menpiao/book_step.png?v=2") no-repeat scroll left -243px #FFF;height:16px;width:28px}.book_success a:link,.book_success a:visited{text-decoration:none}.book_success a.cgreen:link,.book_success a.cgreen:visited{text-decoration:underline}.toorder_btn,.confirm_btn,.check_order,.check_others,.reorder{background:url("/site/images/prod/menpiao/book_step.png?v=2") no-repeat scroll 0 0 #FFF;color:#333;display:block;height:25px;line-height:25px;text-align:center;width:61px;text-indent:-2000em;_zoom:1}.confirm_btn{background-position:0 -315px}.toorder_btn{background-position:0 -274px}.check_order{background-position:0 -350px}.check_others{background-position:0 -386px;width:88px}.reorder{background-position:-70px 0px}.upspacing
a{display:inline-block;_zoom:1}.more_selections{border:1px
solid #ddd;padding:20px;margin-top:45px;overflow:hidden;_height:200px}.more_selections
div.left_part{float:left;width:230px}.more_selections
div.right_part{border-left:1px dashed #AAA;float:left;margin-left:40px;padding-left:40px;width:600px}h2.titleStyle{background:url("http://img1.tuniucdn.com/u/user/order/img/0706_icon.jpg") no-repeat scroll left 1px transparent;color:#000;font-size:14px;height:16px;line-height:16px;margin-bottom:10px;overflow:hidden;text-indent:15px}span.iphone_icon{background:url("/site/images/prod/menpiao/book_step.png?v=2") no-repeat scroll left -30px #FFF;display:inline-block;height:46px;width:106px}span.android_icon{background:url("/site/images/prod/menpiao/book_step.png?v=2") no-repeat scroll left -84px #FFF;display:inline-block;height:46px;width:113px}.zindex100{position:relative;z-index:100}.pro_list{background-color:#F7F7F7;border:1px
solid #FFF;float:left;height:170px;margin-right:24px;width:180px}.pro_list
.pic_part{height:135px;position:relative;width:180px}.pro_list .pic_part
img{height:135px;width:180px}p.op_bg{background-color:#000;bottom:0;height:26px;left:0;line-height:26px;opacity:0.7;overflow:hidden;padding:0
5px;position:absolute;width:170px}p.word{bottom:0;color:#FFF;height:26px;left:0;line-height:26px;overflow:hidden;padding:0
5px;position:absolute;width:170px}.pro_list
.tn_price{height:22px;padding:5px
10px}.pro_list .tn_price
.styl{color:#F60;display:inline-block;font-size:14px;font-weight:bold;margin-right:20px}.sh-s{background:url("http://img1.tuniucdn.com/hotel_resource/hoteltn/img/sheng.png") no-repeat scroll left 2px transparent;color:#F60;display:inline-block;font-size:12px;height:20px;line-height:20px;overflow:hidden;padding-left:18px;vertical-align:middle}.sh-s
span{background:url("http://img1.tuniucdn.com/hotel_resource/hoteltn/img/dyr.png") no-repeat scroll right 1px transparent;display:block;float:left;height:16px;line-height:19px;overflow:hidden;padding-right:3px;text-align:center;width:23px}.fours{margin-right:0 !important}.spacing_up{margin:28px
0;*margin-top:46px}.upspacing{margin-top:20px}#old_login_t,#new_login_t{padding:5px
0 10px 102px}.book_steps{background:url("/site/images/prod/menpiao/book_step.jpg") no-repeat scroll 0 0 transparent;height:28px;margin:15px
0 5px;width:960px}.three_step1{background-position:0 0}.three_step2{background-position:0 -51px}.three_step3{background-position:0 -97px}.two_step1{background-position:0 -176px}.two_step2{background-position:0 -225px}.sum_imf{margin-left:300px;color:#333;font-size:12px}.sum_imf
dl{line-height:2.2}.sum_imf dl
dt{display:inline;float:left;text-align:left}.sum_imf dl
dd{display:inline;float:left;width:290px}p.tips{color:#390;text-align:left !important}.sum_imf
p.upspacing{text-align:left}.book_false{margin:50px
auto;width:365px}.book_false
img{float:left}.book_false
.bf_title{font-weight:700;font-size:14px;color:#333;margin-bottom:10px}.book_false
div{margin-left:90px}.book_false div
p{line-height:2.0}#travel_coupon_box,#travel_num_box,#travel_coupon_box_success{background:url("http://img1.tuniucdn.com/u/user/order/img/tip_box.gif") no-repeat scroll 0 0 transparent;height:200px;position:absolute;top:-149px;left:295px;width:338px;z-index:5;display:none}#travel_coupon_box h3, #travel_coupon_box_success
h3{color:#F60;font-size:14px;height:23px;line-height:23px;margin:0
auto;padding-top:10px;width:305px}#travel_coupon_box .c_close, #travel_num_box .c_close, #travel_coupon_box_success
.c_close{cursor:pointer;height:18px;overflow:hidden;position:absolute;right:16px;text-indent:-9999px;top:12px;width:18px}#travel_coupon_box
table{border:0
none;border-collapse:collapse;margin:20px
auto 0;width:320px}#travel_coupon_use_success_box{background:url("http://img1.tuniucdn.com/u/user/order/img/tip_box.gif") no-repeat scroll 0 0 transparent;height:188px;position:absolute;width:338px;z-index:5}#travel_coupon_use_success_box h3, #travel_num_box
h3{color:#F60;font-size:14px;height:23px;line-height:23px;margin:0
auto;padding-top:10px;width:305px}#travel_coupon_use_success_box
.c_close{cursor:pointer;height:18px;overflow:hidden;position:absolute;right:16px;text-indent:-9999px;top:12px;width:18px}#travel_coupon_use_success_box
table{border:0
none;border-collapse:collapse;margin:20px
auto 0;width:305px}#travel_coupon_box
td{padding:0
0 5px}.main_content input[type="text"],
.main_content input[type="password"]{border:1px
solid #AAA}.main_content input[type="text"]:focus,
.main_content input[type="password"]:focus{box-shadow:inset 0px 0px 4px #c4c4c4}.select_road{width:280px}.inv_imf
span.err_notice{width:200px;text-align:left}#imfList
.err_notice{width:150px}#travel_num_box{top:206px;left:362px}#travel_coupon_box
input{padding:0}#travel_coupon_box
input.img_check{border:0
none}#travel_num_box
h3{margin-bottom:30px}#travel_num_box
p{padding:0
0 10px 0;text-align:center}#travel_num_box
span{cursor:pointer}#travel_num_box
.ask{margin-bottom:25px}#travel_num_box
.sure_btn{margin-right:20px}#travel_coupon_box_success{}.xd_btn{display:inline-block;height:24px;line-height:24px;text-align:center;background:url(http://img1.tuniucdn.com/site/images/prod/huiyuan/icon_all.gif) left -90px no-repeat;font-size:14px;font-weight:bold;color:#fff;text-decoration:none;cursor:pointer}#travel_coupon_box_success
.box_success_con{margin:65px
0 0 65px}#travel_coupon_box_success
span{padding:0
10px}.coupon_box_success_btn1{margin-right:30px}input.all_submit_btn{background:url(http://img1.tuniucdn.com/site/images/prod/huiyuan/icon_all.gif) left -90px no-repeat;height:34px;width:134px;border:0
none}p.submit_btn{position:relative}#footer{border-top:1px solid #CCC;clear:both;color:#666;margin:20px
auto 0;padding:10px;text-align:center;width:940px}#footer.updes{margin-top:200px}.err_notice{background:url("http://img1.tuniucdn.com/u/user/order/img/order_ico.gif") no-repeat scroll -57px -148px transparent;color:#F60;display:inline-block;font-size:12px;text-align:left;text-indent:18px;position:relative;display:none}#bx_table a:link{text-decoration:underline}.orderImf table tbody
td.first{border:none;border-bottom:1px solid #EEE}.orderImf{border:1px
solid #EEE;border-bottom:none}#content
h2.betterm{background:none;text-indent:0}#content h2.betterm
input{margin-right:10px}#content
.upperm{line-height:24px;color:#333;padding:0
3px;margin-top:10px}.order_help{background:url("http://img1.tuniucdn.com/u/user/order/img/order_ico.gif") no-repeat scroll -57px -90px transparent;display:inline-block;height:16px;overflow:hidden;position:relative;text-indent:-9999px;top:4px;width:16px;*top:-4px}.popPart{left:20px;position:absolute;top:25px}.tys_tip4{border:1px
solid #CCC;float:left;line-height:20px;margin-top:2px;padding:5px;position:relative;width:318px;background-color:#fff}.sarrow4{background:url("http://img1.tuniucdn.com/ui/route/images/sarrow.gif") no-repeat scroll 0 0 transparent;height:11px;left:61px;position:absolute;top:-8px;width:14px}.order_table th,.upperm
th{background:none repeat scroll 0 0 #F7FCF2;font-weight:normal;height:25px;line-height:25px}.order_table td, .order_table th ,.upperm td,.upperm
th{padding:0
15px}.order_table
td{line-height:21px;padding:5px
15px}a.cgre/en{background:url("http://img1.tuniu.com/u/user/order/img/order_ico2.png") no-repeat scroll right 6px transparent;display:inline-block;padding-right:12px}a.o_link{background:url("http://img1.tuniu.com/u/user/order/img/order_ico2.png") no-repeat scroll right -68px transparent;display:inline-block;padding-right:12px}.new_green:link,.new_green:visited{color:#4E9700}.new_green:hover{color:#f90}.upperm
table{width:100%}.upperm
td{border-bottom:1px solid #eee}#bx_table tr a.cgreen, #trafic_table tr a.cgreen, #seeview_table tr
a.cgreen{background:url("http://img1.tuniu.com/u/user/order/img/order_ico2.png") no-repeat scroll right 8px transparent;display:inline-block;padding-right:12px}#bx_table tr a.o_link, #trafic_table tr a.o_link, #seeview_table tr
a.o_link{background:url("http://img1.tuniu.com/u/user/order/img/order_ico2.png") no-repeat scroll right -68px transparent;display:inline-block;padding-right:12px}.yh_login_tip{background:url("http://img1.tuniu.com/u/user/order/img/order_ico.gif") no-repeat scroll -52px -236px transparent;color:#F60;line-height:20px;padding:3px
10px 3px 30px}.yh_login_form{padding:3px
10px}input[type="checkbox"]{margin-right:5px;top:-1px}.l_70{left:-70px;*left:-90px}a.minus,a.plus{border:1px
solid #CCC;height:12px;line-height:12px;width:12px;color:#888;background:#e7e7e7}a.minus:link,a.plus:link,a.minus:visited,a.plus:visited{text-decoration:none}a.minus:hover,a.plus:hover{background-color:#fff;color:#888}.loading{width:32px;height:32px;position:absolute;left:447px;top:0;z-index:2}#dyPop_1
span{font-size:12px;color:#f60}#dyPop_1
.retunBtn{background:url("/site/images/prod/menpiao/return_btn.jpg") no-repeat scroll 0 0 transparent;display:inline-block;height:30px;margin-right:20px;width:156px;_zoom:1}#dyPop_1
.dymoney{text-indent:2em;margin:10px
0}#dyPop_1
.dy_btn{text-align:center}