.return_m{padding:10px}.return_m
h3{background:url(/site/images/prod/huiyuan/huiyuan_level2/pen_icon.jpg) no-repeat 0 center;padding:2px
0 0 25px;font-weight:700;font-size:14px}.oi_cont .oi_cont_left,
.oi_cont
.oi_cont_right{float:left}.oi_cont
.oi_cont_left{width:450px}.oi_cont
.oi_cont_right{width:370px;margin-left:158px;_margin-left:155px}.oi_cont
.re_det{padding:10px
0}.oi_cont
.return_t{margin-bottom:10px}.oi_cont .return_t dd,
.oi_cont .return_t
dt{float:left;line-height:24px;height:24px}.oi_cont .return_t
dt{width:120px}.oi_cont
.ret_s{height:12px;padding:0
3px;border:1px
solid #d8d8d8;margin-bottom:4px}.oi_cont
.changetobe{padding-left:20px}.oi_cont
.other_reqs{width:450px;height:60px;margin-top:5px}.oi_cont
.sub_btn{background:url(/site/images/prod/huiyuan/huiyuan_level2/sub_btn.jpg) no-repeat 0 0;width:73px;height:25px;border:none;color:#fff;font-weight:700;line-height:25px;text-align:center;cursor:pointer}.oi_cont
.mar_t15{margin-top:15px;text-align:center}.oi_cont
.marb_5{margin-bottom:0px}.oi_cont
.order_tips{background:url(/site/images/prod/huiyuan/huiyuan_level2/tip_bg.jpg) no-repeat 0 0;width:358px;height:202px;padding:50px
0 0 8px;line-height:20px}.oi_cont
.ot_cont{margin-bottom:8px}.oi_cont .ot_cont dt,
.oi_cont .ot_cont
dd{float:left}.oi_cont .ot_cont
dt{width:20px}.oi_cont .ot_cont
dd{width:330px}.input_m.Wdate{height:16px;line-height:16px}.mar_bt10{margin-bottom:10px}.err_tips{margin-top:5px}.err_tip.hover,.err_tip{background:url(/site/images/prod/huiyuan/huiyuan_level2/err_tip.png) no-repeat 0 -25px;padding:2px
0 2px 20px;_background-position:0 -27px}.err_tip.hover{background-position:0 2px;_background-position:0 0px}.err_tip.hover
em{font-weight:700}.ticketing{border:1px
solid #fdcc7c;padding:20px;background-color:#fffcf3}.ticketing
h3{font-weight:700;font-size:14px;margin-bottom:10px}.ticketing
p{color:#666;line-height:24px}.ticketing
.dotted_line{height:0;border:none;border-bottom:1px dotted #999;margin:10px
0}.ticketing
.returnfalse{font-weight:700}.mar_top20{margin-top:20px}.visa_box{width:100%;height:auto;clear:both;border-bottom:1px solid #d4d4d4}.visa-title{height:48px;border-bottom:1px solid #d4d4d4;color:#000;font-size:14px;line-height:48px;font-weight:bold;padding-left:20px}.upload_visa{width:120px;height:35px;line-height:35px;color:#fff;background:#fc893d;margin:5px
20px 0 0;display:block;float:right;font-weight:normal;text-align:center;position:relative;padding-left:25px;border-radius:4px}.upload_visa
i{width:17px;height:17px;background-position:-20px 0;position:absolute;top:10px;left:20px}.visa-title a:hover{background:#f93}.visa_msg{width:100%;height:auto;background:#f5f6f7}.visa_left{width:150px;height:auto;float:left;background:#f5f6f7}.visa_person{height:39px;line-height:39px;color:#333;font-size:12px;text-align:center;background:#fff;border-bottom:1px solid #ddd;cursor:pointer}.visa_current{border-left:2px solid #fc893d;position:relative}.visa_current
span{width:2px;height:40px;position:absolute;top:0;right:-1px;background:#fff}.visa_right{width:805px;float:left;height:auto;padding:20px;background:#fff;border-left:1px solid #d4d4d4}.visa_item{width:100%;height:auto}.visa_item
span{padding:8px
10px;background:#eee;color:#666;font-size:14px;margin-right:10px;cursor:pointer;border-radius:4px;margin-bottom:10px;white-space:nowrap;display:inline-block;*display:inline;*zoom:1}.visa_item
span.current{background:#fc893d;color:#fff;position:relative;z-index:1}.visa_item span.current
i{width:10px;height:5px;position:absolute;left:47%;bottom:-5px;z-index:2;background-position:-40px 0}.item_intro{width:100%;margin:0
auto;height:38px;line-height:40px;border-bottom:1px dashed #ddd}.item_intro
span{margin-right:20px;color:#666;font-size:12px}.item_intro span
em{color:#f60}.item_icon{width:740px;height:125px;font-size:0;padding-top:20px;position:relative}.item_icon
.circle{width:72px;height:110px;display:inline-block;*display:inline;*zoom:1;font-size:14px;position:absolute;z-index:2}.icon_img{background:url(http://img1.tuniucdn.com/img/201510291501/user_center/img.jpg) no-repeat}.icon_img2{background:url(http://img1.tuniucdn.com/img/201510291501/user_center/img.png) no-repeat}.step{display:inline-block;*display:inline;*zoom:1;width:60px;height:60px;vertical-align:top;margin-left:73px}.step
i{width:20px;height:32px;display:block;margin:40px
0 0 15px;background-position:-3px -1px}.stepline{width:725px;height:1px;position:absolute;bottom:25px;border-bottom:1px dashed #ddd}.icon_collection{background-position:-504px 0;top:30px;left:0}.icon_audit{background-position:-432px  0;top:30px;left:128px}.icon_apply{background-position:-720px 0;top:30px;left:264px}.icon_pass{background-position:-576px 0;top:30px;left:400px}.icon_return{background-position:-359px 0;top:30px;left:525px}.icon_done{background-position:-72px 0;top:30px;left:660px}.icon_uncollection{background-position:0 0;top:30px;left:0}.icon_unaudit{background-position:-648px 0;top:30px;left:128px}.icon_unapply{background-position:-793px 0;top:30px;left:264px}.icon_unpass{background-position:-144px 0;top:30px;left:400px}.icon_unreturn{background-position:-287px 0;top:30px;left:525px}.icon_undone{background-position:-216px 0;top:30px;left:660px}.icon_arrow{}.item_detail{width:740px;height:auto;background:#f5f6f7;padding-top:0}.item_detail
.detail_title{color:#333;font-size:14px;width:690px;height:35px;line-height:35px;border-bottom:1px dashed #ddd;margin:0
auto}.item_detail
p{width:690px;margin:0
auto;line-height:24px;color:#999;font-size:12px}.item_detail
p.mbtom{padding-bottom:10px}.item_detail p
span{margin-right:40px}.stuff_detail{width:807px;height:auto;float:right;background:#fff;padding:0px
20px 10px;border-left:1px solid #d4d4d4}.stuff_detail
p{color:#999;line-height:20px;font-size:12px}.stuff_detail p
span{margin-left:15px;color:#2e9900}.getlist{line-height:28px}