body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}li{overflow:hidden}body{font-size:12px;text-align:center}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;font-weight:400}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}.clearfix{zoom:1}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}code,kbd,samp,tt,input,button,textarea,select{font-size:100%}:link,:visited,ins,a{text-decoration:none}:focus{outline:0
none}button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;padding:0}*html,*html
body{background-attachment:fixed}body{background-color:#fff;font-size:12px;line-height:1.5;font-family:"Hiragino Sans GB",Tahoma,arial,宋体,sans-serif;color:#404040;text-align:left}a{color:#404040}.f_yh{font-family:'微软雅黑'}.f12{font-size:12px}.f14{font-size:14px}.f16{font-size:16px}.f18{font-size:18px}.f20{font-size:20px}.fb{font-weight:700}.f_f00{color:#f00}.f_666{color:#666}.f_c30{color:#c30}.f_4e9700{color:#4e9700}.f_4e9700:hover{color:#f60}.f_f60{color:#f60 !important}.f_0053aa{color:#0053aa}.f_f00{color:#f00}.f_005bb5{color:#005bb5}.c_green{color:#4e9700}.fl{float:left}.fr{float:right}.mb_5{margin-bottom:5px}.mb_10{margin-bottom:10px}.ml_10{margin-left:10px}.mr_10{margin-right:10px}.mt_5{margin-top:5px}.mt_10{margin-top:10px}.mb_20{margin-bottom:20px}.mt_-40{margin-top:-40px}.mt_-50{margin-top:-50px}.m-180{margin:0
0 0 -180px}.pd_10{padding:10px}.pt_2{padding-top:2px}.pt_4{padding-top:4px}.pt_5{padding-top:5px}.pr_3{padding-right:3px}.pt_8{padding-top:8px}.pr_10{padding-right:10px}.pt_10{padding-top:10px}.pl_10{padding-left:10px}.w190{width:190px}.w290{width:290px}.w700{width:700px}.w800{width:800px}.txt_lt{text-decoration:line-through}.lh1_4{line-height:1.4}.baidu_share{float:right;width:auto;line-height:15px}.search_nav{margin:0px
0 5px;height:25px;line-height:25px;vertical-align:middle}.search_nav{zoom:1}.search_nav:after{content:".";display:block;height:0;clear:both;visibility:hidden}.search_nav
.crumbs{float:left}.search_nav .crumbs
a{color:#404040;padding:0
5px}.search_nav .crumbs a:hover{color:#4e9700}.search_nav
h1{float:left;padding-left:5px}.zb_tour_identf,.cj_tour_identf,.gn_tour_identf,.gt_tour_identf,.zzy_tour_identf,.gs_tour_identf,.jd_tour_identf,.qz_tour_identf,.dd_tour_identf,.zjy_tour_identf,.yl_tour_identf{padding:0
1px;margin:0
5px 0 0}.zb_tour_identf{border:1px
dashed #e70f47;color:#e70f47}.cj_tour_identf{border:1px
dashed #00a8e1;color:#00a8e1}.gn_tour_identf{border:1px
dashed #cd66cc;color:#cd66cc}.gt_tour_identf{border:1px
dashed #fa943e;color:#fa943e}.zzy_tour_identf{border:1px
dashed #77b800;color:#77b800}.gs_tour_identf{border:1px
dashed #2bc4b6;color:#2bc4b6}.jd_tour_identf{border:1px
dashed #6c3a77;color:#6c3a77}.qz_tour_identf{border:1px
dashed #fd2caa;color:#fd2caa}.dd_tour_identf{border:1px
dashed #be9272;color:#be9272}.zjy_tour_identf{border:1px
dashed #8d6cd1;color:#8d6cd1}.yl_tour_identf{border:1px
dashed #0078c9;color:#0078c9}.backToTop,.esq_over,.add_scroll,.sdd_advice,.add_weChat,.add_app{background:url(/img/20140417/common/right_suspension.png) no-repeat}.right_scroll{width:40px;height:180px;position:fixed;_position:absolute;right:20px;bottom:0px;_bottom:"auto"}.backToTop{display:block;width:40px;height:40px;background-position:0 -135px;color:#fff;font-size:12px;text-align:center;cursor:pointer;margin-bottom:5px}.backToTop:hover{background-position:-50px -135px}.esq{display:block;width:46px;height:117px;background:url(/img/20131120/common/esq_new.gif) no-repeat;color:#fff;font-size:12px;text-align:center;cursor:pointer;margin:0
0 5px 0}.zaixiankefu{display:block;width:46px;height:117px;background:url(/img/20131120/common/esq_new.gif) no-repeat;color:#fff;font-size:12px;text-align:center;cursor:pointer;margin:0
0 5px 0}.esq_over{width:40px;height:40px;background-position:-150px 0}.esq_over:hover{background-position:-50px 0}#bdshare{z-index:100!important}.add_scroll{display:block;width:40px;height:40px;color:#fff;font-size:12px;text-align:center;cursor:pointer;margin:0
0 5px 0}.add_scroll{background-position:0 -89px}.add_scroll:hover{background-position:-50px -89px}.sdd_advice{display:block;width:40px;height:40px;color:#fff;font-size:12px;text-align:center;cursor:pointer;margin:0
0 5px 0;background-position:0 -182px}.sdd_advice:hover{background-position:-50px -182px}.add_weChat{display:block;width:40px;height:40px;color:#fff;font-size:12px;text-align:center;cursor:pointer;margin:0
0 5px 0;background-position:0 -229px}.add_weChat:hover{background-position:-50px -229px}.add_app{display:block;width:40px;height:40px;color:#fff;font-size:12px;text-align:center;cursor:pointer;margin:0
0 5px 0;background-position:0 -276px}.add_app:hover{background-position:-50px -276px}.weChat_pop{width:101px;height:130px;border:1px
solid #e4e4e4;padding:10px
0 0 3px;background:#fff;display:none}.list_view .icon_nrzx, .list_view .icon_remai, .list_view .icon_tuijian, .list_view .icon_tejia, .list_view .icon_bashi, .list_view .icon_nrzz, .list_view .icon_nrgt,.list_view
.icon_zjy{background:url(/img/20140417/common/icon_tuniu.png) no-repeat;text-indent:-20000em;position:absolute;left:2px;top:17px;z-index:1}.list_view
.icon_nrzx{background-position:0 0;width:62px;height:66px}.list_view
.icon_remai{background-position:0 -66px;width:52px;height:54px}.list_view
.icon_tuijian{background-position:0 -119px;width:52px;height:54px}.list_view
.icon_tejia{background-position:0 -174px;width:52px;height:54px}.list_view
.icon_bashi{background-position:0 -228px;width:66px;height:68px}.list_view
.icon_nrzz{background-position:0 -297px;width:63px;height:65px}.list_view
.icon_nrgt{background-position:0 -362px;width:63px;height:65px}.list_view
.icon_zjy{background-position:0 -427px;width:63px;height:65px}.nrgt_prom_ico,.nrzx_prom_ico,.rm_prom_ico,.tj_prom_ico,.xsyh_prom_ico,.zjy_prom_ico,.nrzz_prom_ico,.bszz_prom_ico,.nrzx_prom_ico,.tjian_prom_ico,.wifi_prom_icon,.xh_prom_icon{background:url(/img/20140417/common/icon_tuniu.png) no-repeat;display:inline-block;height:15px;text-indent:-20000em;overflow:hidden;_zoom:1}.nrgt_prom_ico{background-position:0 -507px;width:76px;margin-left:2px}.nrzx_prom_ico{background-position:0 -522px;width:76px;margin-left:2px}.rm_prom_ico{background-position:0 -537px;width:46px;margin-left:2px}.tj_prom_ico{background-position:0 -552px;width:47px;margin-left:2px}.tjian_prom_ico{background-position:0 -567px;width:47px;margin-left:2px}.xsyh_prom_ico{background-position:0 -582px;width:76px;margin-left:2px}.zjy_prom_ico{background-position:0 -597px;width:60px;margin-left:2px}.nrzz_prom_ico{background-position:0 -612px;width:76px;margin-left:2px}.bszz_prom_ico{background-position:0 -627px;width:85px;margin-left:2px}.wifi_prom_icon{background-position:0 -657px;width:73px;margin-left:2px}.xh_prom_icon{background-position:0 -672px;width:47px;margin-left:2px}@font-face{font-family:'tn_fontface';src:url('/site/static/css/common/fonts_v2/icomoon.eot?87wisk');src:url('/site/static/css/common/fonts_v2/icomoon.eot?#iefix87wisk') format('embedded-opentype'),
url('/site/static/css/common/fonts_v2/icomoon.woff?87wisk') format('woff'),
url('/site/static/css/common/fonts_v2/icomoon.ttf?87wisk') format('truetype'),
url('/site/static/css/common/fonts_v2/icomoon.svg?87wisk#icomoon') format('svg');font-weight:normal;font-style:normal}.tn_fontface{font-family:'tn_fontface';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fl{float:left}.detail_menu a.tuniu_wb, .detail_menu a.top_wx, .sitenav_mobile, .login_youji
span{background:url(//ssl1.tuniucdn.com/img/2014040414/index_v4/nav_bg.png) no-repeat}.long_nav_bg{margin:10px
0 0 0;background-color:#2E9900;position:relative;z-index:900}.site_nav{background:#fafafa;border-bottom:1px solid #f1f1f1;height:24px;line-height:24px;padding:2px
0 3px}.site_nav_inner{position:relative;z-index:1000;width:1000px;height:24px;zoom:1;margin:0
auto;font-family:"Hiragino Sans GB",Tahoma,arial,宋体,sans-serif}.login_menu{float:left;color:#ccc;display:inline}.login_menu
li{float:left;display:inline;overflow:visible;height:30px;line-height:30px}.login_menu li
span{color:#444}.login_menu
a{padding:0
5px;color:#404040;text-decoration:none}.login_menu a:link, .login_menu a:visited{padding:0
5px;color:#404040;text-decoration:none}.login_menu
span.user_name{padding:0
8px}.login_menu
.infor_color{color:#666}.login_menu a:hover{color:#f60}.detail_menu{position:absolute;right:0;top:0px;color:#ccc;height:24px}.detail_menu
li{float:left;display:inline;overflow:visible}.detail_menu a,
.detail_menu
span{padding:0
3px;color:#404040}.detail_menu a:link{padding:0
5px;color:#404040;text-decoration:none}.detail_menu
a.sitenav_mobile{background-position:0px -351px;float:left;padding:0
0 0 15px;margin:0
10px 0 0;color:#404040;margin-left:5px}.detail_menu
a.tuniu_wb{background-position:0px -378px;padding:0
0 0 20px;margin:0
3px 0 5px}.detail_menu
a.top_wx{background-position:0 -423px;padding:0
0 2px 25px}.detail_menu a:hover{color:#f60}.weixin_layout{position:relative;float:right;z-index:2000}.weixin_layout.to_hover
.wx_img{display:block;border:1px
solid #4aae00}.weixin_layout
.wx_img{position:absolute;right:0px;display:none;z-index:8}.topWeiXin{position:relative}.wx_pop{display:none;border:1px
solid #4e9700;background-color:#fff;width:299px;position:absolute;right:0;top:28px}.wx_pop
img{display:block}.on
.wx_pop{display:block}.wx_pop .poptip-arrow{font-size:12px;font-style:normal;overflow:hidden;position:absolute}.wx_pop .poptip-arrow-top{height:6px;width:12px;top:-6px;right:8px}.wx_pop .poptip-arrow em, .wx_pop .poptip-arrow
i{font-style:normal;left:0;position:absolute;top:0}.wx_pop .poptip-arrow
em{color:#4E9700}.wx_pop .poptip-arrow-top
em{top:-7px}.wx_pop .poptip-arrow-top
i{top:-6px;color:#fff}.colle_box{border-right:1px solid #ddd;width:305px;height:112px;background:#fff;border-left:1px solid #ddd;border-bottom:1px solid #ddd;display:none;-moz-box-shadow:0px 0px 3px #ccc;-webkit-box-shadow:0px 0px 3px #ccc;box-shadow:0px 0px 3px #ccc;position:absolute;left:0px;top:26px;z-index:999}.on
.colle_box{display:block}.colle_top{height:25px}.colle_top
.left{width:105px;float:left;height:3px}.colle_top
.right{width:295px;border-top:1px solid #ddd;height:3px;float:left;text-align:right;padding-right:10px;padding-top:5px}.colle_bottom{width:300px;margin:0
auto}.colle_bottom
.fl{margin-top:12px}.colle_bottom
.touxiang{float:left;margin-left:10px;margin-right:20px}.colle_bottom .touxiang
a{border-radius:40px;-moz-border-radius:40px;-webkit-border-radius:40px;width:75px;height:75px;display:block;overflow:hidden}.colle_bottom .touxiang
img{width:75px}.vipname_box{position:relative}.vipname{border-left:1px solid #fafafa;position:relative;border-top:1px solid #fafafa;border-right:1px solid #fafafa;display:block;float:left;height:25px;padding-left:10px;padding-right:10px;_margin-top:2px;line-height:23px;*+line-height: 20px;*display:inline;*float:left}.vipname
.login_detail{position:relative;z-index:1000}.poparrow{background:url(//ssl3.tuniucdn.com/img/2014040901/user_center/updown.png) no-repeat;background-position:0px -9px;display:inline-block;height:6px;margin-left:5px;margin-top:10px;width:6px;overflow:hidden}.on
.poparrow{background-position:0 0}.login_menu .vip, .login_menu .vip_stage
.vip_lel{background:url(//ssl1.tuniucdn.com/img/2014060117/common/site_nav_vip.png) 0 0 no-repeat}.login_menu .vip_stage
.vip_lel{display:block;width:41px;height:15px;margin-bottom:6px}.login_menu .vip_stage
.vip_lel0{background-position:0 0px}.login_menu .vip_stage
.vip_lel1{background-position:0 -15px}.login_menu .vip_stage
.vip_lel2{background-position:0 -31px}.login_menu .vip_stage
.vip_lel3{background-position:0 -47px}.login_menu .vip_stage
.vip_lel4{background-position:0 -63px}.login_menu .vip_stage
.vip_lel5{background-position:0 -79px}.login_menu .vip_stage
.vip_lel6{background-position:0 -95px}.login_menu .vip_stage
.vip_lel7{background-position:0 -111px}.login_menu .vip_stage
.vip_lel_word{background-position:0 -279px}.login_menu
.vip{width:41px;height:15px;float:left;margin-top:7px;margin-left:5px}.login_menu
.vip0{background-position:0 0px}.login_menu
.vip1{background-position:0 -15px}.login_menu
.vip2{background-position:0 -31px}.login_menu
.vip3{background-position:0 -47px}.login_menu
.vip4{background-position:0 -63px}.login_menu
.vip5{background-position:0 -79px}.login_menu
.vip6{background-position:0 -95px}.login_menu
.vip7{background-position:0 -111px}.login_menu
.vip_word{background-position:0 -254px;width:20px}.float_tt{border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;border-top:1px solid #fff;background:#fff;-moz-box-shadow:0px -2px 3px #ccc;-webkit-box-shadow:0px -2px 3px #ccc;box-shadow:0px -2px 3px #ccc;position:relative;z-index:1003;height:26px;_height:25px}.detail_menu
a.phone{background:url(//ssl.tuniucdn.com/img/20140415/index_v4/nav_bg.png) 0 0 no-repeat;background-position:0 -104px;color:#F80 !important;cursor:default;font-family:"Hiragino Sans GB",Tahoma;font-size:14px;font-weight:600;margin-left:6px;padding:2px
0 0 22px !important;position:relative;top:1px}.taxCompany{background:url(//ssl3.tuniucdn.com/img/20141224/tax_rebate/company.jpg) no-repeat center;height:136px;margin-bottom:25px}a.wsdCard{background:url(//ssl.tuniucdn.com/img/20151012/tax_rebate/wsdCard_10_12.jpg) no-repeat center;height:136px;margin:35px
auto;display:block}.rulesWarp{width:976px;margin:0
auto;border:10px
solid #ecf9e1;background:url(//ssl.tuniucdn.com/img/20151012/tax_rebate/rulesBg_10_12.jpg) no-repeat center top;font-family:'微软雅黑';font-size:14px;line-height:24px;color:#333}.rules{color:#666;padding:120px
40px 20px}.rules
h3{font-size:16px;font-weight:bold}.backRebate{color:#2e9900;font-size:14px;margin-left:100px;line-height:35px;text-decoration:none}.orange{color:#f63}.red{color:#c33}.ft16{font-size:16px}.f-backRebate{color:#2e9900;font-size:14px;line-height:35px;text-decoration:none}.tuniu_vip{background:url(//ssl.tuniucdn.com/img/2014060117/common/site_nav_vip.png) 0 0 no-repeat}.tuniu_vip{width:41px;height:15px;display:inline-block;margin-right:5px;vertical-align:-2px}.tuniu_vip0{background-position:0 0px}.tuniu_vip1{background-position:0 -15px}.tuniu_vip2{background-position:0 -31px}.tuniu_vip3{background-position:0 -47px}.tuniu_vip4{background-position:0 -63px}.tuniu_vip5{background-position:0 -79px}.tuniu_vip6{background-position:0 -95px}.tuniu_vip7{background-position:0 -111px}.tuniu_vip_word{background-position:0 -254px;width:20px}html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}.f12{font-size:12px}.f14{font-size:14px}.f16{font-size:16px}.f20{font-size:20px}.fb{font-weight:bold}.fn{font-weight:normal}.t2{text-indent:2em}.unl{text-decoration:underline}.no_unl{text-decoration:none}.tl{text-align:left}.tc{text-align:center}.tr{text-align:right}.bc{margin-left:auto;margin-right:auto}.fl{float:left;display:inline}.fr{float:right;display:inline}.cb{clear:both}.cl{clear:left}.cr{clear:right}.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}.clearfix{}* html
.clearfix{height:1%}.vm{vertical-align:center}.pr{position:relative}.pa{position:absolute}.abs-right{position:absolute;right:0}.zoom{zoom:1}.hidden{visibility:hidden}.none{display:none}.w{width:100%}.h{height:100%}.m5{margin:5px}.m10{margin:10px}.m15{margin:15px}.m20{margin:20px}.m30{margin:30px}.mt5{margin-top:5px}.mt10{margin-top:10px}.mt15{margin-top:15px}.mt20{margin-top:20px}.mt30{margin-top:30px}.mb5{margin-bottom:5px}.mb10{margin-bottom:10px}.mb15{margin-bottom:15px}.mb20{margin-bottom:20px}.mb30{margin-bottom:30px}.ml5{margin-left:5px}.ml10{margin-left:10px}.ml15{margin-left:15px}.ml20{margin-left:20px}.ml30{margin-left:30px}.mr5{margin-right:5px}.mr10{margin-right:10px}.mr15{margin-right:15px}.mr20{margin-right:20px}.mr30{margin-right:30px}.header{font-family:"Hiragino Sans GB","microsoft yahei","Tahoma,arial","宋体","sans-serif";width:auto !important}.header
li{overflow:visible}.header
a{cursor:pointer}.header_icon{background:url(//m.tuniucdn.com/fb2/t1/G2/M00/A7/4D/Cii-T1huARyIMMpIAAAXFvgcFtQAAGXYQP-fK8AABcu551.png) 0 0 no-repeat;display:inline-block;*zoom:1}.icon_arrow{background-position:-8px -13px;width:5px;height:3px}.icon_arrow.rotate{background-position:-16px -13px;width:5px;height:3px}.icon_arrow_rotate{background-position:-16px -13px;width:5px;height:3px}.index_top_nav
.icon_phone{margin-top:0px !important;width:11px;height:26px;background:url(//ssl1.tuniucdn.com/img/201508241400/header/head_icon_qrcode.gif) -10px 0;vertical-align:top}.icon_phone:hover{background:url(//ssl1.tuniucdn.com/img/201508242100/header/head_icon_qrcode_hover.png)}.icon_phone.active{background-position:-10px 0}.icon_phone_active{background-position:-10px 0}.icon_weixin{background-position:-63px -49px;width:19px;height:14px}.icon_weixin.hover{background-position:-92px -7px;width:19px;height:14px}.icon_weibo{background-position:-40px -50px;width:18px;height:13px}.icon_weibo.hover{background-position:-86px -49px;width:18px;height:13px}.icon_weixin_hover{background-position:-92px -7px;width:19px;height:14px}.icon_weibo_hover{background-position:-96px -49px;width:18px;height:13px}.icon_hot{background-position:-61px -9px;width:11px;height:11px}.icon_new{background-position:-41px -9px;width:11px;height:11px}.icon_catalog{background-position:-8px -26px;width:11px;height:9px}.icon_arrowUp2{background-position:-77px -8px;width:12px;height:10px}.icon_arrowUp{background-position:-25px -25px;width:12px;height:6px;overflow:hidden;position:absolute;top:-6px;_top:-4px}.icon_level{background:url(//ssl1.tuniucdn.com/img/20140520/common/site_nav_vip.png) 0 0 no-repeat;display:inline-block}.icon_level_s1{background-position:0 0;width:34px;height:14px}.icon_level_s2{background-position:0 -20px;width:34px;height:14px}.icon_level_s3{background-position:0 -40px;width:34px;height:14px}.icon_level_s4{background-position:0 -60px;width:34px;height:14px}.icon_level_s5{background-position:0 -80px;width:34px;height:14px}.icon_level_s6{background-position:0 -100px;width:34px;height:14px}.icon_level_1{background-position:0 -120px;width:41px;height:18px}.icon_level_2{background-position:0 -143px;width:41px;height:18px}.icon_level_3{background-position:0 -166px;width:41px;height:18px}.icon_level_4{background-position:0 -191px;width:41px;height:18px}.icon_level_5{background-position:0 -212px;width:41px;height:18px}.icon_level_6{background-position:0 -234px;width:41px;height:18px}.icon_level_svip{background-position:0 -258px;width:20px;height:11px}.icon_level_vip{background-position:0 -274px;width:40px;height:25px}.header{}.header_inner{margin:0
auto;height:0}.header_inner{width:990px;position:relative}.header_nav
.nav_subMenu{width:800px}.siteMap_panel{width:998px}.siteMap_panel
dt{padding:0
22px}.index_nav_menu
.inner{width:990px;margin:0
auto}.index_nav_menu .menu_panel .menu_list
li{}.index_nav_menu .subMenu_panel .subMenu_col
ul{width:65px}.index_nav_menu .subMenu_panel .subMenu_col
.icon_arrowUp2{left:30px}.header_search
.tn_search_box{margin-left:0px}.index1200 .header_search
.tn_search_box{margin-left:10px}.header_search .tn_search_box
.tn_s_input{width:253px;_overflow:hidden}.header_search .tn_search_box .search_hot
.last{display:none}.search_inputBox{z-index:1001 !important}.header_inner{width:990px}.header_nav
.nav_subMenu{width:800px}.siteMap_panel{width:988px}.index1200
.header_inner{width:1190px}.index1200 .header_nav
.nav_subMenu{width:990px}.index1200
.siteMap_panel{width:1188px}.index1200 .siteMap_panel
dt{padding:0
40px}.index1200 .header_search .tn_search_box
.tn_s_input{width:332px}.width1200
.header_inner{width:1190px}.width1200 .header_nav
.nav_subMenu{width:990px}.width1200
.siteMap_panel{width:1188px}.width1200 .siteMap_panel
dt{padding:0
40px}.width1200 .header_search .tn_search_box
.tn_s_input{width:332px}.index_top_nav{}.index_nav_menu
a{display:block}.index_top_nav
.nav_item{float:left;display:inline;padding:0
12px;position:relative;height:29px;line-height:29px;z-index:9999}.index_top_nav .nav_item a:hover{color:#fe8800}.index_top_nav .nav_item
.dropdown_panel{top:30px;display:none;position:absolute;border:1px
solid #eee;box-shadow:2px 2px 2px #F7F7F7;background:#fff;border-top:none}.index_top_nav .item_duobao
.dropdown_panel{width:100%;left:-1px;text-align:center}.index_top_nav .is_order
.dropdown_panel{width:100%;left:0;text-align:center}.index_top_nav .is_order .dropdown_panel
a{display:block;width:100%;height:25px;line-height:25px}.index_top_nav .item_welcome,
.index_top_nav
.item_invite{padding:0}.index_top_nav .item_invite
a{display:inline-block;margin-top:3px}.index_top_nav .item_invite a
img{display:block}.index_top_nav
.item_9year{padding:0}.index_top_nav .item_9year
img{height:20px;display:block;margin-top:2px}.index_top_nav .icon_arrow,
.index_top_nav
.icon_arrow_roate{position:absolute;top:13px;right:12px}.index_top_nav
.has_arrow{padding-right:22px}.index_top_nav .item_hover
.icon_arrow{transform:rotate(180deg);transition:transform 0.3s}.index_top_nav .icon_phone,
.index_top_nav
.icon_phone_active{margin-top:6px}.index_top_nav .icon_weixin,
.index_top_nav
.icon_weixin_active{margin-top:8px}.index_top_nav .icon_weibo,
.index_top_nav
.icon_weibo_active{margin-top:9px}.index_top_nav
.has_dropdown{border:1px
solid #f8f8f8;border-bottom:none;border-top:none}.index_top_nav
.item_duobao{background:url(//ssl1.tuniucdn.com/img/20150318/common/oneyuan.gif) no-repeat 0 3px;padding-left:23px;margin-left:10px}.index_top_nav
.item_duobao.item_hover{background:url(//ssl1.tuniucdn.com/img/20150318/common/oneyuan.gif) no-repeat 0 3px #fff}.index_top_nav
.item_hover{border-color:#eee;border-bottom:1px solid #fff;background:#fff}.index_top_nav .item_hover
.dropdown_panel{display:block}.index_top_nav
.item_separator{color:#ddd;margin:0
10px}.index_top_nav
.weixin_panel{left:-257px}.header_top{height:29px;background:#f8f8f8;border-bottom:1px solid #eee;font-size:12px;font-family:"microsoft yahei"}.header_top
.login_menu{height:29px}.header_top
.nav_right{float:right}.loginUser_panel{display:none;z-index:1000;position:absolute;top:40px;left:0;width:240px;border:1px
solid #eee;background:#fff;border-top:none;padding:10px;line-height:normal;box-shadow:2px 2px 2px #F7F7F7}.loginUser_avatar{float:left;display:inline}.loginUser_profile{float:left;display:inline;overflow:hidden}.loginUser_level{margin-top:20px}.loginUser_privilege{margin-top:5px;font-weight:bold}.loginUser_actions{position:absolute;top:10px;right:10px}.loginUser_actions
.action_separator{margin:0
10px;color:#ddd}.qrCode_panel{display:none;padding:20px;border:1px
solid #eee;border-top:none;background:#fff;top:40px;left:-50px;position:absolute;line-height:normal;z-index:1000;box-shadow:2px 2px 2px #F7F7F7}.index_top_nav
.qrCode_panel{left:-200px;padding:0;border:0px
solid #FFF !important;box-shadow:0 0 0 #FFF !important;background-color:rgba(0, 0, 0, 0) !important}.index_top_nav .qrCode_panel
img{width:270px}.siteMap_panel{display:none;z-index:1000;position:absolute;top:40px;left:-800px;border:1px
solid #eee;background:#fff;border-top:none;padding:28px
0 30px;line-height:1;box-shadow:2px 2px 2px #F7F7F7}.siteMap_panel
.tour{border-left:none;color:#2e9900;background:none}.siteMap_panel
.discount{color:#f69100}.siteMap_panel
.guide{color:#02609d}.siteMap_panel
.service{color:#bf4b56}.siteMap_panel
dt{font-size:16px;float:left;border-left:1px solid #f5f5f5;height:190px;font-weight:bold}.siteMap_panel
dd{font-size:12px;color:#666;float:left}.siteMap_panel dd
ul{float:left;width:100px}.siteMap_panel dd ul
li{margin-bottom:16px}.siteMap_panel dd ul li
a{position:relative;padding-right:16px}.siteMap_panel .icon_hot,
.siteMap_panel
.icon_new{position:absolute;top:3px;right:0px}.site_logo
a{display:inline-block}.site_logo a
img{height:95px;width:250px;display:block;position:absolute;z-index:2;top:0;left:0}.index1200 .site_logo a
img{height:100px;width:280px}.site_contact{background:url(//ssl1.tuniucdn.com/img/2016090719/header/site_contact_bg.png) left bottom no-repeat;width:258px;height:77px;position:relative}.site_contact
.text{position:absolute;top:38px;right:45px;line-height:1;font-family:"Microsoft YaHei";color:#9c9ba5;text-align:right;font-size:11px;-webkit-transform:scale(0.91);-o-transform:scale(1)}.site_contact
.h_tel_icon{display:inline-block;width:28px;height:28px;background:url(//ssl1.tuniucdn.com/img/2016090719/header/tel.png) no-repeat;position:absolute;top:39px;right:140px}.site_contact
.tel{position:absolute;top:54px;right:45px;text-align:right;line-height:1;font-size:14px;font-family:"arial";color:#f80;text-align:right;font-weight:bold}.site_contact.hk-tel
.tel{font-size:12px;font-weight:normal}.site_contact.hk-tel
.h_tel_icon{right:145px}.index1200 .site_contact.hk-tel
.h_tel_icon{right:177px}.thr_trav .tn_phone.hk-tel{font-size:16px}.site_contact
.h_mingxing_icon{display:inline-block;width:55px;height:60px;background:url(//ssl1.tuniucdn.com/img/2016090719/header/lin_small.png) no-repeat;position:absolute;right:-12px;bottom:-7px}.headTuniuKefu{position:absolute;left:0;top:35px}.headTuniuKefu
img{width:28px;height:28px;float:left;margin-right:3px;margin-top:4px}.headTuniuKefu
span{display:inline-block;float:left;color:#9c9ba5;font-size:11px}.headTuniuKefu
i{font-style:normal;color:#22c233;display:block;font-size:12px}.index1200
.site_contact{width:295px}.index1200 .site_contact
.h_tel_icon{right:172px}.index1200 .site_contact .tel, .index1200 .site_contact
.text{right:80px}.index1200 .site_contact
.h_mingxing_icon{width:78px;height:77px;background:url(//ssl1.tuniucdn.com/img/2016090719/header/lin_big.png) no-repeat;right:0;bottom:0}.search_advance{font-size:12px;color:#999;position:relative;margin-left:10px;padding-right:10px}.search_advance
.icon_arrow{position:absolute;right:0px;top:17px}.index1200 .search_advance
.icon_arrow{top:7px}.nav_dest{display:inline;font-size:12px;height:35px;line-height:35px;padding:0
10px 0 30px;position:relative;width:160px;background:#37c249;color:#fff}.nav_dest
.dest_title{font-size:16px}.nav_dest
.icon_catalog{position:absolute;top:12px;left:10px}.nav_dest
.allsort{position:absolute !important;top:100%;left:0;display:block;font-size:12px}.index_nav_menu{position:absolute;top:0;left:0;width:100%}.index1200 .index_nav_menu
.inner{width:1190px;margin:0
auto}.width1200 .index_nav_menu
.inner{width:1190px;margin:0
auto}.index_nav_menu
.menu_panel{background-color:#2dbb55}.index_nav_menu .menu_panel
.menu_list{margin-left:200px;float:left;_display:inline;position:relative;z-index:900;width:790px}.index1200 .index_nav_menu .menu_panel
.menu_list{width:990px}.index_nav_menu .menu_panel .menu_list
li{float:left;height:32px;line-height:32px;font-size:14px;color:#2b8f08;border-bottom:3px solid #38c249;position:relative;z-index:3}.index_nav_menu .menu_panel .menu_list li
a{color:#2b8f08;display:inline-block;position:relative;padding:0
12px 0 10px;text-decoration:none}.index1200 .index_nav_menu .menu_panel .menu_list
li{font-size:16px}.width1200 .index_nav_menu .menu_panel .menu_list
li{font-size:16px}.index1200 .index_nav_menu .menu_panel .menu_list li
a{padding:0
20px 0 10px}.index_nav_menu .menu_panel .menu_list
.selected{font-weight:bold}.index_nav_menu .menu_panel .menu_list .selected .top_sub_nav
a{font-weight:normal}.index_nav_menu
.subMenu_panel{background:#fafafa;opacity:0.94;display:none;box-shadow:3px 3px 1px #eaeaea;*zoom:1}.index_nav_menu .subMenu_panel
.subMenu_list{float:left;margin-left:200px;_display:inline}.index_nav_menu .subMenu_panel
.subMenu_col{float:left;display:inline;position:relative;z-index:0;height:180px}.index_nav_menu .subMenu_panel .subMenu_col
.icon_arrowUp2{position:absolute;top:-9px;left:30px;display:none}.index_nav_menu .subMenu_panel .col_hover
.icon_arrowUp2{display:block}.index1200 .index_nav_menu .subMenu_panel .subMenu_col
.icon_arrowUp2{left:39px}.width1200 .index_nav_menu .subMenu_panel .subMenu_col
.icon_arrowUp2{left:39px}.index_nav_menu .subMenu_panel .subMenu_col
ul{font-size:12px;font-family:"宋体";color:#424242}.index1200 .index_nav_menu .subMenu_panel .subMenu_col
ul{width:82px}.width1200 .index_nav_menu .subMenu_panel .subMenu_col
ul{width:82px}.index_nav_menu .subMenu_panel .subMenu_col
li{height:24px;line-height:24px;margin-top:13px;text-align:center}.index_nav_menu .subMenu_panel .subMenu_col li.spec_hot
a{color:#f60;border:1px
solid #f60}.index_nav_menu .subMenu_panel .subMenu_col li.spec_hot a:hover{color:#fff;border:1px
solid #f60;background:#f60}.index_nav_menu
.col_hover{background:#dbf3de}.index_nav_menu .col_hover
a{color:#2b8f08}.index_nav_menu
.li_hover{background:#4cca49}.index_nav_menu .li_hover
a{color:#fff}.index_nav_menu .menu_panel .menu_list li a:hover, .index_nav_menu .menu_panel .menu_list li.cui_nav_o
a{background:#f8f8f8;color:#fe8800}.index_nav_menu .menu_panel .menu_list li.cui_nav_o .top_sub_nav
a{background:none;color:#077c00}.index_nav_menu
.first_col{background:none}.index_nav_menu .first_col
.li_hover{background:none}.index_nav_menu .first_col .li_hover
a{color:#fff;background:#4cca49}.index_nav_menu .first_col .li_hover.spec_hot
a{color:#fff !important;border:1px
solid #f60;background:#f60}.index_nav_menu .first_col
a{display:inline-block;padding:0px
4px;color:#4cca49;border:1px
solid #4cca49;height:16px;line-height:16px}.index_nav_menu
.hot{color:#f60}.index_nav_menu .hot
a{color:#f60;display:block}.index_nav_menu .hot a:hover{color:#fff}.header_search{height:100px}.header_search
.site_logo{float:left;width:161px;height:55px;margin-top:0}.index1200 .header_search
.site_logo{width:171px}.header_search
.local_city{float:left;margin-top:34px;_dispaly:inline}.header_search
.tn_search_box{float:left;margin-top:30px}.header_search
.search_advance{float:left;margin-top:31px;width:28px}.index1200 .header_search
.search_advance{width:auto;margin-top:39px}.header_search
.site_contact{float:right;margin-top:0px;height:77px}.index1200 .header_search
.site_contact{float:right;margin-top:6px;height:77px}.header_nav{position:relative;height:40px;z-index:999}.header_nav
.nav_dest{float:left}.header_nav
.header_inner{_height:32px}.local_city{position:relative;z-index:1011;font-size:12px;width:95px;color:#666}.index1200
.local_city{width:110px}.local_city
.head_start_city{position:relative;z-index:990;margin:0
!important}.local_city .head_start_city
.sc_name{margin:0;cursor:pointer;position:relative;z-index:10}.local_city .head_start_city .sc_name
span{color:#000;font-size:14px;margin-right:5px;padding-right:10px;position:relative;line-height:1;display:inline-block}.local_city .head_start_city .sc_name span
.icon_arrow{position:absolute;top:7px;right:0;z-index:2}.local_city .city_hover .show_city,
.local_city .change_tab
.show_city{display:block}.local_city .city_hover .sc_name,
.local_city .change_tab
.sc_name{position:relative;top:-5px;left:-10px;padding:5px
10px;border:1px
solid #dedede;border-bottom-color:#fff;z-index:10;background:#fff}.local_city .city_hover .sc_name span,
.local_city .change_tab .sc_name
span{color:#f80}.local_city .city_hover .sc_name .icon_arrow,
.local_city .change_tab .sc_name
.icon_arrow{background-position:-16px -13px}.local_city .head_start_city
.show_city{background:#fff !important;border:1px
solid #dedede !important;box-shadow:none !important;left:-10px;top:20px;*top:16px}.local_city .head_start_city .show_city
#tags{background:#fff !important}.local_city .head_start_city .show_city #tags
li{background:#fff !important;border-bottom:1px solid #fff !important}.local_city .head_start_city .show_city #tags li
a{background:none;color:#666}.local_city
.grey_color{margin:5px
0 0 0;text-align:left}.local_city .grey_color
img{display:block}.start_city_box .head_start_city
.sc_name{left:1px}.start_city_box .head_start_city
.show_city{*top:16px;width:500px;padding-bottom:15px;left:-15px}.start_city_box .city_hover .sc_name, .local_city .change_tab
.sc_name{padding:4px
5px 2px 15px}.start_city_box .city_hover .sc_name, .start_city_box .change_tab
.sc_name{left:-15px}.start_city_box
#tags{width:470px;padding-top:10px}.start_city_box
#con{width:470px}.start_city_box
.station_hot{margin-top:10px}.start_city_box .station_hot
h4{margin-bottom:5px;color:#999;font-family:"microsoft yahei"}.start_city_box .station_hot
p{}.start_city_box .station_hot p
a{display:inline-block;margin-right:20px;line-height:20px;color:#666}.start_city_box .station_hot p a:hover{color:#f80;text-decoration:underline}.start_city_box
.station_search{margin-top:10px}.start_city_box
.station_search_box{border:1px
solid #dedede;height:30px;position:relative;z-index:3}.start_city_box
.station_search_box.on{border:1px
solid #bbb}.start_city_box .station_search_box
p{color:#999;left:20px;line-height:28px;position:absolute;text-indent:10px;top:0;z-index:-1}.start_city_box .station_search_box
.icon{width:14px;height:14px;background-position:-106px -56px;vertical-align:middle;margin-right:10px;position:absolute;left:10px;top:7px}.start_city_box .station_search_box
input{background-color:transparent;border:0
none !important;box-shadow:none !important;height:22px;line-height:22px;margin:4px
30px 1px;outline:medium none;padding:0
!important;width:400px;color:#666}.start_city_box
.station_search_result{padding:5px
0 0 5px;padding-left:32px}.start_city_box .station_search_result
a{color:#f80;display:inline-block;line-height:22px;margin-right:15px}.start_city_box .station_search_result a:hover{text-decoration:underline}.start_city_box
.tagContent{width:auto}.start_city_box .tagContent .line
.line_left{padding-left:8px;width:25px}.start_city_box .tagContent .line
.line_right{width:437px}.tagContent .line
a{margin-right:20px}.tagContent .line a:hover{text-decoration:underline}.tagContent .line .line_right
a{line-height:23px}.tn_search_box{height:36px !important;z-index:1001}.tn_search_box
.search_hot{position:absolute;top:6px;right:75px;margin-left:10px}.tn_search_box .search_hot
li{float:left;padding:2px
5px;background:#f3f3f3;font-size:12px;border-radius:12px;margin-left:10px;color:#999}.tn_search_box .search_hot li a:hover{color:#f80}.tn_search_box .tn_s_select
span{line-height:34px !important}.tn_search_box
.tn_search_bar{top:34px !important}.tn_search_box
.tn_s_input{*padding-top:0px}.tn_search_box .tn_s_input
input{height:24px !important;line-height:24px !important}.header_top
.vipname_box{z-index:2000}.header_top .vipname_box
.float_tt{height:30px;line-height:30px;border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #fff;box-shadow:none}.header_top
.vipname{height:30px;line-height:30px;border-top:none}.header_top .vipname_box
.colle_box{top:30px;box-shadow:2px 2px 2px #F7F7F7;border:1px
solid #eee;border-top:none}.header_top
.poparrow{margin-top:12px}.header_nav
.header_inner{position:relative;z-index:900}.header_nav .header_inner
.nav_dest{position:absolute;top:0;left:0;z-index:1;cursor:pointer}.header_nav .header_inner .nav_dest .allsort
.mt{display:none !important}.header_nav
.index_nav_menu{z-index:899}.hidden{visibility:visible}.parttabbox{border-bottom:none}.parttabbox
.wrap{border-bottom:2px solid #6e899a}.parttabbox .wrap
.wrap{border:none}.parttabbox
.title_tag_bg{width:990px;margin:0
auto}.header .header_search
.ml80{margin-left:80px}.header .header_search
.sub_title{float:left;margin-top:21px;margin-left:15px}.header .header_search .sub_title
img{display:block}.header .header_search .sub_title
p{font-size:18px;height:50px;line-height:50px;font-family:"microsoft yahei"}.cityBtn-hover{width:330px;left:-8px;top:-32px}.cityBtn-hover .accolade
strong{max-width:120px;position:relative;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.cityBtn-hover
.z{width:280px;left:52px;top:16px}.cityBtn-hover
.y{left:52px;top:17px}.right_common{z-index:10000 !important}#categorys{_line-height:0}.header_search
.tn_search_box{_width:420px;_margin-left:3px}.nav_dest
.dest_title{*color:#fff}.t2{text-indent:0}#niuren_list{position:relative}.flag_niuzhuan,.flag_bamayou,.flag_niuzunxiang,.flag_shihui,.flag_renzheng,.flag_shouhang{display:inline-block;width:64px;height:19px;position:absolute;top:0;right:0}.flag_qinziyou{display:inline-block;width:72px;height:20px;vertical-align:middle;position:absolute;right:0;top:0}.flag_icon
.flag_qinziyou{position:static}.flag_icon
.flag_bamayou{position:static;vertical-align:middle}.flag_niuzhuan{background:url(//ssl1.tuniucdn.com/img/20160128/common/flag_niuzhuan.jpg) 0 0 no-repeat;height:20px}.flag_bamayou{background:url(//ssl1.tuniucdn.com/img/20160128/common/flag_bamayou.png) 0 0 no-repeat;width:82px;height:20px}.flag_niuzunxiang{background:url(//ssl1.tuniucdn.com/img/2015051314/common/flag/flag_niuzunxiang.png) 0 0 no-repeat}.flag_shihui{background:url(//ssl1.tuniucdn.com/img/2015051314/common/flag/flag_shihui.png) 0 0 no-repeat}.flag_renzheng{background:url(//ssl1.tuniucdn.com/img/2015051314/common/flag/flag_renzheng.png) 0 0 no-repeat}.flag_baokuan{display:inline-block;background:url(//ssl1.tuniucdn.com/img/20150211/common/flag/flag_baokuan_i.png) 0 0 no-repeat;width:61px;height:19px;position:absolute;top:0;right:0}.dis_block{display:block !important}.flag_discount{background:url(//ssl1.tuniucdn.com/img/201503041340/common/icon_discount.png) 0 0 no-repeat;width:55px;height:22px;line-height:24px;text-align:center;position:absolute;z-index:1;font-family:"Arial";color:#fff;font-size:14px;left:-3px;bottom:10px;font-style:normal}.flag_qinziyou{background:url(" /img/2016020112/common/flag_qinziyou.jpg") 0 0 no-repeat}.flag_activity{vertical-align:middle;margin-bottom:3px}.flag_shouhang{display:inline-block;width:82px;height:20px;vertical-align:middle;position:absolute;right:0;top:0;background:url(//ssl1.tuniucdn.com/img/20160314/common/flag_shouhang.jpg) no-repeat}.flag_icon
.flag_shouhang{position:static}.index_nav_menu{overflow:visiable}.index_nav_menu .subMenu_panel .subMenu_col
ul{padding-bottom:13px}.index_nav_menu .subMenu_panel
.subMenu_col{height:auto;padding-bottom:999px;margin-bottom:-999px}.atmosbg{background-position:center -112px;background-repeat:no-repeat}.index1200
.atmosbg{background-position:center 30px;background-repeat:no-repeat}.header_search
.header_inner{z-index:1000}.service_phone_box{background-color:#fff;box-shadow:0 1px 3px 1px #efefef;position:absolute;top:77px;left:56px;padding:5px
10px;z-index:999;display:none}.service_phone_box
span{font-family:MicrosoftYaHei;font-size:12px;color:#666;text-align:left;line-height:22px}.site_contact
em{background:url(https://m.tuniucdn.com/fb2/t1/G1/M00/8E/61/Cii9EVi9IBmIeLNAAAAAiTwOuYAAAIASQP__v8AAAEB094.png);width:7px;height:3px;position:absolute;top:4px;right:-10px}.site_contact
em.down{background:url(https://m.tuniucdn.com/fb2/t1/G1/M00/8B/0E/Cii9EFi-RNKIHAjqAAAAjWcn_twAAH1KQP__v4AAAEC111.png)}.service_phone_box span
i{font-style:normal;font-family:"Arial"}.service_phone_box
.arrow{width:0;height:0;position:absolute;top:-5px;left:76px;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #fff;z-index:1000}.icon_hot{background-position:-61px -9px;width:11px;height:11px}.icon_new{background-position:-41px -9px;width:11px;height:11px}.siteMap_panel{width:988px}.siteMap_panel
dt{padding:0
22px}.header_top
.header_inner{width:990px;z-index:1100}.index1200 .header_top
.header_inner{width:1190px}.index1200 .header_nav
.nav_subMenu{width:990px}.index1200
.siteMap_panel{width:1188px}.index1200 .siteMap_panel
dt{padding:0
40px}.index_top_nav .item_hover
.dropdown_panel{display:block}.siteMap_panel{display:none;z-index:1000;position:absolute;top:40px;left:0px;border:1px
solid #eee;background:#fff;border-top:none;padding:28px
0 30px;line-height:1;box-shadow:2px 2px 2px #F7F7F7}.siteMap_panel
.tour{border-left:none;color:#2e9900;background:none}.siteMap_panel
.discount{color:#f69100}.siteMap_panel
.guide{color:#02609d}.siteMap_panel
.service{color:#bf4b56}.siteMap_panel
dt{font-size:16px;float:left;border-left:1px solid #f5f5f5;height:190px;font-weight:bold}.siteMap_panel
dd{font-size:12px;color:#666;float:left}.siteMap_panel dd
ul{float:left;width:100px}.siteMap_panel dd ul
li{margin-bottom:16px;overflow:visible}.siteMap_panel dd ul li
a{position:relative;padding-right:16px}.siteMap_panel .icon_hot,
.siteMap_panel
.icon_new{position:absolute;top:3px;right:0px}a{text-decoration:none}.hide{display:none}body{background-color:#f8f8f8!important;font-family:"微软雅黑" !important}.container{width:1190px;margin:14px
auto;overflow:visible;padding:0
!important;background-color:transparent}.container>.left-sidebar{width:180px;float:left}.container>.left-sidebar>div{width:100%}.container>.left-sidebar>div#left-side-nav{background-color:rgba(29,180,78,0.9);background-color:#1db44e;-khtml-opacity:0.9;-moz-opacity:0.9;filter:alpha(opacity=90);filter:"alpha(opacity=90)";opacity:0.9;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);padding-bottom:1px}.container>.left-sidebar>div#left-side-nav>ul#first-nav{padding:20px
29px 0}.container>.left-sidebar>div#left-side-nav>ul#first-nav>li{color:#fff;font-size:16px;margin-bottom:30px;background-repeat:no-repeat;background-position:0 4px;padding-left:25px;cursor:pointer;position:relative}.container > .left-sidebar > div#left-side-nav > ul#first-nav > li
a{color:#fff !important}.container>.left-sidebar>div#left-side-nav>ul#first-nav>li#order{background-image:url(//img3.tuniucdn.com/site/wap/img/member/usercenter/order.png)}.container>.left-sidebar>div#left-side-nav>ul#first-nav>li#cash{background-image:url(//img3.tuniucdn.com/site/wap/img/member/usercenter/cash.png)}.container>.left-sidebar>div#left-side-nav>ul#first-nav>li#usercenter{background-image:url(//img3.tuniucdn.com/site/wap/img/member/usercenter/usercenter.png)}.container>.left-sidebar>div#left-side-nav>ul#first-nav>li#message{background-image:url(//img3.tuniucdn.com/site/wap/img/member/usercenter/message.png)}.container>.left-sidebar>div#left-side-nav>ul#first-nav>li#shequ{background-image:url(//img3.tuniucdn.com/site/wap/img/member/usercenter/shequ.png)}.container>.left-sidebar>div#left-side-nav>ul#first-nav>li#club{background-image:url(//img3.tuniucdn.com/site/wap/img/member/usercenter/club.png)}.container>.left-sidebar>div#left-side-nav>ul#first-nav>li#tools{background-image:url(//m.tuniucdn.com/fb2/t1/G1/M00/AF/66/Cii9EVjbJ2SIXuLqAAABylqRH6EAAI-xQP__h4AAAHi452.png)}.container>.left-sidebar>div#left-side-nav>ul#first-nav>li.focus{font-weight:bolder}.container>.left-sidebar>div#left-side-nav>ul#first-nav>li>span.nav-arrow{width:10px;height:10px;background-image:url(//img3.tuniucdn.com/site/wap/img/member/usercenter/arrow.png);background-position:0 0;background-repeat:no-repeat;display:block;position:absolute;top:7px;right:10px}.container>.left-sidebar>div#left-side-nav>ul#first-nav>li>span.nav-arrow.arrow-up{background-position:0 -10px}.container>.left-sidebar>div#left-side-nav>ul#first-nav>li>ul{margin-top:8px;display:none}.container > .left-sidebar > div#left-side-nav > ul#first-nav > li > ul
a{font-size:14px;line-height:30px}.container > .left-sidebar > div#left-side-nav > ul#first-nav > li
a{color:inherit;font-weight:normal}.container > .left-sidebar > div#left-side-nav > ul#first-nav > li a:hover{font-weight:bolder}.container > .left-sidebar > div#left-side-nav > ul#first-nav > li
a.focus{font-weight:bolder}.container>.left-sidebar>div#left-side-nav>img{display:block}.container>.left-sidebar>div#left-side-nav>img#side-header{width:100%}.container>.left-sidebar>div#left-side-service{margin-top:20px;background-color:#fff}.container>.left-sidebar>div#left-side-service>.service-title{padding:12px
0;text-align:center;font-size:16px;color:#333;font-weight:500}.container>.left-sidebar>div#left-side-service>ul>li{width:95%;display:block;margin:0
auto;border-bottom:1px dotted #ddd}.container>.left-sidebar>div#left-side-service>ul>li:last-child{border-bottom:none}.container>.left-sidebar>div#left-side-service>ul>li>a>img{width:48%}.container>.left-sidebar>div#left-side-service>ul>li>a:first-child>img{border-right:1px dotted #ddd}.container>.main-content{float:right;width:83.2%}.container
.mainDiv{float:right;width:83.2%}.active{border-bottom:2px solid #20a832;color:#20a832;font-weight:600}.clearFix{clear:both}.mainDiv{font-family:"微软雅黑" !important}.mainDiv>.select-box{margin-left:19px;width:99%;height:40px;border-bottom:2px solid #ccc}.mainDiv .select-box ul>li{float:left;padding-bottom:5px;width:8%;height:25px;text-align:center;line-height:25px;margin-top:10px;font-size:16px;cursor:pointer}.mainDiv .select-box ul>p{float:left;margin-top:12px;height:20px;border-left:1px solid #E4E4E4}.mainDiv .select-box ul>li:hover{color:#37c249}.mainDiv .focus-list{margin:10px
19px;width:99%}.mainDiv .focus-list .no-focus{padding:0
0 5px 0}.no-focus-img{background:url("//ssl1.tuniucdn.com/img/201511121702/gift/no-focus-icon.png") no-repeat;padding:115px
0}.no-focus .order_list>p{margin:15px
35%;text-align:center;font-size:16px}.no-focus .order_list>p>a{color:#37C349}.no-focus .order_list>p>a:hover{text-decoration:underline}.mainDiv .focus-list
.title{width:100%}.mainDiv .focus-list .title .del-batch-btn{font-weight:600;color:#000;cursor:pointer}.mainDiv .focus-list .title .del-batch-btn:hover{color:#22C233}.mainDiv .focus-list .title>div{padding:10px
0;float:left;color:#7A7A7A;background:#F6F6F6;text-align:center}.mainDiv .focus-list
.detail{border-bottom:1px solid #F2F2F2}.mainDiv .focus-list .detail>div{padding:10px
0;float:left;height:125px}.mainDiv .focus-list .detail .title_2 > a
img{padding:10px;width:190px;height:115px}.mainDiv .focus-list .detail .title_2>.start-city{padding:5px
0;width:190px;background:#000;background:rgba(0, 0, 0, 0.6);font-size:14px;color:#fff;text-align:center;position:relative;top:-45px;left:10px}.mainDiv .focus-list .detail .title_2>.no-city{height:21px;visibility:hidden}.mainDiv .focus-list .detail .title_1>input{margin:60px
25px}.mainDiv .focus-list .detail .title_2>.focus-name{padding:5px
20px;width:62%;height:40px;overflow:hidden;word-wrap:break-word;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;position:relative;top:-168px;left:202px;font-size:14px}.mainDiv .focus-list .detail .title_2 > .focus-name a:hover{color:#FFA833}.mainDiv .focus-list .detail .title_2>.tour-type>span{color:#22C233}.mainDiv .focus-list .detail .title_2>.tour-type>.down-line{color:#CCC}.mainDiv .focus-list .detail .title_2>.comment-info{color:#999}.mainDiv .focus-list .detail .title_2 > .comment-info .comment-left{float:left}.mainDiv .focus-list .detail .title_2 > .comment-info .comment-right{float:left;margin-left:45px}.mainDiv .focus-list .detail .title_2 > .tour-type,.mainDiv .focus-list .detail .title_2 > .comment-info,.mainDiv .focus-list .detail .title_2>.open-time{padding:5px;width:250px;position:relative;left:215px;font-size:12px}.mainDiv .focus-list .detail .title_2>.comment-info{top:-178px}.mainDiv .focus-list .detail .title_2>.tour-type{top:-182px}.mainDiv .focus-list .detail .title_2 > .tour-type
img{width:20px;margin-left:5px;position:relative;top:5px;cursor:pointer}.mainDiv .focus-list .detail .title_2>.open-time{width:55%;top:-173px;height:16px;overflow:hidden;word-wrap:break-word;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1}.mainDiv .focus-list .detail
.title_3{color:#F60;font-weight:600;font-size:20px}.mainDiv .focus-list .detail .title_3
p{margin:50px
10px;line-height:15px}.mainDiv .focus-list .detail .title_3 p>span{font-size:14px !important}.mainDiv .focus-list .detail .title_4 .order-btn{position:relative;top:30px;left:50px;padding:11px
37px;background:#FF8700;color:#fff;font-weight:600;font-size:14px;font-family:"宋体" !important;border-radius:3px}.mainDiv .focus-list .detail .title_4 .ordered-btn{position:relative;top:30px;left:50px;padding:11px
37px;background:#EEE;color:#CECECE;font-weight:600;font-size:14px;font-family:"宋体" !important;border-radius:3px}.mainDiv .focus-list .detail .title_4 .order-btn:hover{background:#FFA833}.mainDiv .focus-list .detail .title_4 .del-btn{margin:50px
50px;padding:6px
35px;width:30px;background:#fff;border:1px
solid #DDD;color:#989898;font-weight:600;font-size:14px;font-family:"宋体" !important;border-radius:3px;cursor:pointer}.mainDiv .focus-list .detail .title_4 .del-btn:hover{color:#000}.title_1{border-bottom:1px solid #F6F6F6;width:10%}.title_2{border-bottom:1px solid #F6F6F6;width:60%}.title_3{border-bottom:1px solid #F6F6F6;width:10%}.title_4{border-bottom:1px solid #F6F6F6;width:20%}#overLay{font-family:"微软雅黑";position:fixed;top:0;width:100%;height:100%;background:transparent}#overLay .del-tip,#overLay .del-one-tip,#overLay .remind-tip{width:420px;height:225px;border:1px
solid #DDD;background:#fff;position:fixed;top:300px;left:46%}#overLay .del-tip > p,#overLay .del-one-tip > p,#overLay .remind-tip>p{color:#999;font-size:18px;font-family:"微软雅黑";border-bottom:1px solid #ddd;padding:6px
0;width:90%;margin:0
auto}#overLay .del-tip > p > img,#overLay .del-one-tip > p > img,#overLay .remind-tip>p>img{position:absolute;margin-top:7px;margin-left:325px;float:right;cursor:pointer}#overLay .del-tip > div > p,#overLay .del-one-tip > div > p,#overLay .remind-tip>div>p{width:80%;margin:45px
auto;font-family:"微软雅黑";color:#666;text-align:center;font-size:14px}#overLay .del-tip > div > p > i,#overLay .del-one-tip>div>p>i{background:url("//ssl1.tuniucdn.com/img/2015040113/user_center_v2/user_icon.png") no-repeat 0 -315px;padding:9px
20px}#overLay .remind-tip>div>p>i{background:url("//ssl1.tuniucdn.com/img/2015040113/user_center_v2/user_icon.png") no-repeat 0 -315px;padding:9px
20px}#overLay .del-tip > div > a,#overLay .del-one-tip > div > a,#overLay .remind-tip>div>a{display:inline-block;height:32px;width:100px;line-height:32px;text-align:center;font-family:"微软雅黑";font-weight:600;border-radius:3px;font-size:16px}#overLay .del-tip > div > .del-sure-btn,#overLay .del-one-tip>div>.del-one-btn{border:1px
solid #FF8700;background:#FF8700;color:#fff;margin-left:105px}#overLay .remind-tip>div>.deled-sure-btn{border:1px
solid #FF8700;background:#FF8700;color:#fff;margin-left:170px}#overLay .del-tip > div > .cancel-btn,#overLay .del-one-tip>div>.cancel-btn{border:1px
solid #DDD;color:#989898;margin-left:20px}