/* line 7, ../sass/index.scss */
a {
  text-decoration: none;
}

/* line 11, ../sass/index.scss */
.hide {
  display: none !important;
}

/* line 15, ../sass/index.scss */
body {
  background-color: #f8f8f8!important;
  font-family: "微软雅黑" !important;
}

/* line 19, ../sass/index.scss */
.container {
  width: 1190px;
  margin: 14px auto;
  overflow: auto;
  padding: 0 !important;
  background-color: transparent;
}
/* line 24, ../sass/index.scss */
.container .moudle-title {
  padding: 0 20px;
  border-left: 5px solid #4c5a65;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
/* line 31, ../sass/index.scss */
.container .moudle-title > a {
  font-weight: normal;
  font-size: 12px;
  color: #999999;
  position: absolute;
  bottom: 0;
  right: 25px;
}
/* line 41, ../sass/index.scss */
.container > .left-sidebar {
  width: 180px;
  float: left;
}
/* line 44, ../sass/index.scss */
.container > .left-sidebar > div {
  width: 100%;
}
/* line 46, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav {
  background-color: rgba(29, 180, 78, 0.9);
  background-color: #1db44e;
  -khtml-opacity:0.9;
  -moz-opacity:0.9;
  filter:alpha(opacity=90);
  filter:"alpha(opacity=90)";
  opacity:0.9; 
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  padding-bottom: 1px;
}
/* line 50, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav {
  padding: 20px 29px 0;
}
/* line 52, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li {
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 25px;
  cursor: pointer;
  position: relative;
}
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li a {
  color: #fff !important;
}
/* line 60, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li#order {
  background-image: url(https://img3.tuniucdn.com/site/wap/img/member/usercenter/order.png);
}
/* line 63, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li#cash {
  background-image: url(https://img3.tuniucdn.com/site/wap/img/member/usercenter/cash.png);
}
/* line 66, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li#usercenter {
  background-image: url(https://img3.tuniucdn.com/site/wap/img/member/usercenter/usercenter.png);
}
/* line 69, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li#message {
  background-image: url(https://img3.tuniucdn.com/site/wap/img/member/usercenter/message.png);
}
/* line 72, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li#shequ {
  background-image: url(https://img3.tuniucdn.com/site/wap/img/member/usercenter/shequ.png);
}
/* line 75, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li#club {
  background-image: url(https://img3.tuniucdn.com/site/wap/img/member/usercenter/club.png);
}
/* line 78, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li.focus {
  font-weight: bolder;
}
/* line 81, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li > span.nav-arrow {
  width: 10px;
  height: 10px;
  background-image: url(https://img3.tuniucdn.com/site/wap/img/member/usercenter/arrow.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 7px;
  right: 10px;
}
/* line 90, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li > span.nav-arrow.arrow-up {
  background-position: 0 -10px;
}
/* line 94, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li > ul {
  margin-top: 8px;
  display: none;
}
/* line 97, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li > ul a {
  font-size: 14px;
  line-height: 30px;
}
/* line 102, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li a {
  color: inherit;
  font-weight: normal;
}
/* line 105, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > ul#first-nav > li a:hover {
  font-weight: bolder;
}
/* line 112, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > img {
  display: block;
}
/* line 114, ../sass/index.scss */
.container > .left-sidebar > div#left-side-nav > img#side-header {
  width: 100%;
}
/* line 120, ../sass/index.scss */
.container > .left-sidebar > div#left-side-service {
  margin-top: 20px;
  background-color: #ffffff;
}
/* line 123, ../sass/index.scss */
.container > .left-sidebar > div#left-side-service > .service-title {
  padding: 12px 0;
  text-align: center;
  font-size: 16px;
  color: #333333;
  font-weight: 500;
}
/* line 131, ../sass/index.scss */
.container > .left-sidebar > div#left-side-service > ul > li {
  width: 95%;
  display: block;
  margin: 0 auto;
  border-bottom: 1px dotted #dddddd;
}
/* line 136, ../sass/index.scss */
.container > .left-sidebar > div#left-side-service > ul > li:last-child {
  border-bottom: none;
}
/* line 140, ../sass/index.scss */
.container > .left-sidebar > div#left-side-service > ul > li > a > img {
  width: 48%;
}
/* line 143, ../sass/index.scss */
.container > .left-sidebar > div#left-side-service > ul > li > a:first-child > img {
  border-right: 1px dotted #dddddd;
}
/* line 153, ../sass/index.scss */
.container > .main-content {
  float: right;
  width: 83.2%;
}
/* line 157, ../sass/index.scss */
.container > .main-content > div#main-header {
  width: 100%;
  background-image: url(https://img3.tuniucdn.com/site/wap/img/member/usercenter/head-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
  padding: 10px 0;
  overflow: auto;
}
/* line 165, ../sass/index.scss */
.container > .main-content > div#main-header > #bell {
  position: absolute;
  right: 10px;
  top: 0;
}
/* line 170, ../sass/index.scss */
.container > .main-content > div#main-header > .header-left {
  float: left;
  width: 63%;
  border-right: 1px dotted #dddddd;
  position: relative;
  height: 140px;
}
.header-left > a {
  position: relative;
  width: 115px;
    height: 115px;
    display: block;
    float: left;
}
/* line 174, ../sass/index.scss */
.container > .main-content > div#main-header > .header-left #user-logo {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 13px 15px 13px 25px;
}
/* line 185, ../sass/index.scss */
.container > .main-content > div#main-header > .header-left > .user-msg {
  float: left;
  margin-top: 35px;
  margin-left: 45px;
}
/* line 188, ../sass/index.scss */
.container > .main-content > div#main-header > .header-left > .user-msg > p {
  font-size: 18px;
  color: #333333;
  font-weight: bolder;
}
/* line 193, ../sass/index.scss */
.container > .main-content > div#main-header > .header-left > .user-msg #user-level {
  margin: 10px 0;
  background-color: #f0f4fb;
  width: 98px;
  height: 11px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}
#user-level > #level-inner {
  height: 100%;
  -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
  background-color: #6de85d;
}
#user-level > #level-tag {
  display: block;
  height: 15px;
  width: 36px;
  overflow: hidden;
  background-image: url(//m.tuniucdn.com/fb2/t1/G2/M00/B6/00/Cii-TFhzSaCIRvejAAAMY4eFWGMAAGiuQP_5h4AAAx7235.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -4px;
  left: -3px;
}
.gopng_icon_v0 {
background-position: 0 0;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="//m.tuniucdn.com/fb2/t1/G2/M00/B6/00/Cii-TFhzSaCIRvejAAAMY4eFWGMAAGiuQP_5h4AAAx7235.png");
}
.gopng_icon_v1 {
background-position: -36px -0px;
_background: none;
_padding-left: 36px;
_margin-left: -36px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="//m.tuniucdn.com/fb2/t1/G2/M00/B6/00/Cii-TFhzSaCIRvejAAAMY4eFWGMAAGiuQP_5h4AAAx7235.png");
}

.gopng_icon_v2 {
background-position: -72px -0px;
_background: none;
_padding-left: 72px;
_margin-left: -72px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="//m.tuniucdn.com/fb2/t1/G2/M00/B6/00/Cii-TFhzSaCIRvejAAAMY4eFWGMAAGiuQP_5h4AAAx7235.png");
}

.gopng_icon_v3 {
background-position: -108px -0px;
_background: none;
_padding-left: 108px;
_margin-left: -108px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="//m.tuniucdn.com/fb2/t1/G2/M00/B6/00/Cii-TFhzSaCIRvejAAAMY4eFWGMAAGiuQP_5h4AAAx7235.png");
}

.gopng_icon_v4 {
background-position: -144px -0px;
_background: none;
_padding-left: 144px;
_margin-left: -144px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="//m.tuniucdn.com/fb2/t1/G2/M00/B6/00/Cii-TFhzSaCIRvejAAAMY4eFWGMAAGiuQP_5h4AAAx7235.png");
}

.gopng_icon_v5 {
background-position: -180px -0px;
_background: none;
_padding-left: 180px;
_margin-left: -180px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="//m.tuniucdn.com/fb2/t1/G2/M00/B6/00/Cii-TFhzSaCIRvejAAAMY4eFWGMAAGiuQP_5h4AAAx7235.png");
}

.gopng_icon_v6 {
background-position: -216px -0px;
_background: none;
_padding-left: 216px;
_margin-left: -216px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="//m.tuniucdn.com/fb2/t1/G2/M00/B6/00/Cii-TFhzSaCIRvejAAAMY4eFWGMAAGiuQP_5h4AAAx7235.png");
}

.gopng_icon_v7 {
background-position: -252px -0px;
_background: none;
_padding-left: 252px;
_margin-left: -252px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="//m.tuniucdn.com/fb2/t1/G2/M00/B6/00/Cii-TFhzSaCIRvejAAAMY4eFWGMAAGiuQP_5h4AAAx7235.png");
}
/* line 196, ../sass/index.scss */
.container > .main-content > div#main-header > .header-left > .user-msg > #user-operation a {
  font-size: 12px;
  color: #31bb5f;
}
/* line 199, ../sass/index.scss */
.container > .main-content > div#main-header > .header-left > .user-msg > #user-operation a#personal-page {
  margin-left: 8px;
}
/* line 204, ../sass/index.scss */
.container > .main-content > div#main-header > .header-left > .user-box {
  float: left;
  text-align: center;
  font-size: 12px;
  color: #333333;
  position: absolute;
  top: 29px;
}
#box-left{
  right: 230px;
}
#box-middle {
  right: 130px;
}
#box-right {
  right: 35px;
}
/* line 211, ../sass/index.scss */
.container > .main-content > div#main-header > .header-left > .user-box > p {
  margin-top: 4px;
}
/* line 216, ../sass/index.scss */
.container > .main-content > div#main-header > .header-right {
  float: right;
  width: 33%;
  margin: 40px 14px 20px;
  font-size: 16px;
}
/* line 220, ../sass/index.scss */
.container > .main-content > div#main-header > .header-right > ul li {
  float: left;
  width: 40%;
}
/* line 223, ../sass/index.scss */
.container > .main-content > div#main-header > .header-right > ul li:first-child {
  margin-right: 22px;
}
/* line 226, ../sass/index.scss */
.container > .main-content > div#main-header > .header-right > ul li div {
  margin-bottom: 25px;
  color: #333333;
  position: relative;
}
/* line 229, ../sass/index.scss */
.container > .main-content > div#main-header > .header-right > ul li div > p {
  float: right;
}
/* line 231, ../sass/index.scss */
.container > .main-content > div#main-header > .header-right > ul li div > p > b {
    color: #ff8700;
    font-size: 16px;
    overflow: hidden;
    display: block;
    position: absolute;
    right: 17px;
    width: 60px;
    text-align: right;
    top: 0;
}
/* line 240, ../sass/index.scss */
.container > .main-content > div#main-body {
  width: 100%;
  overflow: auto;
}
/* line 243, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left {
  float: left;
  width: 72%;
}
/* line 246, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div {
  background-color: #fff;
}
/* line 248, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list {
  overflow: auto;
  position: relative;
  padding-bottom: 10px;
}
/* line 251, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list  ul.list-header {
  overflow: auto;
  position: relative;
  z-index: 1;
}
/* line 255, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list  ul.list-header > li {
  float: left;
  padding: 17px 18px;
  font-size: 16px;
  border-top: 3px solid transparent;
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  color: #999999;
  cursor: pointer;
}
/* line 264, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list  ul.list-header > li.focus {
  border-top-color: #4c5a65;
  color: #333333;
  font-weight: 500;
  border-bottom-color: #fff;
}
/* line 270, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list  ul.list-header > li:hover {
  font-weight: 500;
}
/* line 276, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content {
  overflow: auto;
  padding: 10px 3.5% 0;
  border-top: 1px solid #e9e9e9;
  margin-top: -1px;
  position: relative;
  z-index: 0;
}
/* line 283, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li {
/*   margin-bottom: 20px; */
  position: relative;
  padding: 12.5px 0;
  border-top: 1px solid #dddddd;
}
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li:first-child {
  border: none;
}
/* line 292, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > .list-content-left {
  float: left;
  width: 4%;
  margin-top: 3%;
}
/* line 297, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-middle {
  width: 57%;
  margin-left: 1.4%;
  position: relative;
}
/* line 302, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-middle .list-title {
  font-size: 14px;
  color: #333333;
  line-height: 17px;
}
.title-box {
  overflow: hidden;
}
/* line 305, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-middle .list-title:hover {
  text-decoration: underline;
}
/* line 309, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-middle > p.list-content-middle-last {
  font-size: 12px;
  color: #999999;
  width: 100%;
}
/* line 315, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-middle > p.list-content-middle-last > span {
  margin-right: 10px;
}
/* line 317, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-middle > p.list-content-middle-last> span.pay,
.list-content-right > p > span.pay {
  color: #ff6600;
}
/* line 320, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-middle > p.list-content-middle-last > span.command,
.list-content-right > p > span.command {
  color: #32bb60;
}

.list-content-right > p > span {
  font-size: 12px;
  color: #32bb60 !important;
  position: absolute;
  left: 0;
  top: 25px;
}

/* line 329, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-right {
  position: absolute;
  right: 0;
  bottom: 12px;
  height: 100%;
  text-align: right;
  width: 200px;
}
/* line 332, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-right > p:first-child {
  text-align: right;
  color: #ff6600;
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 10px;
}
/* line 338, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-right > p:first-child > sub {
  font-size: 12px;
  font-weight: normal;
  margin-left: 20px;
}
/* line 343, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-right > p.list-content-right-last {
  font-size: 12px;
  display: inline;
  float: right;
}
/* line 346, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-right > p.list-content-right-last > .tag, .page_btn {
  padding: 3px 0;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin: 6px 0 0 10px;
  cursor: pointer;
  width: 75px;
  display: block;
  float: left;
  font-weight: normal;
  height: auto!important;
  line-height: inherit!important;
  background-color: #fff;
  /* color: #32bb60; */
  /* border: 1px solid #32bb60; */
  border: 1px solid #dddddd;
  color: #666666;
}
.page_btn:hover {
  background-color: #fff;
  /* color: #32bb60; */
  color: #666666;
}
/* line 360, ../sass/index.scss */
/* .container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-right > p.list-content-right-last > .tag.pay, .pay-box > .page_btn {
  color: #ff6600;
  border: 1px solid #ff6600;
} */
.pay-box > .page_btn:hover {
  /* color: #ff6600; */
  color: #666666;
}
.page_btn {
  line-height: 20px !important;
}
/* line 364, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-content > li > div.list-content-right > p.list-content-right-last > .tag.connect {
  color: #666666;
  border: 1px solid #dddddd;
}
/* line 375, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-footer {
  font-size: 14px;
  padding: 12px 0;
  text-align: center;
  border-top: 1px solid #dddddd;
  width: 93%;
  position: absolute;
  bottom: 0;
  left: 3.5%;
}
/* line 382, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-footer > a {
  color: #32bb60;
}
/* line 385, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#record-list .list-footer:hover {
  text-decoration: underline;
}
/* line 390, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#guess {
  background-color: #fff;
  padding: 20px 0;
  margin-top: 20px;
}
/* line 395, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#guess > ul > li {
  overflow: auto;
}
#guess-list {
  overflow: auto;
}
/* line 397, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#guess > div#guess-list > div {
  width: 26.8%;
  float: left;
  margin: 17px 3.2% 8px;
}
/* line 401, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#guess > div#guess-list > div:hover {
  box-shadow: 0 0 16px #dddddd;
}
/* line 404, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#guess > div#guess-list > div .guess-header {
  position: relative;
}
/* line 406, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#guess > div#guess-list > div .guess-header > img {
  display: block;
  width: 100%;
}
/* line 410, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#guess > div#guess-list > div .guess-header > .guess-title {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  padding: 4px 5px;
  background-color: #001c2e;
  opacity: 0.6;
  line-height: 18px;
  height: 34px;
  overflow: hidden;
}
/* line 423, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#guess > div#guess-list > div .guess-footer {
  padding: 10px 5px;
  overflow: auto;
  position: relative;
}
/* line 427, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#guess > div#guess-list > div .guess-footer > .guess-price {
  color: #ff6600;
}
/* line 429, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#guess > div#guess-list > div .guess-footer > .guess-price > sub {
  font-size: 12px;
}
/* line 432, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#guess > div#guess-list > div .guess-footer > .guess-price > b {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3px;
}
/* line 438, ../sass/index.scss */
.container > .main-content > div#main-body > .body-left > div#guess > div#guess-list > div .guess-footer > .guess-satisfied {
  font-size: 12px;
  color: #999999;
  position: absolute;
  bottom: 12px;
  right: 5px;
}
/* line 452, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right {
  float: right;
  width: 26.3%;
}
/* line 455, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div {
  background-color: #fff;
}
/* line 457, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-top {
  padding: 20px 0;
  position: relative;
  overflow: hidden;
  height: 292px;
  margin-top: 20px;
}
/* line 463, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-top > ul.recommend {
  position: absolute;
  width: 100%;
}
/* line 466, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-top > ul.recommend.second {
  right: -100%;
}
/* line 469, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-top > ul.recommend > li {
  margin: 10px 0;
}
/* line 472, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-top > ul.recommend > li > div {
  float: left;
  display: block;
  width: 50%;
  text-align: center;
}
/* line 477, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-top > ul.recommend > li > div > p {
  font-size: 14px;
  color: #333333;
  line-height: 17px;
}
/* line 480, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-top > ul.recommend > li > div > p.desc {
  font-size: 12px;
  color: #999999;
}
/* line 489, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-top > ul.recommend-point {
  overflow: auto;
  padding-top: 10px;
  position: absolute;
  width: 100%;
  bottom: 23px;
}
/* line 495, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-top > ul.recommend-point > li {
  float: left;
  width: 7.7%;
  height: 2px;
  background-color: #999999;
  cursor: pointer;
}
/* line 501, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-top > ul.recommend-point > li.focus {
  background-color: #32bb60;
}
/* line 504, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-top > ul.recommend-point > li:first-child {
  margin-right: 2.3%;
  margin-left: 41.2%;
}
/* line 512, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-middle {
  padding: 20px 0;
  margin-top: 20px;
}
/* line 515, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-middle > ul {
  margin: 30px 0 -10px 25px;
}
/* line 517, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-middle > ul > li {
  overflow: auto;
  margin: 20px 0;
}
/* line 520, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-middle > ul > li > div {
  float: left;
  width: 50%;
}
/* line 523, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-middle > ul > li > div > img {
  float: left;
  margin-right: 10px;
}
/* line 528, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-middle > ul > li > div > div {
  float: left;
  font-size: 14px;
}
/* line 531, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-middle > ul > li > div > div:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* line 535, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-middle > ul > li > div > div > p {
  color: #333333;
}
/* line 548, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom {
  padding-top: 20px;
}
/* line 551, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom > ul#right-bottom-tab {
  overflow: auto;
}
/* line 553, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom > ul#right-bottom-tab > li {
  padding: 17px 0;
  width: 49.8%;
  text-align: center;
  border-top: 3px solid transparent;
  font-size: 16px;
  color: #999999;
  float: left;
  border-bottom: 1px solid #e9e9e9;
  cursor: pointer;
}
/* line 563, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom > ul#right-bottom-tab > li:first-child {
  border-right: 1px solid #e9e9e9;
}
/* line 566, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom > ul#right-bottom-tab > li.focus {
  border-top: 3px solid #4c5a65;
  color: #333333;
  border-bottom: 1px solid #fff;
}
/* line 575, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom #collection-list  ul, .container > .main-content > div#main-body > .body-right > div#right-bottom #histroy-list ul {
  padding: 20px 15px 0;
}
/* line 577, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom #collection-list  ul > li, .container > .main-content > div#main-body > .body-right > div#right-bottom #histroy-list ul > li {
  margin-bottom: 20px;
}
/* line 580, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom #collection-list  ul > li > img, .container > .main-content > div#main-body > .body-right > div#right-bottom #histroy-list ul > li > img {
  display: block;
  width: 60px;
  height: 60px;
  float: left;
}
/* line 586, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom #collection-list  ul > li > div, .container > .main-content > div#main-body > .body-right > div#right-bottom #histroy-list ul > li > div {
  float: right;
  width: 70%;
  height: 60px;
  position: relative;
}
/* line 593, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom #collection-list  ul > li > div > p:first-child > a, .container > .main-content > div#main-body > .body-right > div#right-bottom #histroy-list ul > li > div > p:first-child > a {
  color: #333333;
  font-size: 14px;
}
/* line 597, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom #collection-list  ul > li > div > p:first-child:hover, .container > .main-content > div#main-body > .body-right > div#right-bottom #histroy-list ul > li > div > p:first-child:hover {
  text-decoration: underline;
}
/* line 601, ../sass/index.scss */
.collection-price,
.container > .main-content > div#main-body > .body-right > div#right-bottom #histroy-list ul > li > div > p.histroy-price {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 605, ../sass/index.scss */
.collection-price > span:first-child, 
.histroy-price > span:first-child {
  color: #ff6600;
  font-size: 16px;
  font-weight: 500;
}
/* line 609, ../sass/index.scss */
.collection-price > span:first-child > sub, 
.histroy-price > span:first-child > sub {
  font-size: 12px;
}

.collection-price i, 
.histroy-price i {
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-style: normal;
}
/* line 613, ../sass/index.scss */
.collection-price > span.del, 
.histroy-price > span.del {
  color: #dddddd;
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
/* line 626, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom #collection-list > div#col-content > div, .container > .main-content > div#main-body > .body-right > div#right-bottom #histroy-list > div#his-content > div {
  padding: 12px;
  border-top: 1px solid #e9e9e9;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
/* line 632, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom #collection-list > div#col-content > div > a, .container > .main-content > div#main-body > .body-right > div#right-bottom #histroy-list > div#his-content > div > a {
  color: #32bb60;
  font-size: 14px;
}
/* line 635, ../sass/index.scss */
.container > .main-content > div#main-body > .body-right > div#right-bottom #collection-list > div#col-content > div > a:hover, .container > .main-content > div#main-body > .body-right > div#right-bottom #histroy-list > div#his-content > div > a:hover {
  text-decoration: underline;
}

#collection-list li div > p:first-child {
  height: 35px;
  overflow: hidden;
  line-height: 18px;
}

#no-col, #no-his {
  text-align: center;
  font-size: 12px;
  border-top: none !important;
  padding: 20px 0;
  color: #333333;
}

#no-col > img,
#no-his > img {
  width: 40%;
  margin-bottom: 8px;
}

.loading {
  text-align: center;
  font-size: 14px;
  color: #333333;
  padding: 50px;
}

.loading > img {
  width: 15%;
  margin-bottom: 8px;
}

.no-order {
  color: #bababa;
  font-size: 14px;
  text-align: center;
  margin-top: 60px;
}

.no-order img {
  margin-bottom: 10px
}

.no-order a {
  color: #666666!important;
  text-decoration: underline;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

#overlay > .tip-box {
  padding: 20px;
  background-color: #fff;
  width: 260px;
  text-align: center;
  position: relative;
  margin: 15% auto;
  border: 1px solid #999999;
}

#overlay > .tip-box .close {
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(https://ssl4.tuniucdn.com/site/file/ui-lib/layer/skin/default/xubox_ico0.png?v=20141213);
  background-repeat: no-repeat;
  background-position: -6px -8px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#overlay > .tip-box > .tip-text {
  font-size: 16px;
  font-weight: bolder;
  color: #333333;
}

#overlay > .tip-box .operation {
  text-align: center;
  margin: 20px 0 5px;
}

#overlay > .tip-box .btn {
  font-size: 12px;
  padding: 6px 20px;
  text-align: center;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0 10px;
  cursor: pointer;
}

#overlay > .tip-box .btn#sure {
  border: 1px solid #666666;
  color: #666666;
  padding: 6px 27px;
}

#overlay > .tip-box .btn#cancel {
  border: 1px solid #32ba5f;
  color: #32ba5f;
}

.order-opr-btn {
  display: inline;
}
/*途致会员生日提醒浮层*/
.hide,.hidden{
    display: none;
}
#over-lay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url("//img1.tuniucdn.com/site/wap/img/member/newhome/lay-background.png");
    z-index: 10000;
}
#over-lay .remind-tip{
    width: 400px;
    height: 200px;
    border: 1px solid #999;
    position: absolute;
    top:285px;
    left: 750px;
    background: #fff;
    border: 1px solid #E0E0E0;
}
#over-lay .remind-tip > p{
    position: relative;
    color: #999;
    font-size: 18px;
    font-family: "微软雅黑";
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin: 0 auto;
}
#over-lay .remind-tip > p > img{
    position: absolute;
    right:10px;
    top:12px;
    cursor: pointer;
}
#over-lay .remind-tip > div{
    line-height: 22px;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    font-size: 16px;
    color: #747474;
}
#over-lay .remind-tip > div > a{
    display: inline-block;
    margin-top: 20px;
    height: 28px;
    line-height: 28px;
    width: 98px;
    border-radius: 2px;
    font-weight: 600;
    background: #FF8700;
}
#over-lay .remind-tip > div > .do-later{
    color: #4F4F4F;
    background: #fff;
    border: 1px solid #E0E0E0;
}
#over-lay .remind-tip > div > .go-now{
    color: #fff;
    background: #FF8700;
    border: 1px solid #FF8700;
    margin-left: 20px;
}
.birthday-lay{
    width: 470px;
    height: 600px;
    position: absolute;
    top: 200px;
    left: 40%;
}
.birthday-cake{
    position: absolute;
    right: 20px;
}
.close-icon{
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 100;
}
.word-line1{
    position: absolute;
    top: 370px;
    width: 100%;
    text-align: center;
    color: #EBE97B;
    font-size: 20px;
}
.word-line2{
    position: absolute;
    top: 410px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.tuzhi-icon{
    position: absolute;
    width: 25px;
    top: 45px;
    left: 70px;
}
.mainCont .user-info .avatar-overlay{
    z-index: 999;
}

.list-content > li > div {
  display: inline-block;
  *display:inline;
  *zoom:1;
}

.item-desc {
  width: 43.4%;
}

.item-desc > img {
  width: 10%;
  vertical-align: middle;
}

.item-desc > div {
  display: inline-block;
  *display:inline;
  *zoom:1;
  vertical-align: middle;
  width: 83%;
  margin-left: 5%;
}

.item-desc > div > .main-title {
  font-size: 14px;
  color: #333;
}

.item-desc > div > .sub-title {
  font-size: 12px;
  color: #999;
  margin-top: 10px;
}

.item-price, .item-statue, .item-operate {
  width: 18%;
  text-align: center;
  vertical-align: middle;
}

.item-operate {text-align: right;}

.item-price {
  color: #f60;
  font-size: 14px;
}

.item-statue {
  font-size: 14px;
  color: #333;
}

.item-statue .statue-link {
  color: #22c233;
}

.item-statue img {
  width: 15%;
  vertical-align: middle;
}

.item-statue .time {
  vertical-align: middle;
}

.item-operate > .btn {
  display: inline-block;
  width: 68px;
  background-color: #fff;
  border: 1px solid #f80;
  text-align: center;
  color: #f80;
  padding: 3px 0;
  font-size: 12px;
  margin: 5px 0;
}

.item-operate > .btn.orange {
  background-color: #f80;
  color: #fff;
}

.item-operate > .btn.del-order {
  color: #666;
  border-color: #cccccc;
}

#getAllOrder {
  position: absolute;
  right: 25px;
  top: 22px;
  font-size: 14px;
  z-index: 1;
}

#getAllOrder:hover {
  color: #22c233;
}
