.fl{float:left}.detail_menu a.tuniu_wb, .detail_menu a.top_wx, .sitenav_mobile, .login_youji
span{background:url(//ssl1.tuniucdn.com/img/2014040414/index_v4/nav_bg.png) no-repeat}.long_nav_bg{margin:10px
0 0 0;background-color:#2E9900;position:relative;z-index:900}.site_nav{background:#fafafa;border-bottom:1px solid #f1f1f1;height:24px;line-height:24px;padding:2px
0 3px}.site_nav_inner{position:relative;z-index:1000;width:1000px;height:24px;zoom:1;margin:0
auto;font-family:"Hiragino Sans GB",Tahoma,arial,宋体,sans-serif}.login_menu{float:left;color:#ccc;display:inline}.login_menu
li{float:left;display:inline;overflow:visible;height:30px;line-height:30px}.login_menu li
span{color:#444}.login_menu
a{padding:0
5px;color:#404040;text-decoration:none}.login_menu a:link, .login_menu a:visited{padding:0
5px;color:#404040;text-decoration:none}.login_menu
span.user_name{padding:0
8px}.login_menu
.infor_color{color:#666}.login_menu a:hover{color:#f60}.detail_menu{position:absolute;right:0;top:0px;color:#ccc;height:24px}.detail_menu
li{float:left;display:inline;overflow:visible}.detail_menu a,
.detail_menu
span{padding:0
3px;color:#404040}.detail_menu a:link{padding:0
5px;color:#404040;text-decoration:none}.detail_menu
a.sitenav_mobile{background-position:0px -351px;float:left;padding:0
0 0 15px;margin:0
10px 0 0;color:#404040;margin-left:5px}.detail_menu
a.tuniu_wb{background-position:0px -378px;padding:0
0 0 20px;margin:0
3px 0 5px}.detail_menu
a.top_wx{background-position:0 -423px;padding:0
0 2px 25px}.detail_menu a:hover{color:#f60}.weixin_layout{position:relative;float:right;z-index:2000}.weixin_layout.to_hover
.wx_img{display:block;border:1px
solid #4aae00}.weixin_layout
.wx_img{position:absolute;right:0px;display:none;z-index:8}.topWeiXin{position:relative}.wx_pop{display:none;border:1px
solid #4e9700;background-color:#fff;width:299px;position:absolute;right:0;top:28px}.wx_pop
img{display:block}.on
.wx_pop{display:block}.wx_pop .poptip-arrow{font-size:12px;font-style:normal;overflow:hidden;position:absolute}.wx_pop .poptip-arrow-top{height:6px;width:12px;top:-6px;right:8px}.wx_pop .poptip-arrow em, .wx_pop .poptip-arrow
i{font-style:normal;left:0;position:absolute;top:0}.wx_pop .poptip-arrow
em{color:#4E9700}.wx_pop .poptip-arrow-top
em{top:-7px}.wx_pop .poptip-arrow-top
i{top:-6px;color:#fff}.colle_box{border-right:1px solid #ddd;width:305px;height:112px;background:#fff;border-left:1px solid #ddd;border-bottom:1px solid #ddd;display:none;-moz-box-shadow:0px 0px 3px #ccc;-webkit-box-shadow:0px 0px 3px #ccc;box-shadow:0px 0px 3px #ccc;position:absolute;left:0px;top:26px;z-index:999}.on
.colle_box{display:block}.colle_top{height:25px}.colle_top
.left{width:105px;float:left;height:3px}.colle_top
.right{width:295px;border-top:1px solid #ddd;height:3px;float:left;text-align:right;padding-right:10px;padding-top:5px}.colle_bottom{width:300px;margin:0
auto}.colle_bottom
.fl{margin-top:12px}.colle_bottom
.touxiang{float:left;margin-left:10px;margin-right:20px}.colle_bottom .touxiang
a{border-radius:40px;-moz-border-radius:40px;-webkit-border-radius:40px;width:75px;height:75px;display:block;overflow:hidden}.colle_bottom .touxiang
img{width:75px}.vipname_box{position:relative}.vipname{border-left:1px solid #fafafa;position:relative;border-top:1px solid #fafafa;border-right:1px solid #fafafa;display:block;float:left;height:25px;padding-left:10px;padding-right:10px;_margin-top:2px;line-height:23px;*+line-height: 20px;*display:inline;*float:left}.vipname
.login_detail{position:relative;z-index:1000}.poparrow{background:url(//ssl3.tuniucdn.com/img/2014040901/user_center/updown.png) no-repeat;background-position:0px -9px;display:inline-block;height:6px;margin-left:5px;margin-top:10px;width:6px;overflow:hidden}.on
.poparrow{background-position:0 0}.login_menu .vip, .login_menu .vip_stage
.vip_lel{background:url(//ssl1.tuniucdn.com/img/2014060117/common/site_nav_vip.png) 0 0 no-repeat}.login_menu .vip_stage
.vip_lel{display:block;width:41px;height:15px;margin-bottom:6px}.login_menu .vip_stage
.vip_lel0{background-position:0 0px}.login_menu .vip_stage
.vip_lel1{background-position:0 -15px}.login_menu .vip_stage
.vip_lel2{background-position:0 -31px}.login_menu .vip_stage
.vip_lel3{background-position:0 -47px}.login_menu .vip_stage
.vip_lel4{background-position:0 -63px}.login_menu .vip_stage
.vip_lel5{background-position:0 -79px}.login_menu .vip_stage
.vip_lel6{background-position:0 -95px}.login_menu .vip_stage
.vip_lel7{background-position:0 -111px}.login_menu .vip_stage
.vip_lel_word{background-position:0 -279px}.login_menu
.vip{width:41px;height:15px;float:left;margin-top:7px;margin-left:5px}.login_menu
.vip0{background-position:0 0px}.login_menu
.vip1{background-position:0 -15px}.login_menu
.vip2{background-position:0 -31px}.login_menu
.vip3{background-position:0 -47px}.login_menu
.vip4{background-position:0 -63px}.login_menu
.vip5{background-position:0 -79px}.login_menu
.vip6{background-position:0 -95px}.login_menu
.vip7{background-position:0 -111px}.login_menu
.vip_word{background-position:0 -254px;width:20px}.float_tt{border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;border-top:1px solid #fff;background:#fff;-moz-box-shadow:0px -2px 3px #ccc;-webkit-box-shadow:0px -2px 3px #ccc;box-shadow:0px -2px 3px #ccc;position:relative;z-index:1003;height:26px;_height:25px}.detail_menu
a.phone{background:url(//ssl.tuniucdn.com/img/20140415/index_v4/nav_bg.png) 0 0 no-repeat;background-position:0 -104px;color:#F80 !important;cursor:default;font-family:"Hiragino Sans GB",Tahoma;font-size:14px;font-weight:600;margin-left:6px;padding:2px
0 0 22px !important;position:relative;top:1px}.taxCompany{background:url(//ssl3.tuniucdn.com/img/20141224/tax_rebate/company.jpg) no-repeat center;height:136px;margin-bottom:25px}a.wsdCard{background:url(//ssl.tuniucdn.com/img/20151012/tax_rebate/wsdCard_10_12.jpg) no-repeat center;height:136px;margin:35px
auto;display:block}.rulesWarp{width:976px;margin:0
auto;border:10px
solid #ecf9e1;background:url(//ssl.tuniucdn.com/img/20151012/tax_rebate/rulesBg_10_12.jpg) no-repeat center top;font-family:'微软雅黑';font-size:14px;line-height:24px;color:#333}.rules{color:#666;padding:120px
40px 20px}.rules
h3{font-size:16px;font-weight:bold}.backRebate{color:#2e9900;font-size:14px;margin-left:100px;line-height:35px;text-decoration:none}.orange{color:#f63}.red{color:#c33}.ft16{font-size:16px}.f-backRebate{color:#2e9900;font-size:14px;line-height:35px;text-decoration:none}.tuniu_vip{background:url(//ssl.tuniucdn.com/img/2014060117/common/site_nav_vip.png) 0 0 no-repeat}.tuniu_vip{width:41px;height:15px;display:inline-block;margin-right:5px;vertical-align:-2px}.tuniu_vip0{background-position:0 0px}.tuniu_vip1{background-position:0 -15px}.tuniu_vip2{background-position:0 -31px}.tuniu_vip3{background-position:0 -47px}.tuniu_vip4{background-position:0 -63px}.tuniu_vip5{background-position:0 -79px}.tuniu_vip6{background-position:0 -95px}.tuniu_vip7{background-position:0 -111px}.tuniu_vip_word{background-position:0 -254px;width:20px}.icon_hot{background-position:-61px -9px;width:11px;height:11px}.icon_new{background-position:-41px -9px;width:11px;height:11px}.siteMap_panel{width:988px}.siteMap_panel
dt{padding:0
22px}.header_top
.header_inner{width:990px;z-index:1100}.index1200 .header_top
.header_inner{width:1190px}.index1200 .header_nav
.nav_subMenu{width:990px}.index1200
.siteMap_panel{width:1188px}.index1200 .siteMap_panel
dt{padding:0
40px}.index_top_nav .item_hover
.dropdown_panel{display:block}.siteMap_panel{display:none;z-index:1000;position:absolute;top:40px;left:0px;border:1px
solid #eee;background:#fff;border-top:none;padding:28px
0 30px;line-height:1;box-shadow:2px 2px 2px #F7F7F7}.siteMap_panel
.tour{border-left:none;color:#2e9900;background:none}.siteMap_panel
.discount{color:#f69100}.siteMap_panel
.guide{color:#02609d}.siteMap_panel
.service{color:#bf4b56}.siteMap_panel
dt{font-size:16px;float:left;border-left:1px solid #f5f5f5;height:190px;font-weight:bold}.siteMap_panel
dd{font-size:12px;color:#666;float:left}.siteMap_panel dd
ul{float:left;width:100px}.siteMap_panel dd ul
li{margin-bottom:16px;overflow:visible}.siteMap_panel dd ul li
a{position:relative;padding-right:16px}.siteMap_panel .icon_hot,
.siteMap_panel
.icon_new{position:absolute;top:3px;right:0px}