body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}
li {
    overflow: hidden
}
body {
    font-size: 12px;
    text-align: center
}
fieldset,
img {
    border: 0
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
    font-style: normal;
    font-weight: 400
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400
}
abbr,
acronym {
    border: 0;
    font-variant: normal
}
input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}
ol,
ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption,
th {
    text-align: left
}
sup,
sub {
    font-size: 100%;
    vertical-align: baseline
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}
.clearfix {
    zoom: 1
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
code,
kbd,
samp,
tt,
input,
button,
textarea,
select {
    font-size: 100%
}
:link,
:visited,
ins,
a {
    text-decoration: none
}
:focus {
    outline: 0 none
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
    border: 0;
    padding: 0
}
*html,
*html body {
    background-attachment: fixed
}
body {
    background-color: #fff;
    font-size: 12px;
    line-height: 1.5;
    font-family: "Hiragino Sans GB", Tahoma, arial, 宋体, sans-serif;
    color: #404040;
    text-align: left
}
a {
    color: #404040
}
.f_yh {
    font-family: '微软雅黑'
}
.f12 {
    font-size: 12px
}
.f14 {
    font-size: 14px
}
.f16 {
    font-size: 16px
}
.f18 {
    font-size: 18px
}
.f20 {
    font-size: 20px
}
.fb {
    font-weight: 700
}
.f_f00 {
    color: #f00
}
.f_666 {
    color: #666
}
.f_c30 {
    color: #c30
}
.f_4e9700 {
    color: #4e9700
}
.f_4e9700:hover {
    color: #f60
}
.f_f60 {
    color: #f60!important
}
.f_0053aa {
    color: #0053aa
}
.f_f00 {
    color: #f00
}
.f_005bb5 {
    color: #005bb5
}
.c_green {
    color: #4e9700
}
.fl {
    float: left
}
.fr {
    float: right
}
.mb_5 {
    margin-bottom: 5px
}
.mb_10 {
    margin-bottom: 10px
}
.ml_10 {
    margin-left: 10px
}
.mr_10 {
    margin-right: 10px
}
.mt_5 {
    margin-top: 5px
}
.mt_10 {
    margin-top: 10px
}
.mb_20 {
    margin-bottom: 20px
}
.mt_-40 {
    margin-top: -40px
}
.mt_-50 {
    margin-top: -50px
}
.m-180 {
    margin: 0 0 0 -180px
}
.pd_10 {
    padding: 10px
}
.pt_2 {
    padding-top: 2px
}
.pt_4 {
    padding-top: 4px
}
.pt_5 {
    padding-top: 5px
}
.pr_3 {
    padding-right: 3px
}
.pt_8 {
    padding-top: 8px
}
.pr_10 {
    padding-right: 10px
}
.pt_10 {
    padding-top: 10px
}
.pl_10 {
    padding-left: 10px
}
.w190 {
    width: 190px
}
.w290 {
    width: 290px
}
.w700 {
    width: 700px
}
.w800 {
    width: 800px
}
.txt_lt {
    text-decoration: line-through
}
.lh1_4 {
    line-height: 1.4
}
.baidu_share {
    float: right;
    width: auto;
    line-height: 15px
}
.search_nav {
    margin: 10px 0 5px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle
}
.search_nav {
    zoom: 1
}
.search_nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.search_nav .crumbs {
    float: left
}
.search_nav .crumbs a {
    color: #404040;
    padding: 0 5px
}
.search_nav .crumbs a:hover {
    color: #4e9700
}
.search_nav h1 {
    float: left;
    padding-left: 5px
}
.zb_tour_identf,
.cj_tour_identf,
.gn_tour_identf,
.gt_tour_identf,
.zzy_tour_identf,
.gs_tour_identf,
.jd_tour_identf,
.qz_tour_identf,
.dd_tour_identf,
.zjy_tour_identf,
.yl_tour_identf {
    padding: 0 1px;
    margin: 0 5px 0 0
}
.zb_tour_identf {
    border: 1px dashed #e70f47;
    color: #e70f47
}
.cj_tour_identf {
    border: 1px dashed #00a8e1;
    color: #00a8e1
}
.gn_tour_identf {
    border: 1px dashed #cd66cc;
    color: #cd66cc
}
.gt_tour_identf {
    border: 1px dashed #fa943e;
    color: #fa943e
}
.zzy_tour_identf {
    border: 1px dashed #77b800;
    color: #77b800
}
.gs_tour_identf {
    border: 1px dashed #2bc4b6;
    color: #2bc4b6
}
.jd_tour_identf {
    border: 1px dashed #6c3a77;
    color: #6c3a77
}
.qz_tour_identf {
    border: 1px dashed #fd2caa;
    color: #fd2caa
}
.dd_tour_identf {
    border: 1px dashed #be9272;
    color: #be9272
}
.zjy_tour_identf {
    border: 1px dashed #8d6cd1;
    color: #8d6cd1
}
.yl_tour_identf {
    border: 1px dashed #0078c9;
    color: #0078c9
}
.backToTop,
.esq_over,
.add_scroll,
.sdd_advice,
.add_weChat,
.add_app {
    background: url(https://ssl2.tuniucdn.com/img/20140417/common/right_suspension.png) no-repeat
}
.right_scroll {
    width: 40px;
    height: 180px;
    position: fixed;
    _position: absolute;
    right: 20px;
    bottom: 0;
    _bottom: "auto"
}
.backToTop {
    display: block;
    width: 40px;
    height: 40px;
    background-position: 0 -135px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px
}
.backToTop:hover {
    background-position: -50px -135px
}
.esq {
    display: block;
    width: 46px;
    height: 117px;
    background: url(/img/20131120/common/esq_new.gif) no-repeat;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin: 0 0 5px 0
}
.zaixiankefu {
    display: block;
    width: 46px;
    height: 117px;
    background: url(/img/20131120/common/esq_new.gif) no-repeat;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin: 0 0 5px 0
}
.esq_over {
    width: 40px;
    height: 40px;
    background-position: -150px 0
}
.esq_over:hover {
    background-position: -50px 0
}
#bdshare {
    z-index: 100!important
}
.add_scroll {
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin: 0 0 5px 0
}
.add_scroll {
    background-position: 0 -89px
}
.add_scroll:hover {
    background-position: -50px -89px
}
.sdd_advice {
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin: 0 0 5px 0;
    background-position: 0 -182px
}
.sdd_advice:hover {
    background-position: -50px -182px
}
.add_weChat {
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin: 0 0 5px 0;
    background-position: 0 -229px
}
.add_weChat:hover {
    background-position: -50px -229px
}
.add_app {
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin: 0 0 5px 0;
    background-position: 0 -276px
}
.add_app:hover {
    background-position: -50px -276px
}
.weChat_pop {
    width: 101px;
    height: 130px;
    border: 1px solid #e4e4e4;
    padding: 10px 0 0 3px;
    background: #fff;
    display: none
}
.list_view .icon_nrzx,
.list_view .icon_remai,
.list_view .icon_tuijian,
.list_view .icon_tejia,
.list_view .icon_bashi,
.list_view .icon_nrzz,
.list_view .icon_nrgt,
.list_view .icon_zjy {
    background: url(https://ssl3.tuniucdn.com/img/20140417/common/icon_tuniu.png) no-repeat;
    text-indent: -20000em;
    position: absolute;
    left: 2px;
    top: 17px;
    z-index: 1
}
.list_view .icon_nrzx {
    background-position: 0 0;
    width: 62px;
    height: 66px
}
.list_view .icon_remai {
    background-position: 0 -66px;
    width: 52px;
    height: 54px
}
.list_view .icon_tuijian {
    background-position: 0 -119px;
    width: 52px;
    height: 54px
}
.list_view .icon_tejia {
    background-position: 0 -174px;
    width: 52px;
    height: 54px
}
.list_view .icon_bashi {
    background-position: 0 -228px;
    width: 66px;
    height: 68px
}
.list_view .icon_nrzz {
    background-position: 0 -297px;
    width: 63px;
    height: 65px
}
.list_view .icon_nrgt {
    background-position: 0 -362px;
    width: 63px;
    height: 65px
}
.list_view .icon_zjy {
    background-position: 0 -427px;
    width: 63px;
    height: 65px
}
.nrgt_prom_ico,
.nrzx_prom_ico,
.rm_prom_ico,
.tj_prom_ico,
.xsyh_prom_ico,
.zjy_prom_ico,
.nrzz_prom_ico,
.bszz_prom_ico,
.nrzx_prom_ico,
.tjian_prom_ico,
.wifi_prom_icon,
.xh_prom_icon {
    background: url(https://ssl2.tuniucdn.com/img/20140417/common/icon_tuniu.png) no-repeat;
    display: inline-block;
    height: 15px;
    text-indent: -20000em;
    overflow: hidden;
    _zoom: 1
}
.nrgt_prom_ico {
    background-position: 0 -507px;
    width: 76px;
    margin-left: 2px
}
.nrzx_prom_ico {
    background-position: 0 -522px;
    width: 76px;
    margin-left: 2px
}
.rm_prom_ico {
    background-position: 0 -537px;
    width: 46px;
    margin-left: 2px
}
.tj_prom_ico {
    background-position: 0 -552px;
    width: 47px;
    margin-left: 2px
}
.tjian_prom_ico {
    background-position: 0 -567px;
    width: 47px;
    margin-left: 2px
}
.xsyh_prom_ico {
    background-position: 0 -582px;
    width: 76px;
    margin-left: 2px
}
.zjy_prom_ico {
    background-position: 0 -597px;
    width: 60px;
    margin-left: 2px
}
.nrzz_prom_ico {
    background-position: 0 -612px;
    width: 76px;
    margin-left: 2px
}
.bszz_prom_ico {
    background-position: 0 -627px;
    width: 85px;
    margin-left: 2px
}
.wifi_prom_icon {
    background-position: 0 -657px;
    width: 73px;
    margin-left: 2px
}
.xh_prom_icon {
    background-position: 0 -672px;
    width: 47px;
    margin-left: 2px
}
@font-face {
    font-family: 'tn_fontface';
    src: url('//ssl1.tuniucdn.com/site/css/common/fonts_v2/icomoon.eot?87wisk');
    src: url('//ssl2.tuniucdn.com/site/css/common/fonts_v2/icomoon.eot?#iefix87wisk') format('embedded-opentype'), url('//ssl3.tuniucdn.com/site/css/common/fonts_v2/icomoon.woff?87wisk') format('woff'), url('//ssl4.tuniucdn.com/site/css/common/fonts_v2/icomoon.ttf?87wisk') format('truetype'), url('//ssl1.tuniucdn.com/site/css/common/fonts_v2/icomoon.svg?87wisk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal
}
.tn_fontface {
    font-family: 'tn_fontface';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.fl {
    float: left
}
.detail_menu a.tuniu_wb,
.detail_menu a.top_wx,
.sitenav_mobile,
.login_youji span {
    background: url(https://ssl2.tuniucdn.com/img/2014040414/common/nav_bg.png) no-repeat
}
.long_nav_bg {
    margin: 10px 0 0 0;
    background-color: #2e9900;
    position: relative;
    z-index: 900
}
.site_nav {
    background: #fafafa;
    border-bottom: 1px solid #f1f1f1;
    height: 24px;
    line-height: 24px;
    padding: 2px 0 3px
}
.site_nav_inner {
    position: relative;
    z-index: 1000;
    width: 1000px;
    height: 24px;
    zoom: 1;
    margin: 0 auto;
    font-family: "Hiragino Sans GB", Tahoma, arial, 宋体, sans-serif
}
.login_menu {
    float: left;
    color: #ccc;
    display: inline
}
.login_menu li {
    float: left;
    display: inline;
    overflow: visible;
    height: 30px;
    line-height: 30px
}
.login_menu li span {
    color: #444
}
.login_menu a {
    padding: 0 5px;
    color: #404040;
    text-decoration: none
}
.login_menu a:link,
.login_menu a:visited {
    padding: 0 5px;
    color: #404040;
    text-decoration: none
}
.login_menu span.user_name {
    padding: 0 8px
}
.login_menu .infor_color {
    color: #666
}
.login_menu a:hover {
    color: #f60
}
.detail_menu {
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
    height: 24px
}
.detail_menu li {
    float: left;
    display: inline;
    overflow: visible
}
.detail_menu a,
.detail_menu span {
    padding: 0 3px;
    color: #404040
}
.detail_menu a:link {
    padding: 0 5px;
    color: #404040;
    text-decoration: none
}
.detail_menu a.sitenav_mobile {
    background-position: 0 -351px;
    float: left;
    padding: 0 0 0 15px;
    margin: 0 10px 0 0;
    color: #404040;
    margin-left: 5px
}
.detail_menu a.tuniu_wb {
    background-position: 0 -378px;
    padding: 0 0 0 20px;
    margin: 0 3px 0 5px
}
.detail_menu a.top_wx {
    background-position: 0 -423px;
    padding: 0 0 2px 25px
}
.detail_menu a:hover {
    color: #f60
}
.weixin_layout {
    position: relative;
    float: right;
    z-index: 2000
}
.weixin_layout.to_hover .wx_img {
    display: block;
    border: 1px solid #4aae00
}
.weixin_layout .wx_img {
    position: absolute;
    right: 0;
    display: none;
    z-index: 8
}
.topWeiXin {
    position: relative
}
.wx_pop {
    display: none;
    border: 1px solid #4e9700;
    background-color: #fff;
    width: 299px;
    position: absolute;
    right: 0;
    top: 28px
}
.wx_pop img {
    display: block
}
.on .wx_pop {
    display: block
}
.wx_pop .poptip-arrow {
    font-size: 12px;
    font-style: normal;
    overflow: hidden;
    position: absolute
}
.wx_pop .poptip-arrow-top {
    height: 6px;
    width: 12px;
    top: -6px;
    right: 8px
}
.wx_pop .poptip-arrow em,
.wx_pop .poptip-arrow i {
    font-style: normal;
    left: 0;
    position: absolute;
    top: 0
}
.wx_pop .poptip-arrow em {
    color: #4e9700
}
.wx_pop .poptip-arrow-top em {
    top: -7px
}
.wx_pop .poptip-arrow-top i {
    top: -6px;
    color: #fff
}
.colle_box {
    border-right: 1px solid #ddd;
    width: 305px;
    height: 112px;
    background: #fff;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: none;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    position: absolute;
    left: 0;
    top: 26px;
    z-index: 999
}
.on .colle_box {
    display: block
}
.colle_top {
    height: 25px
}
.colle_top .left {
    width: 105px;
    float: left;
    height: 3px
}
.colle_top .right {
    width: 295px;
    border-top: 1px solid #ddd;
    height: 3px;
    float: left;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px
}
.colle_bottom {
    width: 300px;
    margin: 0 auto
}
.colle_bottom .fl {
    margin-top: 12px
}
.colle_bottom .touxiang {
    float: left;
    margin-left: 10px;
    margin-right: 20px
}
.colle_bottom .touxiang a {
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    width: 75px;
    height: 75px;
    display: block;
    overflow: hidden
}
.colle_bottom .touxiang img {
    width: 75px
}
.vipname_box {
    position: relative
}
.vipname {
    border-left: 1px solid #fafafa;
    position: relative;
    border-top: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
    display: block;
    float: left;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    _margin-top: 2px;
    line-height: 23px;
    *+line-height: 20px;
    *display: inline;
    *float: left
}
.vipname .login_detail {
    position: relative;
    z-index: 1000
}
.poparrow {
    background: url(https://ssl1.tuniucdn.com/img/2014040901/user_center/updown.png) no-repeat;
    background-position: 0 -9px;
    display: inline-block;
    height: 6px;
    margin-left: 5px;
    margin-top: 10px;
    width: 6px;
    overflow: hidden
}
.on .poparrow {
    background-position: 0 0
}
.login_menu .vip,
.login_menu .vip_stage .vip_lel {
    background: url(https://ssl1.tuniucdn.com/img/20140520/common/site_nav_vip.png) 0 0 no-repeat
}
.login_menu .vip_stage .vip_lel {
    display: block;
    width: 41px;
    height: 18px;
    margin-bottom: 6px
}
.login_menu .vip_stage .vip_lel1 {
    background-position: 0 -123px
}
.login_menu .vip_stage .vip_lel2 {
    background-position: 0 -145px
}
.login_menu .vip_stage .vip_lel3 {
    background-position: 0 -168px
}
.login_menu .vip_stage .vip_lel4 {
    background-position: 0 -192px
}
.login_menu .vip_stage .vip_lel5 {
    background-position: 0 -214px
}
.login_menu .vip_stage .vip_lel6 {
    background-position: 0 -236px
}
.login_menu .vip_stage .vip_lel_word {
    background-position: 0 -279px
}
.login_menu .vip {
    width: 35px;
    height: 16px;
    float: left;
    margin-top: 3px;
    margin-left: 5px
}
.login_menu .vip1 {
    background-position: 0 1px
}
.login_menu .vip2 {
    background-position: 0 -19px
}
.login_menu .vip3 {
    background-position: 0 -39px
}
.login_menu .vip4 {
    background-position: 0 -58px
}
.login_menu .vip5 {
    background-position: 0 -79px
}
.login_menu .vip_word {
    background-position: 0 -254px;
    width: 20px
}
.float_tt {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-top: 1px solid #fff;
    background: #fff;
    -moz-box-shadow: 0 -2px 3px #ccc;
    -webkit-box-shadow: 0 -2px 3px #ccc;
    box-shadow: 0 -2px 3px #ccc;
    position: relative;
    z-index: 1003;
    height: 26px;
    _height: 25px
}
.detail_menu a.phone {
    background: url(https://ssl3.tuniucdn.com/img/20140415/index/nav_bg.png) 0 0 no-repeat;
    background-position: 0 -104px;
    color: #F80!important;
    cursor: default;
    font-family: "Hiragino Sans GB", Tahoma;
    font-size: 14px;
    font-weight: 600;
    margin-left: 6px;
    padding: 2px 0 0 22px!important;
    position: relative;
    top: 1px
}
.taxCompany {
    background: url(https://ssl1.tuniucdn.com/img/20141224/tax_rebate/company.jpg) no-repeat center;
    height: 136px;
    margin-bottom: 25px
}
a.wsdCard {
    background: url(https://ssl1.tuniucdn.com/img/20150120/tax_rebate/wsdCard.jpg) no-repeat center;
    height: 136px;
    margin: 35px auto;
    display: block
}
.rulesWarp {
    width: 976px;
    margin: 0 auto;
    border: 10px solid #ecf9e1;
    background: url(https://ssl1.tuniucdn.com/img/20141222/tax_rebate/rulesBg.jpg) no-repeat center top;
    font-family: '微软雅黑';
    font-size: 14px;
    line-height: 24px;
    color: #333
}
.rules {
    color: #666;
    padding: 120px 40px 20px
}
.rules h3 {
    font-size: 16px;
    font-weight: bold
}
.backRebate {
    color: #2e9900;
    font-size: 14px;
    margin-left: 100px;
    line-height: 35px;
    text-decoration: none
}
.orange {
    color: #f63
}
.red {
    color: #c33
}
.ft16 {
    font-size: 16px
}
.f-backRebate {
    color: #2e9900;
    font-size: 14px;
    line-height: 35px;
    text-decoration: none
}
body {
    width: 100%;
    height: 100%;
    background: url(https://ssl1.tuniucdn.com/img/20140916/register_v2/register_bg.jpg) no-repeat center top
}
.fl {
    float: left
}
.fr {
    float: right
}
.f_f60 {
    color: #f60
}
.f_3e7a12 {
    color: #f60;
    text-decoration: none;
    font-size: 16px;
    margin-left: 5px
}
.f_f999 {
    color: #999
}
.f_f666 {
    color: #666
}
.c_f80 {
    color: #f80;
    margin-left: 10px;
    text-decoration: underline
}
.mt20 {
    margin-top: 20px
}
.ml10 {
    margin-left: 10px
}
.mb10 {
    margin-bottom: 10px
}
.mb30 {
    margin-bottom: 30px
}
.mb35 {
    margin-bottom: 35px
}
.hide {
    display: none
}
.input-list li {
    clear: both;
    zoom: 1;
    overflow: visible
}
.input-list li:after {
    content: "";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden
}
.tac {
    text-align: center
}
.green {
    color: #4e9700;
    font-weight: bold
}
.cgreen {
    color: #4e9700
}
.cgreen:hover {
    color: #f60
}
.red {
    color: #F00;
    margin-right: 5px
}
.hidden {
    visibility: hidden
}
.index1200 .site_nav_inner {
    width: 1200px
}
.head_bg {
    height: 100px;
    width: 100%;
    background: #fff;
    border-bottom: 3px solid #2e9900
}
.header {
    width: 1000px;
    height: 100px;
    margin: 0 auto
}
.index1200 .header {
    width: 1200px
}
.header .logo {
    height: 61px;
    padding: 18px 0 0
}
.header .logocon {
    float: left;
    margin-right: 15px
}
.header .head_tip {
    float: left;
    font: 24px/47px "microsoft yahei";
    color: #333;
    height: 47px;
    border-left: 1px solid #efefef;
    padding-left: 20px;
    position: relative;
    top: 10px
}
.main_top {
    height: 45px;
    padding-top: 30px;
    position: relative;
    font-family: "microsoft yahei"
}
.main_top_l {
    float: left;
    color: #fff;
    font-size: 20px
}
.main_top_l span {
    font-size: 16px;
    color: #fff96f;
    margin-left: 15px
}
.decoration {
    display: inline-block;
    width: 132px;
    height: 65px;
    background: url(https://ssl1.tuniucdn.com/img/20140915/register_v2/decoration.png) no-repeat;
    position: absolute;
    top: -3px;
    left: 311px;
    _display: none
}
.main_top_r {
    float: right;
    font-size: 14px;
    color: #fff
}
.main_top_r a {
    border: 1px solid #fff;
    margin-left: 10px;
    padding: 1px 10px;
    color: #fff
}
.allWrap {
    width: 1200px;
    margin: 0 auto;
    font-family: "microsoft yahei";
    font-size: 14px
}
.index1000 .allWrap {
    width: 1000px
}
.reg-wrap {
    width: 1200px;
    height: 548px;
    overflow: hidden;
    position: relative
}
.index1000 .reg-wrap {
    width: 1000px
}
.mainPart {
    width: 400%;
    height: 548px;
    position: relative;
    left: 0
}
.main_item {
    padding-left: 320px;
    float: left;
    width: 880px;
    background: #fff;
    height: 483px
}
label.label_radio1,label.label_radio2{
    position: relative;
    padding-left: 18px;
    cursor: pointer;
}
label.label_radio1{
    margin-left: 128px;
}
label.label_radio2{
    margin-left: 150px;
}
label.label_radio1 input,label.label_radio2 input{
    position: absolute;
    top: 3px;
    left: 0;
    margin: 0;
    padding: 0;
}
.index1000 .main_item {
    padding-left: 220px;
    width: 780px
}
.user-reg {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background: #fff;
    height: 608px
}
.index1000 .user-reg {
    width: 1000px;
    margin: 0 auto 30px;
    position: relative
}
.step {
    width: 560px;
    height: 45px;
    background: url(https://ssl2.tuniucdn.com/img/20140915/register_v2/step.png) no-repeat;
    margin-bottom: 60px
}
.step1 {
    background-position: 0 0
}
.step2 {
    background-position: 0 -50px
}
.step3 {
    background-position: 0 -100px
}
ul.mainCon {
    min-height: 120px;
    _height: 220px;
    margin-left: 45px
}
.input {
    padding: 6px 0;
    float: left;
    vertical-align: middle;
    font-family: "microsoft yahei";
    margin-right: 10px
}
.input label {
    display: inline-block;
    width: 75px;
    color: #333;
    font-size: 14px;
    text-align: right;
    height: 34px;
    line-height: 28px;
    padding: 2px 0
}
input.txt-m,
span.txt-m {
    height: 28px;
    line-height: 28px;
    padding: 2px 3px;
    padding-left: 15px;
    border: 1px solid #dedede;
    color: #666;
    width: 292px;
    font-size: 14px
}
span.txt-m {
    display: inline-block
}
.identify_code {
    width: 202px;
    height: 28px;
    line-height: 28px;
    border: 0 none
}
.identify_con img {
    vertical-align: middle
}
input.txt_grey {
    color: #999
}
.green {
    color: #43b313
}
input.cgrey {
    color: #ccc;
    text-align: right
}
input.txt-m.error {
    border: 1px solid #ff7f00
}
.input-tip {
    width: 220px;
    height: 49px;
    float: left;
    vertical-align: middle;
    display: table;
    position: relative
}
.input-tip div {
    *position: absolute;
    top: 50%;
    display: table-cell;
    vertical-align: middle;
    width: 100%
}
.input-tip ul {
    background: #fafafa;
    border: 1px solid #e9e9e9;
    width: 220px;
    padding: 10px
}
.input-tip span {
    display: inline-block;
    position: relative;
    top: -50%;
    margin: 0;
    padding: 0
}
.reg_mes {
    display: inline-block;
    background: url(https://ssl1.tuniucdn.com/img/20140915/register_v2/register_themes.png) no-repeat;
    width: 313px
}
.login_btn {
    display: inline-block;
    height: 40px;
    width: 312px;
    line-height: 40px;
    text-align: center;
    font: 18px "微软雅黑";
    color: #fffeff;
    border: 0 none;
    cursor: pointer;
    background: #ff9218;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}
.login_btn:hover {
    background: #f80
}
input.login_btn:disabled {
    background: #999
}
.login_btn_gray {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font: 18px "微软雅黑";
    color: #fff;
    border: 0 none;
    cursor: pointer;
    background: #999;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}
.submit_input {
    width: 500px
}
.submit_input .submit_btn {
    margin-right: 10px
}
#tel-tip {
    width: 300px
}
.mainCon h1 {
    font-size: 20px;
    font-family: "微软雅黑";
    margin: 0 0 30px 80px
}
.err {
    background: url(https://ssl1.tuniucdn.com/img/20140915/register_v2/err.png) no-repeat;
    background-position: 0 50%;
    padding-left: 25px
}
.ok {
    background: url(https://ssl4.tuniucdn.com/img/20140915/register_v2/ok.png) no-repeat;
    background-position: 0 50%;
    padding-left: 25px
}
.reg-check {
    padding: 5px 0 0 120px;
    color: #333;
    margin-bottom: 15px
}
li .reg-check {
    padding-left: 75px
}
.reg-check input {
    *position: relative;
    *top: -3px
}
#travel-info {
    margin-right: 5px
}
#password-strength {
    float: left;
    display: block;
    width: 188px;
    height: 49px;
    overflow: hidden;
    background: url(https://ssl1.tuniucdn.com/img/20140915/register_v2/register_themes.png) no-repeat;
    margin-right: 5px;
    display: none
}
#password-strength-inner {
    overflow: hidden
}
.indentify-change {
    color: #999;
    text-decoration: none
}
.indentify-change:link:hover {
    text-decoration: underline
}
.mes_phone {
    height: 35px;
    background-position: 0 0
}
.mes_pass {
    height: 23px;
    background-position: 0 -90px
}
.mes_pass_weak {
    height: 35px;
    background-position: 0 -128px
}
.mes_pass_in {
    height: 35px;
    background-position: 0 -166px
}
.mes_pass_strong {
    height: 35px;
    background-position: 0 -204px
}
.a_title {
    text-align: right;
    position: relative
}
.a_title a {
    display: inline-block;
    width: 50%;
    height: 60px;
    line-height: 60px;
    float: left;
    text-align: center;
    color: #89c86f;
    font-size: 22px;
    background: #e6f7df;
    position: relative
}
.a_title .page_cur {
    background: #43b413;
    color: #fff
}
.a_title.poptip-arrow-top {
    height: 6px;
    right: 8px;
    top: -6px;
    width: 12px
}
.a_title .poptip-arrow {
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    position: absolute;
    z-index: 10;
    width: 20px;
    height: 20px;
    bottom: -12px;
    line-height: 20px;
    left: 48%;
    display: none
}
.page_cur .poptip-arrow {
    display: block;
    color: #43b413
}
.top_tip {
    text-align: right;
    color: #404040;
    display: inline-block;
    margin: -10px 0 15px;
    _margin-top: 0
}
.title_oneStep .top_tip {
    margin: 0;
    position: absolute;
    bottom: 12px;
    right: 0
}
.top_tip b {
    color: #f60;
    font-weight: 400
}
.input_succ {
    margin-left: 82px
}
.input_succ_phone {
    margin-left: 56px
}
.logintextarea {
    height: 300px;
    max-height: 300px;
    outline: medium none;
    overflow-y: scroll;
    resize: none;
    margin: 0 0 0 20px;
    line-height: 22px;
    padding: 10px 20px
}
.sc_title {
    color: #000;
    text-align: center;
    font-weight: bold
}
.sc_list {
    margin: 10px 0
}
#sendTip {
    color: #333;
    margin-left: 15px;
    font-size: 16px;
    font-weight: normal;
    background: url(https://ssl1.tuniucdn.com/img/20140915/register_v2/ok.png) no-repeat 5px 3px;
    padding-left: 30px;
    display: inline-block
}
#send_again_60_second {
    width: 115px;
    height: 28px;
    line-height: 28px;
    background: #fafafa;
    border: 1px solid #e9e9e9;
    color: #333;
    font-size: 14px;
    display: none
}
.verify-box2 {
    width: 100%;
    height: 310px;
    margin-top: 30px
}
.verify-box2 li {
    margin-bottom: 30px
}
.verify-box2_3 {
    margin: 0 0 30px 32px
}
.verify-box2_3 .submit_btn {
    width: 185px
}
.verify-box2 li label {
    color: #333;
    width: 100px;
    text-align: right;
    display: inline-block;
    font-size: 14px
}
.verify-box2 .num {
    font-size: 16px;
    color: #666
}
input.m-verify-code {
    width: 292px;
    margin-right: 20px;
    padding-left: 15px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #dedede
}
.sendToPhone {
    display: inline-block;
    width: 112px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background: #fafafa;
    border: 1px solid #e9e9e9;
    border-radius: 1px
}
.sendToPhone:hover {
    background: #f3f3f3
}
.fanhui {
    display: inline-block;
    font-size: 14px;
    color: #43b313;
    margin-left: 20px
}
.clickBtn {
    display: inline-block;
    border: 1px solid #ffba8c;
    background: #fff3e6;
    color: #f60;
    padding: 2px 10px;
    margin-left: 10px
}
.shuru {
    position: relative
}
.triangle_left {
    font-family: simsun;
    font-size: 12px;
    font-style: normal;
    overflow: hidden;
    position: absolute;
    text-shadow: 0 0 2px #ccc;
    height: 12px;
    margin-top: -9px;
    top: 12px;
    _top: 14px;
    width: 6px;
    left: -6px;
    _left: 5px
}
.triangle_left em,
.triangle_left i {
    font-style: normal;
    left: 0;
    position: absolute;
    top: 0
}
.triangle_left em {
    left: 1px;
    color: #ffbb76
}
.triangle_left i {
    left: 2px;
    color: #fffcef;
    text-shadow: none
}
.password_li {
    height: 100px;
    position: relative
}
.password-state {
    position: absolute;
    left: 80px;
    top: 50px
}
.password-state p {
    font-size: 12px;
    color: #666
}
.ziliao {
    height: 95px;
    padding: 17px 0 0 160px;
    position: relative;
    margin-bottom: 30px
}
.ziliao img {
    position: absolute;
    left: 45px;
    top: 0
}
.ziliao .tit {
    font: 20px '微软雅黑';
    color: #404040;
    margin-right: 15px
}
.ziliao p {
    line-height: 30px
}
.ziliao p a {
    display: inline-block;
    margin-right: 10px
}
.ziliao p a:hover {
    text-decoration: underline
}
.verify-success h2 {
    font-size: 16px;
    font-family: "微软雅黑";
    color: #333;
    margin: 0 0 10px 110px
}
.check_email_web {
    width: 350px;
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    top: 80px;
    left: 316px;
    background: #ddd;
    padding: 3px;
    z-index: 10
}
.check_email_con {
    background: #fff
}
.check_email_web .tit {
    height: 26px;
    border-bottom: 1px solid #ccc;
    background: #f2f2f2;
    padding: 0 10px;
    color: #000;
    line-height: 26px
}
.check_email_web .tit h4 {
    color: #404040;
    float: left;
    font-size: 13px;
    font-weight: bold
}
.check_email_web .con {
    padding: 21px 20px 15px
}
.check_email_web .con1 {
    border-bottom: 1px dotted #999;
    padding-bottom: 24px
}
.check_email_web .con1 a {
    display: inline-block;
    width: 78px;
    height: 22px;
    background: #ffa600;
    border: 1px solid #ff7f00;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    text-decoration: none
}
.check_email_web .con1 p {
    margin: 0 0 20px 0;
    color: #404040;
    line-height: 22px;
    width: 310px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: normal
}
.check_email_web .con2 {
    margin: 10px 0 0 0;
    color: #999;
    line-height: 20px
}
.cancel {
    float: right;
    cursor: pointer;
    margin-top: 4px
}
.success_t {
    border-top: 1px solid #f1f1f1;
    padding: 30px 0 0 55px;
    width: 495px
}
.success_t span {
    color: #43b313
}
.mes_email {
    height: 23px;
    background-position: 0 -46px
}
.email_verify-box {
    margin: 0 0 0 120px
}
.email_verify-box p {
    margin-bottom: 30px;
    color: #333;
    font-size: 14px
}
.email_verify-box label {
    margin-right: 10px
}
.email_verify-box .num {
    color: #333;
    font: bold 16px Arial
}
.check_code_e_btn {
    width: 152px
}
.check_phone_web {
    width: 490px;
    left: 250px
}
.check_phone_web .con {
    padding: 10px 0 5px 20px
}
.check_phone_web li {
    padding-bottom: 10px
}
.check_phone_web li.t2 {
    padding-bottom: 20px
}
.check_phone_web li label {
    width: 60px;
    display: inline-block;
    text-align: right;
    color: #333
}
#send_link {
    margin-right: 10px;
    height: 24px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #e9e9e9;
    background: #fafafa;
    width: 90px;
    text-align: center
}
.check_code {
    padding: 0 10px;
    height: 20px;
    height: 24px;
    line-height: 26px
}
.mes_success_email {
    height: 35px;
    background-position: 0 -508px
}
.verify-false {
    padding: 60px 0 30px
}
.reg_false {
    padding: 10px 0 0 0;
    position: relative;
    margin-left: 180px
}
.reg_false img {
    position: absolute;
    left: -100px;
    top: 0;
    display: block;
    width: 80px;
    height: 74px
}
.reg_false .tit {
    font: 20px '微软雅黑';
    color: #404040;
    margin-bottom: 20px
}
.reg_false p {
    line-height: 30px;
    font-size: 14px
}
.reg_false p a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline
}
.phone-check {
    margin: 20px 0;
    border-bottom: 1px dotted #999;
    padding: 0 0 30px 78px
}
.check_email_web_have {
    margin: 20px 0 20px 78px;
    padding-bottom: 10px;
    font-size: 14px
}
.check_email_web_have .con {
    padding: 10px
}
.check_email_web_have .tit {
    color: #000;
    background: url(/img/20130809/register/notice.png) no-repeat;
    padding-left: 28px;
    margin-bottom: 10px
}
.check_email_web_have .con {
    color: #666;
    line-height: 26px
}
.yanzheng {
    margin-left: 80px;
    font-size: 14px
}
.yanzheng .con {
    margin: 20px 0 0;
    line-height: 26px;
    color: #666
}
.agree_btn {
    width: 220px;
    margin-right: 20px
}
.leave_btn {
    width: 220px;
    background: #999;
    color: #fff
}
.explain {
    line-height: 45px;
    height: 45px;
    margin-bottom: 0;
    position: relative;
    margin-left: 370px
}
.explain .explain_txt {
    float: left
}
.explain .explain_txt a {
    text-decoration: underline;
    color: #4ea03a;
    font-weight: bold
}
.explain .help {
    width: 23px;
    height: 45px;
    background: url("https://ssl3.tuniucdn.com/site/images/register/explain_imgs.png") no-repeat 5px 13px;
    float: left;
    cursor: pointer;
    position: relative
}
.explain .help .help_txt {
    width: 270px;
    height: 55px;
    position: absolute;
    top: -47px;
    left: -226px;
    background: url("https://ssl2.tuniucdn.com/site/images/register/explain_imgs.png") no-repeat 0 -60px;
    display: none
}
.explain .check_msg {
    width: 500px;
    height: 30px;
    position: absolute;
    top: 45px;
    left: -257px;
    _left: -270px;
    *left: -267px!important;
    line-height: 30px
}
.explain .color_999 {
    color: #999!important
}
.justForJs {
    background: #fff;
    border: 1px solid #dedede;
    border-top: 0 none
}
.justForJs .list_box {
    padding: 2px 5px
}
.focus_box {
    padding: 2px 5px;
    cursor: pointer;
    background: #63cc34;
    color: #fff
}
.reg_false_box {
    margin: 0 0 0 55px;
    padding-top: 20px
}
.reg_false_box .pic {
    width: 105px;
    height: 105px;
    overflow: hidden;
    margin-right: 10px
}
.reg_false_box .pic img {
    display: block;
    width: 105px;
    height: 105px
}
.reg_false_box .word {
    margin-top: 45px
}
.reg_false_box .word .text {
    font-size: 20px
}
.reg_again_box {
    margin: -30px 0 0 15px
}
.reg_again_box .pic {
    margin-right: 20px
}
.reg_again_box .pic img {
    width: 92px;
    height: 86px
}
.reg_again_box .word {
    padding-top: 40px
}
.reg_again_box .text {
    font-size: 20px
}
.reg_again_box .mess {
    line-height: 26px;
    color: #333;
    margin-bottom: 30px
}
.reg_again_box .phone-check {
    margin: 0;
    padding: 0;
    border: 0
}
.reg_again_box .leave_btn {
    background: #fafafa;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    color: #333;
    width: 175px;
    height: 28px;
    line-height: 28px
}
.phone_validate {
    font-size: 16px;
    color: #333;
    margin-bottom: 45px
}
.phone_validate span {
    color: #67c83b;
    font-size: 20px;
    vertical-align: middle
}
.agreement {
    margin-left: 20px;
    color: #43b313;
    text-decoration: nine;
    border-bottom: 1px dashed #43b313
}
.dyPop {
    width: 700px;
    padding: 5px;
    position: absolute;
    left: 155px;
    top: 0;
    display: none;
    padding: 6px;
    font-size: 12px;
    color: #333;
    line-height: 24px
}
.popping-box-border {
    background: #000;
    height: 100%;
    left: 0;
    filter: alpha(opacity=30);
    opacity: .3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 101
}
.dy_tit {
    background: #fafafa;
    border-bottom: 1px solid #eee;
    height: 35px;
    line-height: 35px;
    text-indent: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #666
}
.dyClose {
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    cursor: pointer
}
.dyPop_con {
    position: relative;
    z-index: 102;
    background: #fff
}
.dyPop_name {
    margin-bottom: 10px
}
.dyPop_mes {
    margin: 0 0 20px 20px
}
.dyPop_mes span {
    color: #fe8300;
    font-weight: bold
}
.dyPop_btn {
    text-align: center
}
.dyPop_btn .retunBtn,
.dyPop_btn .retunBtn span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: url(https://ssl3.tuniu.com/u/user/order/img/return_btn_two.png) no-repeat;
    color: #fff;
    font-weight: bold;
    padding: 0 2px;
    text-decoration: none
}
.dyPop_btn .retunBtn {
    padding-right: 0;
    background-position: left 0;
    margin-right: 20px
}
.dyPop_btn .retunBtn span {
    padding: 0 15px;
    background-position: right 0;
    margin-right: -2px;
    cursor: pointer
}
.dyPop_btn .retunBtn:hover {
    background-position: left -30px;
    text-decoration: none
}
.dyPop_btn .retunBtn span:hover {
    background-position: right -30px
}
.dyPop_btn .dyLink {
    color: #559700;
    position: relative;
    top: -2px;
    text-decoration: underline
}
.wd350 {
    width: 350px
}
.phone_code_div {
    line-height: 52px;
    text-align: center;
    display: inline-block;
    padding: 9px 0
}
.wd155 {
    width: 155px
}
.h40 {
    height: 40px;
    min-height: 40px
}
.head_notice_tips {
    font-size: 18px;
    color: red;
    float: left;
    font: 20px/47px 'microsoft yahei';
    height: 47px;
    padding-left: 20px;
    position: relative;
    top: 10px
}
/*会员中心具体页面——验证手机*/

.f16 {
    font-size: 16px;
}
.yh {
    font-family: "microsoft yahei";
}
.c_333 {
    color: #333;
}
.c_666 {
    color: #666;
}
.c_999 {
    color: #999;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt50 {
    margin-top: 50px;
}
.mt70 {
    margin-top: 70px;
}
.ml96 {
    margin-left: 96px;
}
.ml164{
    margin-left: 126px;
}
.ml20 {
    margin-left: 20px;
}
.ml30 {
    margin-left: 30px;
}
.ml40 {
    margin-left: 40px;
}
.green {
    color: #2e9900;
}
.hide {
    display: none;
}
.veri_icon {
    background: url("/assets/images/user_veri.png") no-repeat;
}
.common_div {
    padding: 10px 10px 10px 30px;
}
.veri_box {
    width: 580px;
    margin: 50px auto 0;
}
.veri_step {
    padding: 60px 320px;
    padding-bottom: 30px;
}
.veri_step_pic {
    background: url("https://passport.tuniu.com/assets/images/verification_tit.png") no-repeat;
    width: 560px;
    height: 20px;
    margin-bottom: 5px;
}
.veri_step_pic1 {
    background-position: 0 0;
}
.veri_step_pic2 {
    background-position: 0 -24px;
}
.veri_step_pic3 {
    background-position: 0 -48px;
}
.veri_step ul {
    width: 565px;
}
.veri_step ul li {
    width: 188px;
    float: left;
    text-align: center;
    color: #999;
}
.veri_step ul li.light {
    color: #43b313;
}
.veri_input,
.veri_dess {
    padding-left: 40px;
}
.veri_btn {
    display: inline-block;
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 15px;
    font-weight: bold;
    margin-bottom: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    font-family: "microsoft yahei";
}
.veri_yellow_btn {
    background: #ff9419;
    color: #fff;
    border: 0 none;
    border-radius: 3px;
}
.veri_yellow_btn:hover {
    background: #ff8800;
    color: #fff;
}
.veri_con {
    margin-left: 250px;
}
.veri_con .s1 {
    color: #666;
    margin-left: 250px;
    margin-bottom: 15px;
}
.veri_con .s1 span {
    font: 16px "microsoft yahei";
}
.veri_con .s2 {
    padding-left: 75px;
}
.veri_dess {
    padding-top: 15px;
    border-top: 1px dashed #eaeaea;
    margin-top: 35px;
}
.veri_dess_tit {
    font-weight: bold;
    color: #999;
    line-height: 24px;
}
.veri_dess_con {
    color: #999;
}
.icon_right {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: 0 0;
    margin-right: 10px;
}
.send_mess a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    background: #f2f2f2;
    border: 1px solid #e8e8e8;
    padding: 0 15px;
    color: #333;
}
.send_mess {
    margin-top: 10px;
}
.send_mess a i {
    color: #2e9900;
    font-style: normal;
}
.send_btn:hover {
    background: #fffaea;
}
.send_mess a.hide {
    display: none;
}
ul.input-list{
    padding-left: 68px;
}
.input-list li {
    clear: both;
    overflow: visible;
    zoom: 1;
    margin-bottom: 10px;
}
.input-list li::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.input-list li.last {
    margin-bottom: 6px;
}
.input-list .input {
    float: left;
    font-family: "microsoft yahei";
    margin-right: 10px;
    vertical-align: middle;
}
.input-list label {
    color: #666;
    display: inline-block;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    text-align: right;
    width: 92px;
}
.input-list .txt-m,
span.txt-m {
    border: 1px solid #ddd;
    color: #666;
    height: 24px;
    line-height: 24px;
    padding: 0px 5px;
    width: 212px;
}
.input-tip {
    display: table;
    float: left;
    position: relative;
    vertical-align: middle;
    width: 280px;
    height: 26px;
    margin-top: 5px;
    line-height: 26px;
}
.err {
    background: url("https://passport.tuniu.com/assets/images/err.png") no-repeat 0 50%;
    padding-left: 20px;
}
.input-tip div {
    display: table-cell;
    top: 50%;
    vertical-align: middle;
    width: 100%;
}
.input-tip span {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    top: -50%;
    color: #666;
}
span.txt-m {
    display: inline-block;
    margin-right: 12px;
}
.input-list .identify_code {
    width: 125px;
}
.input-list .txt_grey {
    color: #999;
}
.identify_img {
    vertical-align: top;
    margin-left: 3px;
}
.input-list .m-verify-code {
    width: 125px;
    margin-right: 3px;
}
.sendToPhone,
.send_link {
    display: inline-block;
    text-align: center;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ddd;
    width: 102px;
    background: #f9f9f9;
}
.send_tip {
    margin-left: 96px;
    color: #999;
}
.plr30 {
    padding: 0 30px;
}
/*验证成功*/

.succ_icon {
    width: 77px;
    height: 65px;
    background-position: 0 -333px;
    margin-right: 10px;
}
.succ_word {
    font-size: 18px;
    color: #333;
    margin-top: 25px;
}
/*修改手机*/

.style_list {
    margin-top: 20px;
}
.style_list li {
    padding: 20px 20px 20px 30px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.style_list .veri_icon {
    margin-right: 20px;
}
.icon_yp {
    display: inline-block;
    width: 34px;
    height: 50px;
    background-position: 0 -31px;
}
.icon_np {
    display: inline-block;
    width: 34px;
    height: 50px;
    background-position: 0 -91px;
}
.icon_phone {
    display: inline-block;
    width: 34px;
    height: 50px;
    background-position: 0 -154px;
}
.icon_email {
    display: inline-block;
    width: 42px;
    height: 40px;
    background-position: 0 -218px;
}
.icon_people {
    display: inline-block;
    width: 39px;
    height: 41px;
    background-position: 0 -274px;
}
.style_list .s1 {
    font: 16px "microsoft yahei";
    color: #333;
    margin: 2px 0 5px;
}
.style_list .s2 {
    color: #bbb;
    max-width: 360px;
}
.style_list .veri_btn {
    margin-top: 5px;
}
.succ_word_more {
    margin-top: 15px;
}.choose-other{
    color: #43b313;
    text-decoration: nine;
    border-bottom: 1px dashed #43b313;
}

/* 国际手机号码 区号 */
.input_div_left{
    position: relative;
    display: inline-block;
    margin-right: 4px;
    width: 222px;
    border: 1px #DEDEDE solid;
    *z-index: 5;
}

.zone_val{
    position: relative;
    display: inline-block;
    padding: 5px 0 5px 10px;
    width: 212px;
    line-height: 14px;
    font-size: 12px;
    background-color: #FFF;
    cursor: pointer;
    z-index: 20;
}
.zone_tri{
    position: absolute;
    top: 11px;
    right: 8px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border: 4px transparent solid;
    border-top: 4px #DDD solid;
    z-index: 22;
}
.zones{
    position: absolute;
    top: 23px;
    left: -1px;
    display: block;
    padding: 8px 10px;
    width: 448px;
    background-color: #FFF;
    border: 1px #DEDEDE solid;
    z-index: 18;
}
.zones_title{
    width: inherit;
    height: 30px;
}
.zones_title ul.ul_zones_title{
    height: 30px;
    border-bottom: 1px #DDD solid;
}
.zones_title ul.ul_zones_title li{
    display: inline;
    float: left;
    margin-right: 1px;
    margin-bottom: 0;
    padding: 0 2.43px;
    height: 30px;
    line-height: 30px;
    background-color: #FFF;
    border-left: 1px #FFF solid;
    border-right: 1px #FFF solid;
    font-size: 12px;
    clear: none;
    cursor: pointer;
}
.zones_title ul.ul_zones_title li.li_active{
    margin-bottom: 0;
    height: 29px;
    line-height: 26px;
    border-top: 2px #43B311 solid;
    border-left: 1px #DDD solid;
    border-right: 1px #DDD solid;
}
.zones_tabcont{
    margin-top: 6px;
    width: inherit;
}
.zones_tabcont ul.ul_tabcont{
    *overflow: hidden;
    *zoom: 1;
}
.zones_tabcont ul.ul_tabcont:after{
    display: table;
    width: 0;
    content: "";
    clear: both;
}
.zones_tabcont ul.ul_tabcont li{
    overflow: visible;
    display: inline;
    float: left;
    margin: 3px 8px;
    margin-left: 0;
    padding: 1px 0;
    width: 106px;
    font-size: 12px;
    white-space: nowrap;
    clear: none;
    cursor: pointer;
}
.zones_tabcont ul.ul_tabcont li:hover{
    color: #895;
}
.zones_tabcont ul.ul_tabcont li.li_clicked{
    color: #895;
}