.icon.favourable-icon{background-position:-86px -50px;height:24px;width:24px;vertical-align:middle;margin-right:3px;display:inline-block}.m-favourable .modular-body{margin-bottom:20px}.m-favourable .list
li{padding:10px
0;line-height:24px;border-bottom:1px dotted #ddd;overflow:visible;font-size:0}.m-favourable .list li.no-border{border-bottom:0}.m-favourable .list li
span{display:inline-block;*display:inline;*zoom:1}.m-favourable .list li>span{font-size:14px;vertical-align:top}.m-favourable .list
.col1{width:180px}.m-favourable .list
.col2{width:390px;margin-right:50px}.m-favourable .list
.col3{width:120px;text-align:left}.m-favourable .list .T_tour_coupon
.col3{width:141px;color:#333!important}.m-favourable .list
.col4{margin-left:15px}.m-favourable .list .T_tour_coupon
.col4{display:inline;margin-left:0}.m-favourable .list .list_row
.col1{color:#666}.m-favourable .list .list_row
.col2{position:relative;color:#333}.m-favourable .list .list_row .col2 .resources-detail{left:-201px;margin-top:10px}.m-favourable .list .list_row .col2 .resources-detail .white-triangle{left:205px}.m-favourable .list .list_row
.col3{color:#f80}.m-favourable .list .list_row
.col4{}.m-favourable .list
.coupon_unlogin_tip{width:500px;color:#333}.m-favourable
.coupon_add_form{}.m-favourable
.coupon_add_inp{width:166px;height:22px;padding-left:5px;border:1px
solid #ccc;line-height:22px;font-size:12px}.m-favourable
.coupon_add_btn{display:inline-block;width:70px;height:24px;line-height:24px;margin-left:7px;background:#f80;color:#fff;font-size:14px;text-align:center;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px}.m-favourable
.coupon_login_btn{margin:0
3px;color:#22c233}.m-favourable .list
.J_travel_coupon{width:64px;height:22px;line-height:22px;padding-left:5px;border:1px
solid #ddd;font-size:12px}.m-favourable
.J_tavelPromotionCharge{float:right}.m-favourable .list .coupon_detail
p{font-size:14px;color:#333}.m-favourable .list .coupon_detail
a{text-decoration:underline}.m-favourable .list .coupon_detail
table{width:100%}.m-favourable .list .coupon_detail table thead
tr{border-top:2px solid #b3b3b3}.m-favourable .list .coupon_detail table thead
td{background:#f5f5f5}.m-favourable .list .coupon_detail table
td{background:#fff;height:43px;line-height:43px}.m-favourable .list .coupon_detail
.note{color:#999}.m-favourable .list
.list_detail{position:relative;padding:10px
20px;line-height:1.5;height:auto;border:1px
solid #ffdbb2;background-color:#fffceb;font-size:14px;color:#666;margin:10px
-20px 0}.m-favourable .list .list_detail .j, .m-favourable .list .list_detail
.k{font-size:40px;z-index:1;left:200px;position:absolute;height:10px}.m-favourable .list .list_detail
.j{top:-31px;color:#fffceb;z-index:2}.m-favourable .list .list_detail
.k{top:-32px;color:#ffdbb2}.m-favourable .list .list_detail
dt{font-size:14px;font-weight:bold;color:#333}.m-favourable .list .list_detail
a{color:#22c233;display:inline-block;*display:inline;*zoom:1}.m-favourable .list .list_detail
.icon{position:absolute;top:-6px;left:225px}.returnCash .jtxz-detail2{left:26px !important}.m-favourable .list .list_detail
table{border:1px
solid #bcbcbc}.m-favourable .list .list_detail table
td{border:1px
solid #bcbcbc;padding:5px
10px}.m-favourable .list .list_detail p
span{vertical-align:middle}.m-favourable .list .list_detail p
span{vertical-align:middle;height:auto;text-align:left;white-space:inherit}.m-favourable
.coupon_detail{margin-top:30px}.m-favourable .list .dev-address{color:#666;width:500px;overflow:hidden;text-align:left;text-overflow:ellipsis}.m-favourable .list .last-fan-zen{height:auto}.m-favourable .last-fan-zen
#J_change_address{width:100px}.m-favourable .last-fan-zen .dev-address-notice{color:#666;vertical-align:middle}.favourable .list .last-fan-zen
.col2{width:500px}#m-favourable
.bottom_row{padding-left:10px!important;background:#fffced;border:1px
solid #f3dbba;margin-top:20px;color:#999;font-size:14px}.m-favourable .bottom_row
dl{font-size:12px;color:#666;line-height:22px}.m-favourable .bottom_row
dt{margin-bottom:5px}.m-favourable .bottom_row dt
em{font-weight:bold}.m-favourable .bottom_row dd
span{color:#333;margin-right:20px;display:inline}.m-favourable .bottom_row dd
em{color:#f80;margin-left:5px}.charge_dialog{width:400px;padding:10px;background:#fff;font-family:"microsoft yahei"}.charge_dialog
.charge_dialog_box{padding-top:15px}.charge_dialog
.charge_dialog_tip{color:#999;font-size:12px}.charge_dialog
.charge_dialog_tip{height:48px;padding:0
20px;background:#f8f8f8;color:#999;line-height:24px}.charge_dialog .xubox_botton .xubox_botton2,
.charge_dialog .xubox_botton
.xubox_botton3{width:104px;height:32px;line-height:32px;font-size:14px;font-family:"microsoft yahei";-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}.charge_dialog .xubox_botton
.xubox_botton2{margin-left:-110px;border:1px
solid #f80;background:#f80;color:#fff}.charge_dialog .xubox_botton
.xubox_botton3{border:1px
solid #ddd;background:#fff !important;color:#333}.charge_dialog
.ord_form_row{color:#666;line-height:30px;font-size:14px}.charge_dialog .ord_form_row
td{padding-bottom:20px}.charge_dialog
.ord_form_col_label{width:127px;text-align:right}.charge_dialog .ord_form_col_label
strong{color:#fb3a3a}.charge_dialog
.ord_form_col_input{width:200px}.charge_dialog
.ord_form_input{position:relative;height:28px;border:1px
solid #ddd;line-height:28px;font-size:12px}.charge_dialog .ord_form_row_error
.ord_form_input{border-color:#e67382}.charge_dialog
.ord_form_placeholder{position:absolute;z-index:1;left:0;top:0;color:#999;padding:0
10px}.charge_dialog
.ord_form_ctrl_input{position:relative;z-index:1;width:168px;padding:5px
10px;border:none;background:url(http://img.tuniucdn.com/img/20150101/common/alpha.gif) repeat;line-height:18px}.charge_dialog
.ord_form_error{color:#666}.charge_dialog .ord_form_error
a{color:#22c233}.charge_dialog .ord_form_save
a{display:block;width:74px;height:30px;background:#ff9419;color:#fff;text-align:center;line-height:30px;font-size:14px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}.bind-cards{display:inline-block;width:70px;height:24px;background:#f80;color:#fff;line-height:24px;font-size:14px;text-align:center;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;cursor:pointer}.bind-cards-bar{display:block;width:700px;height:286px;background-color:#FFF;z-index:999}.bind-cards-bar
a.no{position:absolute;top:-11px;right:-11px;display:block;width:20px;height:20px;background-image:url("//ssl.tuniucdn.com/img/201508161538/user_center_v2/alertclose_btn.png");cursor:pointer}.bind-cards-bar
p.title_bg{position:relative;top:0;left:0;margin-top:30px;margin-left:36px;font-size:16px}.bind-cards-bar
.content{position:relative;top:0;left:0;margin-top:20px;margin-left:36px;font-size:14px;width:664px}.bind-cards-bar .content
aside{position:relative;float:right;width:300px;height:180px;margin-right:36px;text-align:center}.bind-cards-bar .content
img.imghezuokalogo{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;max-width:100%;max-height:100%}.bind-cards-bar .content
main{float:left;width:300px}.bind-cards-bar .content
.type{}.bind-cards-bar .content .type
span{display:inline-block;line-height:23px}.bind-cards-bar .content .type
select.select_type{display:block;max-width:100%}.bind-cards-bar .content .type
option{}.bind-cards-bar .content
.num{margin-top:20px}.bind-cards-bar .content .num
span{display:inline-block;line-height:23px}.bind-cards-bar .content .num
input.card_num{display:block;width:170px}.bind-cards-bar .content
p#err_card{}.bind-cards-bar .content
a.yes{margin-top:30px;padding:0;width:170px;height:30px;line-height:30px;text-align:center;font-size:14px;font-weight:normal;background-color:#CCC;border-radius:6px}.bind-cards-bar .content
a.yes_done{background-color:#FF9419}.bind-cards-bar .content
img.imghezuokalogo2{position:absolute;top:28px;left:60px}.bind-cards-bar .content
h2.h2_hezuo{position:absolute;top:56px;left:220px;font-size:26px}.bind-cards-bar .content
h3.h3_hezuo{position:absolute;top:104px;left:270px;font-size:12px;color:#888}.bind-cards-bar .content
img.imghezuokalogo3{position:absolute;top:112px;left:54px}.bind-cards-bar .content
h4.h4_hezuo{position:absolute;top:40px;left:138px;font-size:20px}.bind-cards-bar .content
h5.h5_hezuo{position:absolute;top:68px;left:138px;font-size:20px}.bind-cards-bar .content
a.noIknow{position:absolute;top:200px;left:300px;display:block;width:100px;height:30px;line-height:30px;text-align:center;font-size:14px;background-color:#FF9500;border-radius:6px;color:#FFF;cursor:pointer}.yellow_btn{display:inline-block;height:30px;text-align:center;background:#ff9419;font:bold 16px/30px "microsoft yahei";padding:0
20px;color:#fff;border:0
none;cursor:pointer}.coupon_dialog{background:#fff;z-index:9999}.coupon_dialog
.rc_common_trave_box{width:460px;padding:15px;margin:0
auto}.coupon_dialog .rcLoadingImg-1{background-color:#fff;opacity:0.5;filter:alpha(opacity=50);width:236px;height:372px;position:absolute;top:0;left:0;display:none}.coupon_dialog .rcLoadingImg-2{position:absolute;top:150px;left:82px;display:none}.coupon_dialog .T-note{padding:10px;background-color:#fffceb;border:1px
solid #ffebce}.coupon_dialog
.show_error{height:36px;line-height:36px;color:#f00}.coupon_dialog
.rc_common_input{width:90px;height:24px;border:1px
solid #ddd;padding:2px
5px;line-height:30px}.coupon_dialog
.rc_ableBtn{width:206px;height:30px;cursor:pointer;border:none;line-height:30px;background-color:#f80;border-radius:3px;color:#fff;font-size:16px;text-align:center;margin-top:25px}.coupon_dialog
.rc_ableBtn.disable{background-color:#eee}.coupon_dialog dd
.rc_ableBtn{margin-top:0;margin-left:10px;width:auto;padding:0
10px}.coupon_dialog dd
.disabled{background:#aaa;color:#fff;cursor:not-allowed}.coupon_dialog
.rc_w_s{width:360px;margin:0
auto}.coupon_dialog .rc_double_col dt,.coupon_dialog .rc_double_col
dd{float:left}.coupon_dialog .rc_double_col
dt{height:30px;line-height:30px}.coupon_dialog .rc_double_col
dd{line-height:30px}.coupon_dialog
.login_submit{text-align:center}.coupon_dialog
.rc_reg{border-top:1px dotted #dcdcdc;padding:8px
0 0 0}.coupon_dialog
.rc_g_color{color:#22c233;line-height:16px}