.icon.insurance-icon{background-position:-39px -50px;height:24px;width:24px;vertical-align:middle;margin-right:3px;display:inline-block}#m-insurance .modular-body{margin-bottom:25px}.m-insurance
.panel{position:relative;padding:12px
0px;line-height:16px;font-size:0}.m-insurance .panel.has-border{border-bottom:1px dotted #ddd}.m-insurance
.panel.last{border-bottom:none}.m-insurance .panel>span{display:inline-block;*display:inline;*zoom:1;font-size:14px;vertical-align:middle}.m-insurance .panel
.type{width:180px}.m-insurance .panel
.name{width:390px;margin-right:50px}.m-insurance .panel .name>em{cursor:pointer}.m-insurance .panel .name .resources-detail{left:-20px;margin-top:15px}.m-insurance .panel .name .resources-detail .white-triangle{left:210px}.m-insurance .panel
.price{width:120px}.m-insurance .panel .price
em{color:#f60}.m-insurance .panel .select-box{color:#f60;margin-left:15px}.m-insurance .more-insurance{padding:6px
0;text-align:center;background:#f6f6f6;margin-top:15px;font-size:14px;color:#22c233;cursor:pointer}