.check_order{margin:0
auto;width:795px;height:auto;background:#fff}.order_table_content{margin-top:20px;overflow:auto;height:195px}.check_order
.order_list{padding:15px}.check_order
.tit{border-bottom:1px solid #eee;padding-bottom:15px}.check_order
h2.tit_list{float:left;font-size:18px;color:#999}.check_order
span.tit_list{float:right;font-family:microsoft yahei;font-size:14px;cursor:pointer;width:20px;height:20px;font-size:0;background:url(http://img.tuniucdn.com/img/201505140148/bookOnline/gentuan_icon.png) no-repeat;background-position:-29px -144px}.check_order
.tab_order_item{color:#666}.check_order .tab_order_item
td{border:1px
solid #e5e5e5;padding:10px
0;text-align:center}.check_order .tab_order_item
.w1{width:10%}.check_order .tab_order_item
.w2{width:30%;text-align:left;line-height:22px}.check_order
.gray{color:#999}.check_order
.order_orange{color:#ff8702}.check_order
.order_tip{margin-top:30px}.check_order
.order_btn{margin:0
auto;text-align:center;width:96px;color:#fff;font-size:14px;font-family:microsoft yahei}.check_order .order_btn
a{display:block;color:#fff;padding:10px
0;background:#fe883e;border-radius:3px;margin-top:40px}.check_order
.T_order_btn{margin:0
auto;text-align:center;width:96px;color:#fff;font-size:14px;font-family:microsoft yahei}.check_order .T_order_btn
a{display:block;color:#fff;padding:10px
0;background:#fe883e;border-radius:3px;margin-top:40px}.check_order
.order_link{margin-top:5px}.check_order
.pre_tip{margin-top:40px}.check_order
.td_list{padding:0
15px}.check_order
.order_cont{padding:0
20px}.check_order
.order_green{color:#22c233}