.m-transport{}.m-transport h2 .jtxz-detail-hover{line-height:1}.m-transport h2 .jtxz-detail2{width:500px}.m-transport
.info_box{margin-top:10px;border:1px
solid #ffdbb2;padding:8px
20px;line-height:22px;background-color:#fffceb;font-size:14px;color:#333}.m-transport .modular-body .tab_list
.tab_list_header{position:relative;height:41px;width:100%;line-height:41px;border-top:1px dotted #ddd;overflow:visible;font-size:0}.m-transport .modular-body .tab_list .tab_list_header>span{font-size:14px}.m-transport .modular-body .tab_list .tab_list_header:first-child{border-top:0}.m-transport .modular-body
.tab_list{padding-bottom:10px}.m-transport .modular-body .tab_list .tab_list_header
span{display:inline-block}.m-transport .modular-body .tab_list .tab-header
span{color:#666}.m-transport .modular-body .tab_list .tab_list_header
.col_1{width:180px}.m-transport .modular-body .tab_list .tab_list_header
.col_2{width:390px;margin-right:50px;text-align:left;vertical-align:top}.m-transport .modular-body .tab_list .tab_list_header .col_2 .resources-detail{left:-20px}.m-transport .modular-body .tab_list .tab_list_header .col_2 .resources-detail .white-triangle{left:210px}.m-transport .city-list{overflow:hidden}.m-transport .city-list
li{float:left;width:70px;margin-bottom:10px}.m-transport .book-notice{white-space:pre-wrap}.m-transport .modular-body .tab_list .tab_list_header
.col_3{width:120px}.m-transport .tab_list .tab_list_header.tab-body
.col_3{color:#f80}.m-transport .modular-body .tab_list .tab_list_header
.col_4{margin-left:15px}.m-transport .modular-body .tab_list .tab-header
.col_4{margin-left:5px}.m-transport .modular-body .tab_list
.list_detail{width:100%;height:auto;background:#fffceb;border:1px
solid #ffdbb2;display:none}.m-transport .modular-body .tab_list .list_detail
.list_detail_ul{padding:0
25px}.m-transport .modular-body .tab_list .list_detail .list_detail_ul
.mt10{line-height:20px;margin-top:10px}.m-transport .modular-body .tab_list .list_detail
.icon{margin-bottom:9px;color:red;z-index:999;position:absolute}.m-transport .modular-body .tab_list .tab_list_header .col_4 .input_checkbox.enable
.tab_fontface{background-color:#F80}